First, import needed modules

In [1]:
import numpy as np
import pandas as pd
import os

Initalize variables

In [2]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import datasets

In [3]:
import chardet
with open(f'{path}/data/elections/btw/es/btw21_es.csv', 'rb') as file:
    print(chardet.detect(file.read()))

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

In [4]:
btw02_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW02_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})

btw02_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW02_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_83649/1795473645.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_83649/1795473645.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_83649/1795473645.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_83649/1795473645.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_83649/1795473645.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_83649/1795473645.py:9: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_83649/1795473645.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_83649/1795473645.py:11: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})

View the data

In [5]:
btw17_es.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Kennziffer Briefwahlzugehörigkeit,Wahlbezirk,Bezirksart,Wahlberechtigte (A),...,Bündnis C,DIE EINHEIT,DIE VIOLETTEN,FAMILIE,DIE FRAUEN,MIETERPARTEI,Neue Liberale,UNABHÄNGIGE,WGr/EB,Ungekürzte Wahlbezirksbezeichnung
0,1,01,0,01,0,000,00,000001,0,1670,...,0,0,0,0,0,0,0,0,7,–
1,1,01,0,01,0,000,00,000002,0,1671,...,0,0,0,0,0,0,0,0,6,–
2,1,01,0,01,0,000,00,000003,0,1603,...,0,0,0,0,0,0,0,0,1,–
3,1,01,0,01,0,000,00,000004,0,1497,...,0,0,0,0,0,0,0,0,5,–
4,1,01,0,01,0,000,00,000005,0,1251,...,0,0,0,0,0,0,0,0,4,–

Add year column to dataframes

In [6]:
dfs = [btw02_es, btw05_es, btw09_es, btw13_es, btw17_es, btw02_zs, btw05_zs, btw09_zs, btw13_zs, btw17_zs]
years = [2002, 2005, 2009, 2013, 2017, 2002, 2005, 2009, 2013, 2017]
for df, year in zip(dfs, years):
    df.insert(loc=0, column='year', value=year)

In [7]:
btw17_zs.head()

,year,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Kennziffer Briefwahlzugehörigkeit,Wahlbezirk,Bezirksart,...,DKP,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³,Ungekürzte Wahlbezirksbezeichnung
0,2017,1,01,0,01,0,000,00,000001,0,...,0,0,0,0,0,0,0,0,0,–
1,2017,1,01,0,01,0,000,00,000002,0,...,0,0,0,0,0,0,0,0,0,–
2,2017,1,01,0,01,0,000,00,000003,0,...,0,0,0,0,0,0,0,0,0,–
3,2017,1,01,0,01,0,000,00,000004,0,...,0,0,0,0,0,0,0,0,0,–
4,2017,1,01,0,01,0,000,00,000005,0,...,0,0,0,0,0,0,0,0,0,–

Since some municipalities share a ballot vote election board, in this case, postal ballots cannot be attributed to a single municipality. 
In the 2002 to 2017 data, these cases were signified with '999' as Gemeindekennziffer. From 2017 on the Gemeindekennziffer is given by 9 + Kennziffer Briefwahlzugehörigkeit.

To drop the 999 Gemeinde in for 2002-2013, first append these dataframes

In [8]:
dfs = [btw02_es, btw05_es, btw09_es, btw13_es]
btw0213_es = pd.concat(dfs, sort=False)
dfs = [btw02_zs, btw05_zs, btw09_zs, btw13_zs]
btw0213_zs = pd.concat(dfs, sort=False)
btw0213_zs.head()

,year,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Wahlbezirk,Bezirksart,Wahlberechtigte (A),...,ÖDP,Bündnis 21/RRP,AfD,BIG,pro Deutschland,DIE RECHTE,FREIE WÄHLER,Partei der Nichtwähler,PARTEI DER VERNUNFT,Die PARTEI
0,2002,1,01,0,01,0,000,1,0,1463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002,1,01,0,01,0,000,2,0,1245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,1,01,0,01,0,000,3,0,1399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002,1,01,0,01,0,000,4,0,1031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002,1,01,0,01,0,000,5,0,1023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Then drop all observations with Gemeinde == 999

In [9]:
btw0213_es = btw0213_es[btw0213_es['Gemeinde'] != '999']
btw0213_zs = btw0213_zs[btw0213_zs['Gemeinde'] != '999']

For 2017, drop all observations where Gemeinde == 9 + Kennziffer Briefwahlzugehörigkeit

In [10]:
btw17_es = btw17_es[btw17_es['Gemeinde'] != '9' + btw17_es['Kennziffer Briefwahlzugehörigkeit']]
btw17_zs = btw17_zs[btw17_zs['Gemeinde'] != '9' + btw17_zs['Kennziffer Briefwahlzugehörigkeit']]

Now contatenate the dfs for 2002-13 with 2017 and 21

In [11]:
dfs = [btw0213_es, btw17_es]
btw_es = pd.concat(dfs, sort=False)
dfs = [btw0213_zs, btw17_zs]
btw_zs = pd.concat(dfs, sort=False)

Create the AGS, it follows the scheme ll r kk ggg (Land, Regierunsbezirk, Kreis, Gemeinde) -> combine these columns

In [12]:
btw_es.insert(loc=0, column='AGS', value=0)
btw_es['AGS'] = btw_es['Land'] + btw_es['Regierungsbezirk'] + btw_es['Kreis'] + btw_es['Gemeinde']
btw_zs.insert(loc=0, column='AGS', value=0)
btw_zs['AGS'] = btw_zs['Land'] + btw_zs['Regierungsbezirk'] + btw_zs['Kreis'] + btw_zs['Gemeinde']
btw_zs.head()

,AGS,year,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Wahlbezirk,Bezirksart,...,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³,Ungekürzte Wahlbezirksbezeichnung
0,01001000,2002,1,01,0,01,0,000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01001000,2002,1,01,0,01,0,000,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01001000,2002,1,01,0,01,0,000,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01001000,2002,1,01,0,01,0,000,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01001000,2002,1,01,0,01,0,000,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Since there is only one polygon with the AGS 11000000 for Berlin, replace AGS values here

In [13]:
btw_es['AGS'] = np.where(btw_es['Land'] == '11', '11000000', btw_es['AGS']) #if condition, = 110..., else AGS
btw_zs['AGS'] = np.where(btw_zs['Land'] == '11', '11000000', btw_es['AGS'])

Collapse data along AGS column, sums votes over all constituencies in a municipality

In [14]:
btw_es = btw_es.groupby(['AGS', 'year', 'Land'], as_index=False).sum()
btw_zs = btw_zs.groupby(['AGS', 'year', 'Land'], as_index=False).sum()
btw_zs.head()

,AGS,year,Land,Wahlkreis,Verbandsgemeinde,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),Wahlberechtigte nach § 25 Abs. 2 BWO (A3),...,BGE,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³
0,01001000,2002,01,53,0,35,65740,57788,7949,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01001000,2005,01,53,0,35,66970,58379,8591,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01001000,2009,01,58,1500,55,60283,53341,6942,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01001000,2013,01,56,0,60,70321,60755,9566,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01001000,2017,01,56,0,60,70105,57929,12176,0.0,...,422.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Add indicator for Erst- und Zweitstimme

In [15]:
dfs = [btw_es, btw_zs]
eszs = ['Erststimme', 'Zweitstimme']
for df, stimme in zip(dfs, eszs):
    df.insert(loc=2, column=stimme, value=1)

In [16]:
btw_zs.head()

,AGS,year,Zweitstimme,Land,Wahlkreis,Verbandsgemeinde,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),...,BGE,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³
0,01001000,2002,1,01,53,0,35,65740,57788,7949,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01001000,2005,1,01,53,0,35,66970,58379,8591,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01001000,2009,1,01,58,1500,55,60283,53341,6942,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01001000,2013,1,01,56,0,60,70321,60755,9566,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01001000,2017,1,01,56,0,60,70105,57929,12176,...,422.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ES: Sum votes for other, Union and Die Linke parties

In [17]:
# list(btw_es.columns)

In [18]:
andere = [ 'REP',
 'GRAUE',
 'TIERSCHUTZ',
 'NPD',
 'ÖDP',
 'PBC',
 'FRAUEN',
 'BP',
 'FAMILIE',
 'CM',
 'BÜSO',
 'HP',
 'VIOLETTEN',
 'AUFBRUCH',
 'ZENTRUM',
 'KPD',
 'PRG',
 'SCHILL',
 'DEUTSCHLAND',
 'DKP',
 'DSU',
 'FP D',
 'ÜBRIGE',
 'Offensive D',
 'Die Tierschutzpartei',
 'DIE FRAUEN',
 'BüSo',
 'Deutschland',
 'AGFG',
 'APPD',
 'MLPD',
 'DIE PARTEI',
 'HUMANWIRTSCHAFTSPARTEI',
 'STATT Partei',
 'UNABHÄNGIGE',
 'Übrige',
 'Volksabstimmung',
 'ADM',
 'DIE VIOLETTEN',
 'ödp',
 'PIRATEN',
 'RRP',
 'Freie Union',
 'Tierschutzpartei',
 'Bündnis 21/RRP',
 'RENTNER',
 'AfD',
 'BIG',
 'pro Deutschland',
 'FREIE WÄHLER',
 'PARTEI DER VERNUNFT',
 'Die PARTEI',
 'Bergpartei',
 'BGD',
 'NEIN',
 'WGr/EB',
 'PDV',
 'SGP',
 'DIE RECHTE',
 'Tierschutzallianz',
 'B*',
 'Die Grauen',
 'du',
 'MG',
 'MENSCHLICHE WELT',
 'Gesundheitsforschung',
 'V-Partei³',
 'Bündnis C',
 'DIE EINHEIT',
 'MIETERPARTEI',
 'Neue Liberale']
btw_es['Andere'] = btw_es[andere].sum(axis=1) # sum votes for 'Other' Parties
union = ['CDU', 'CSU']
btw_es['Union'] = btw_es[union].sum(axis=1) # sum votes for 'Union' Parties
linke = ['Die Linke', 'DIE LINKE', 'PDS']
btw_es['Linke'] = btw_es[linke].sum(axis=1) # sum votes for 'Linke' Parties
invalid = ['Ungültige', 'Ungültig']
btw_es['Ungültig'] = btw_es[invalid].sum(axis=1) # sum invalid votes
valid = ['Gültige', 'Gültig']

ZS: Sum votes for other, Union and DIE LINKE parties

In [19]:
# list(btw_zs.columns)

In [20]:
andere = [ 'REP',
 'GRAUE',
 'Tierschutz',
 'NPD',
 'ödp',
 'PBC',
 'FRAUEN',
 'BP',
 'FAMILIE',
 'CM',
 'BüSo',
 'HP',
 'Violetten',
 'AUFBRUCH',
 'ZENTRUM',
 'KPD',
 'PRG',
 'Schill',
 'Offensive D',
 'Die Tierschutzpartei',
 'DIE FRAUEN',
 'Deutschland',
 'AGFG',
 'APPD',
 '50plus',
 'MLPD',
 'Die Partei',
 'PSG',
 'Pro DM',
 'Volksabstimmung',
 'ADM',
 'DKP',
 'DVU',
 'DIE VIOLETTEN',
 'FWD',
 'PIRATEN',
 'RRP',
 'RENTNER',
 'Tierschutzpartei',
 'ÖDP',
 'Bündnis 21/RRP',
 'AfD',
 'BIG',
 'pro Deutschland',
 'DIE RECHTE',
 'FREIE WÄHLER',
 'Partei der Nichtwähler',
 'PARTEI DER VERNUNFT',
 'Die PARTEI',
 'PDV',
 'SGP',
 'AD-DEMOKRATEN',
 'Tierschutzallianz',
 'B*',
 'BGE',
 'DiB',
 'DM',
 'Die Grauen',
 'du.',
 'MG',
 'MENSCHLICHE WELT',
 'Die Humanisten',
 'Gesundheitsforschung',
 'V-Partei³']
btw_zs['Andere'] = btw_zs[andere].sum(axis=1) # sum votes for 'Other' Parties
union = ['CDU', 'CSU']
btw_zs['Union'] = btw_zs[union].sum(axis=1) # sum votes for 'Union' Parties
linke = ['Die Linke', 'DIE LINKE', 'PDS']
btw_zs['Linke'] = btw_zs[linke].sum(axis=1) # sum votes for 'Linke' Parties
invalid = ['Ungültige', 'Ungültig']
btw_zs['Ungültig'] = btw_zs[invalid].sum(axis=1) # sum invalid votes

Concatenate Erst- and Zweitstimme datasets

In [21]:
dfs = [btw_es, btw_zs]
btw = pd.concat(dfs, sort=False)
btw = btw.sort_values(['AGS', 'year'])
btw.head(12)

,AGS,year,Erststimme,Land,Wahlkreis,Verbandsgemeinde,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),...,Pro DM,DVU,FWD,Partei der Nichtwähler,AD-DEMOKRATEN,BGE,DiB,DM,du.,Die Humanisten
0,01001000,2002,1.0,01,53,0,35,65740,57788,7949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,01001000,2002,NaN,01,53,0,35,65740,57788,7949,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01001000,2005,1.0,01,53,0,35,66970,58379,8591,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01001000,2005,NaN,01,53,0,35,66970,58379,8591,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01001000,2009,1.0,01,58,0,60,69075,60983,8092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01001000,2009,NaN,01,58,1500,55,60283,53341,6942,...,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01001000,2013,1.0,01,56,0,60,70321,60755,9566,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01001000,2013,NaN,01,56,0,60,70321,60755,9566,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01001000,2017,1.0,01,56,0,60,70105,57929,12176,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01001000,2017,NaN,01,56,0,60,70105,57929,12176,...,0.0,0.0,0.0,0.0,0.0,422.0,0.0,0.0,0.0,0.0
5,01002000,2002,1.0,01,915,0,135,176468,149808,26600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01002000,2002,NaN,01,915,0,135,176468,149808,26600,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Add post-treatment indicator

In [22]:
btw = btw.copy() #defragment df
years = [2017, 2013, 2009, 2005]
for year in years:
    btw.insert(loc=3, column=f'post_{year}', value=0)
    btw[f'post_{year}'] = np.where(btw['year'] >= year, 1, 0)
btw.head(10)

,AGS,year,Erststimme,post_2005,post_2009,post_2013,post_2017,Land,Wahlkreis,Verbandsgemeinde,...,Pro DM,DVU,FWD,Partei der Nichtwähler,AD-DEMOKRATEN,BGE,DiB,DM,du.,Die Humanisten
0,01001000,2002,1.0,0,0,0,0,01,53,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,01001000,2002,NaN,0,0,0,0,01,53,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01001000,2005,1.0,1,0,0,0,01,53,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01001000,2005,NaN,1,0,0,0,01,53,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01001000,2009,1.0,1,1,0,0,01,58,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01001000,2009,NaN,1,1,0,0,01,58,1500,...,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01001000,2013,1.0,1,1,1,0,01,56,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01001000,2013,NaN,1,1,1,0,01,56,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01001000,2017,1.0,1,1,1,1,01,56,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01001000,2017,NaN,1,1,1,1,01,56,0,...,0.0,0.0,0.0,0.0,0.0,422.0,0.0,0.0,0.0,0.0

Drop not needed columns and rename

In [23]:
btw.rename(columns = {'Wahlberechtigte (A)':'Wahlberechtigte', 'GRÜNE': 'Grüne', 'Wähler (B)': 'Wähler'}, inplace = True)
btw = btw[['AGS', 'year', 'post_2005', 'post_2009', 'post_2013', 'post_2017', 'Land', 'Erststimme', 'Zweitstimme', 'Wahlberechtigte', 'Wähler', 'Gültig', 'Ungültig', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']]
btw.head(10)

,AGS,year,post_2005,post_2009,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wahlberechtigte,Wähler,Gültig,Ungültig,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,2002,0,0,0,0,01,1.0,NaN,65740,49054,48551.0,503.0,16418,26309,2038,759.0,2833,194.0
0,01001000,2002,0,0,0,0,01,NaN,1.0,65740,49054,48553.0,501.0,14362,23396,3424,859.0,5556,956.0
1,01001000,2005,1,0,0,0,01,1.0,NaN,66970,49002,48244.0,758.0,16954,24261,1601,2312.0,2729,387.0
1,01001000,2005,1,0,0,0,01,NaN,1.0,66970,49002,48235.0,767.0,13910,21000,4196,3066.0,5028,1035.0
2,01001000,2009,1,1,0,0,01,1.0,NaN,69075,46583,45379.0,1204.0,13859,16552,4253,4697.0,5520,498.0
2,01001000,2009,1,1,0,0,01,NaN,1.0,60283,40926,39868.0,1058.0,10382,11446,5603,4275.0,6204,1958.0
3,01001000,2013,1,1,1,0,01,1.0,NaN,70321,46827,46238.0,589.0,15647,18915,807,3250.0,4533,3086.0
3,01001000,2013,1,1,1,0,01,NaN,1.0,70321,46827,46265.0,562.0,14136,16480,2061,3780.0,5507,4301.0
4,01001000,2017,1,1,1,1,01,1.0,NaN,70105,49694,0.0,485.0,15140,15175,3421,5316.0,5958,4199.0
4,01001000,2017,1,1,1,1,01,NaN,1.0,70105,49694,0.0,423.0,13382,12142,5073,5699.0,7416,5559.0

Since vote percentages are calculated based on the 'valid' votes and there are some rows with valid == 0, calculate the vote shares for these (Voters - Invalid)

In [24]:
btw['Gültig'] = np.where(btw['Gültig'] == 0, btw['Wähler'] - btw['Ungültig'], btw['Gültig'])

Check summation of party and invalid votes

In [25]:
parties = ['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'Ungültig']
btw['votes'] = btw[parties].sum(axis=1)
btw['votes'] = btw['votes'].astype(int) #convert to integer
btw['ok'] = btw['votes'] == btw['Wähler']  # check if votes == Wähler
print(btw['ok'].describe())
btw.drop(['votes', 'ok'], axis=1, inplace=True)

count     119706
unique         1
top         True
freq      119706
Name: ok, dtype: object

Check summation of valid and invalid votes

In [26]:
votes = ['Gültig', 'Ungültig']
btw['votes'] = btw[votes].sum(axis=1)
btw['votes'] = btw['votes'].astype(int) #convert to integer
btw['ok'] = btw['votes'] == btw['Wähler']  # check if votes == Wähler
print(btw['ok'].describe())
btw.drop(['votes', 'ok', 'Ungültig'], axis=1, inplace=True)

count     119706
unique         1
top         True
freq      119706
Name: ok, dtype: object

Calculate vote shares in percent

In [27]:
parties = ['Union',	'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']
for party in parties:
    btw.loc[:, party] = (btw[party] / btw['Gültig'])*100
btw.loc[:, 'Wähler'] = (btw['Wähler'] / btw['Wahlberechtigte'])*100
btw.head(10)

,AGS,year,post_2005,post_2009,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wahlberechtigte,Wähler,Gültig,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,2002,0,0,0,0,01,1.0,NaN,65740,74.618193,48551.0,33.815987,54.188379,4.197648,1.563305,5.835101,0.399580
0,01001000,2002,0,0,0,0,01,NaN,1.0,65740,74.618193,48553.0,29.580047,48.186518,7.052087,1.769201,11.443165,1.968982
1,01001000,2005,1,0,0,0,01,1.0,NaN,66970,73.170076,48244.0,35.142194,50.288119,3.318547,4.792306,5.656662,0.802172
1,01001000,2005,1,0,0,0,01,NaN,1.0,66970,73.170076,48235.0,28.837981,43.536851,8.699077,6.356380,10.423966,2.145745
2,01001000,2009,1,1,0,0,01,1.0,NaN,69075,67.438292,45379.0,30.540558,36.475021,9.372177,10.350603,12.164217,1.097424
2,01001000,2009,1,1,0,0,01,NaN,1.0,60283,67.889787,39868.0,26.040935,28.709742,14.053878,10.722886,15.561352,4.911207
3,01001000,2013,1,1,1,0,01,1.0,NaN,70321,66.590350,46238.0,33.840131,40.907911,1.745318,7.028851,9.803625,6.674164
3,01001000,2013,1,1,1,0,01,NaN,1.0,70321,66.590350,46265.0,30.554415,35.620880,4.454771,8.170323,11.903167,9.296444
4,01001000,2017,1,1,1,1,01,1.0,NaN,70105,70.885101,49209.0,30.766730,30.837855,6.951980,10.802902,12.107541,8.532992
4,01001000,2017,1,1,1,1,01,NaN,1.0,70105,70.885101,49271.0,27.159993,24.643299,10.296117,11.566642,15.051450,11.282499

Export dataset

In [28]:
btw = btw[['AGS', 'year', 'post_2005', 'post_2009', 'post_2013', 'post_2017', 'Land', 'Erststimme', 'Zweitstimme', 'Wähler', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']]
btw = btw.set_index(['AGS', 'year'])
btw.to_csv(f'{path}/data/btw.csv', encoding = 'utf-8-sig')
btw.head()

               post_2005  post_2009  post_2013  post_2017 Land  Erststimme  \
AGS      year
01001000 2002          0          0          0          0   01         1.0
         2002          0          0          0          0   01         NaN
         2005          1          0          0          0   01         1.0
         2005          1          0          0          0   01         NaN
         2009          1          1          0          0   01         1.0

               Zweitstimme     Wähler      Union        SPD       FDP  \
AGS      year
01001000 2002          NaN  74.618193  33.815987  54.188379  4.197648
         2002          1.0  74.618193  29.580047  48.186518  7.052087
         2005          NaN  73.170076  35.142194  50.288119  3.318547
         2005          1.0  73.170076  28.837981  43.536851  8.699077
         2009          NaN  67.438292  30.540558  36.475021  9.372177

                   Linke      Grüne    Andere
AGS      year
01001000 2002   1.563305   5.835101  0.399580
         2002   1.769201  11.443165  1.968982
         2005   4.792306   5.656662  0.802172
         2005   6.356380  10.423966  2.145745
         2009  10.350603  12.164217  1.097424

Merge with treatment data

Import dataset

In [29]:
btw = pd.read_csv(f'{path}/data/btw.csv', converters={'AGS': str})
btw.head()

,AGS,year,post_2005,post_2009,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wähler,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,2002,0,0,0,0,1,1.0,NaN,74.618193,33.815987,54.188379,4.197648,1.563305,5.835101,0.399580
1,01001000,2002,0,0,0,0,1,NaN,1.0,74.618193,29.580047,48.186518,7.052087,1.769201,11.443165,1.968982
2,01001000,2005,1,0,0,0,1,1.0,NaN,73.170076,35.142194,50.288119,3.318547,4.792306,5.656662,0.802172
3,01001000,2005,1,0,0,0,1,NaN,1.0,73.170076,28.837981,43.536851,8.699077,6.356380,10.423966,2.145745
4,01001000,2009,1,1,0,0,1,1.0,NaN,67.438292,30.540558,36.475021,9.372177,10.350603,12.164217,1.097424

Merge with treatment dataset

In [30]:
treatment = pd.read_csv(f'{path}/data/treatment.csv', converters = {'AGS': str})
#data = btw.join(treatment.set_index(['AGS']))
data = pd.merge(btw, treatment, on='AGS', how='outer', indicator=True)
data.head(10)

,AGS,year,post_2005,post_2009,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wähler,...,Grüne,Andere,GEN,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100,_merge
0,01001000,2002.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,74.618193,...,5.835101,0.399580,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
1,01001000,2002.0,0.0,0.0,0.0,0.0,1.0,NaN,1.0,74.618193,...,11.443165,1.968982,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
2,01001000,2005.0,1.0,0.0,0.0,0.0,1.0,1.0,NaN,73.170076,...,5.656662,0.802172,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
3,01001000,2005.0,1.0,0.0,0.0,0.0,1.0,NaN,1.0,73.170076,...,10.423966,2.145745,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
4,01001000,2009.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN,67.438292,...,12.164217,1.097424,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
5,01001000,2009.0,1.0,1.0,0.0,0.0,1.0,NaN,1.0,67.889787,...,15.561352,4.911207,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
6,01001000,2013.0,1.0,1.0,1.0,0.0,1.0,1.0,NaN,66.590350,...,9.803625,6.674164,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
7,01001000,2013.0,1.0,1.0,1.0,0.0,1.0,NaN,1.0,66.590350,...,11.903167,9.296444,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
8,01001000,2017.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,70.885101,...,12.107541,8.532992,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
9,01001000,2017.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,70.885101,...,15.051450,11.282499,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both

Inspect merge results

In [31]:
print(data['_merge'].describe())

count     119708
unique         3
top         both
freq      103388
Name: _merge, dtype: object

Clean data

In [32]:
data = data[data['_merge'] == 'both']
data = data.set_index(['AGS', 'GEN', 'year'])
data = data.drop(columns=['_merge'])
data.head(10)

                           post_2005  post_2009  post_2013  post_2017  Land  \
AGS      GEN       year
01001000 Flensburg 2002.0        0.0        0.0        0.0        0.0   1.0
                   2002.0        0.0        0.0        0.0        0.0   1.0
                   2005.0        1.0        0.0        0.0        0.0   1.0
                   2005.0        1.0        0.0        0.0        0.0   1.0
                   2009.0        1.0        1.0        0.0        0.0   1.0
                   2009.0        1.0        1.0        0.0        0.0   1.0
                   2013.0        1.0        1.0        1.0        0.0   1.0
                   2013.0        1.0        1.0        1.0        0.0   1.0
                   2017.0        1.0        1.0        1.0        1.0   1.0
                   2017.0        1.0        1.0        1.0        1.0   1.0

                           Erststimme  Zweitstimme     Wähler      Union  \
AGS      GEN       year
01001000 Flensburg 2002.0         1.0          NaN  74.618193  33.815987
                   2002.0         NaN          1.0  74.618193  29.580047
                   2005.0         1.0          NaN  73.170076  35.142194
                   2005.0         NaN          1.0  73.170076  28.837981
                   2009.0         1.0          NaN  67.438292  30.540558
                   2009.0         NaN          1.0  67.889787  26.040935
                   2013.0         1.0          NaN  66.590350  33.840131
                   2013.0         NaN          1.0  66.590350  30.554415
                   2017.0         1.0          NaN  70.885101  30.766730
                   2017.0         NaN          1.0  70.885101  27.159993

                                 SPD        FDP      Linke      Grüne  \
AGS      GEN       year
01001000 Flensburg 2002.0  54.188379   4.197648   1.563305   5.835101
                   2002.0  48.186518   7.052087   1.769201  11.443165
                   2005.0  50.288119   3.318547   4.792306   5.656662
                   2005.0  43.536851   8.699077   6.356380  10.423966
                   2009.0  36.475021   9.372177  10.350603  12.164217
                   2009.0  28.709742  14.053878  10.722886  15.561352
                   2013.0  40.907911   1.745318   7.028851   9.803625
                   2013.0  35.620880   4.454771   8.170323  11.903167
                   2017.0  30.837855   6.951980  10.802902  12.107541
                   2017.0  24.643299  10.296117  11.566642  15.051450

                              Andere  treated_0  treated_10  treated_20  \
AGS      GEN       year
01001000 Flensburg 2002.0   0.399580        0.0         0.0         0.0
                   2002.0   1.968982        0.0         0.0         0.0
                   2005.0   0.802172        0.0         0.0         0.0
                   2005.0   2.145745        0.0         0.0         0.0
                   2009.0   1.097424        0.0         0.0         0.0
                   2009.0   4.911207        0.0         0.0         0.0
                   2013.0   6.674164        0.0         0.0         0.0
                   2013.0   9.296444        0.0         0.0         0.0
                   2017.0   8.532992        0.0         0.0         0.0
                   2017.0  11.282499        0.0         0.0         0.0

                           treated_30  treated_50  treated_100
AGS      GEN       year
01001000 Flensburg 2002.0         0.0         0.0          1.0
                   2002.0         0.0         0.0          1.0
                   2005.0         0.0         0.0          1.0
                   2005.0         0.0         0.0          1.0
                   2009.0         0.0         0.0          1.0
                   2009.0         0.0         0.0          1.0
                   2013.0         0.0         0.0          1.0
                   2013.0         0.0         0.0          1.0
                   2017.0         0.0         0.0          1.0
                   2017.0         0.0         0.0          1.0

Drop missing values

In [34]:
data = data.dropna(axis='rows', how='any', subset=['Union',	'SPD', 'FDP', 'Linke', 'Grüne', 'Andere'])

Export dataset

In [35]:
data.to_csv(f'{path}/data/btw_treatment.csv', encoding = 'utf-8-sig')