First, import needed modules

In [1]:
import numpy as np
import pandas as pd
import os

Initalize variables

In [2]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import dataset

In [3]:
btw = pd.read_csv(f'{path}/data/btw.csv', converters={'AGS': str})
btw.head()

,AGS,year,post_2005,post_2009,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wahlberechtigte,Wähler,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,2002,0,0,0,0,1,1.0,NaN,65740,74.618193,33.469238,53.632731,4.154605,1.547274,5.775268,0.395483
1,01001000,2002,0,0,0,0,1,NaN,1.0,65740,74.618193,29.277939,47.694378,6.980063,1.751131,11.326293,1.948873
2,01001000,2005,1,0,0,0,1,1.0,NaN,66970,73.170076,34.598588,49.510224,3.267214,4.718175,5.569160,0.789764
3,01001000,2005,1,0,0,0,1,NaN,1.0,66970,73.170076,28.386596,42.855394,8.562916,6.256887,10.260806,2.112159
4,01001000,2009,1,1,0,0,1,1.0,NaN,69075,67.438292,29.751197,35.532276,9.129940,10.083078,11.849816,1.069060

Merge with treatment dataset

In [4]:
treatment = pd.read_csv(f'{path}/data/treatment.csv', converters = {'AGS': str})
#data = btw.join(treatment.set_index(['AGS']))
data = pd.merge(btw, treatment, on='AGS', how='outer', indicator=True)
data.head(10)

,AGS,year,post_2005,post_2009,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wahlberechtigte,...,Grüne,Andere,GEN,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100,_merge
0,01001000,2002.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,65740.0,...,5.775268,0.395483,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
1,01001000,2002.0,0.0,0.0,0.0,0.0,1.0,NaN,1.0,65740.0,...,11.326293,1.948873,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
2,01001000,2005.0,1.0,0.0,0.0,0.0,1.0,1.0,NaN,66970.0,...,5.569160,0.789764,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
3,01001000,2005.0,1.0,0.0,0.0,0.0,1.0,NaN,1.0,66970.0,...,10.260806,2.112159,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
4,01001000,2009.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN,69075.0,...,11.849816,1.069060,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
5,01001000,2009.0,1.0,1.0,0.0,0.0,1.0,NaN,1.0,60283.0,...,15.159068,4.784245,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
6,01001000,2013.0,1.0,1.0,1.0,0.0,1.0,1.0,NaN,70321.0,...,9.680313,6.590215,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
7,01001000,2013.0,1.0,1.0,1.0,0.0,1.0,NaN,1.0,70321.0,...,11.760309,9.184872,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
8,01001000,2017.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,70105.0,...,11.989375,8.449712,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
9,01001000,2017.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,70105.0,...,14.923331,11.186461,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both

Inspect merge results

In [5]:
print(data['_merge'].describe())

count     119708
unique         3
top         both
freq      103388
Name: _merge, dtype: object

Clean data

In [6]:
data = data[data['_merge'] == 'both']
data = data.set_index(['AGS', 'GEN', 'year'])
data = data.drop(columns=['_merge'])
data.head(10)

                           post_2005  post_2009  post_2013  post_2017  Land  \
AGS      GEN       year
01001000 Flensburg 2002.0        0.0        0.0        0.0        0.0   1.0
                   2002.0        0.0        0.0        0.0        0.0   1.0
                   2005.0        1.0        0.0        0.0        0.0   1.0
                   2005.0        1.0        0.0        0.0        0.0   1.0
                   2009.0        1.0        1.0        0.0        0.0   1.0
                   2009.0        1.0        1.0        0.0        0.0   1.0
                   2013.0        1.0        1.0        1.0        0.0   1.0
                   2013.0        1.0        1.0        1.0        0.0   1.0
                   2017.0        1.0        1.0        1.0        1.0   1.0
                   2017.0        1.0        1.0        1.0        1.0   1.0

                           Erststimme  Zweitstimme  Wahlberechtigte  \
AGS      GEN       year
01001000 Flensburg 2002.0         1.0          NaN          65740.0
                   2002.0         NaN          1.0          65740.0
                   2005.0         1.0          NaN          66970.0
                   2005.0         NaN          1.0          66970.0
                   2009.0         1.0          NaN          69075.0
                   2009.0         NaN          1.0          60283.0
                   2013.0         1.0          NaN          70321.0
                   2013.0         NaN          1.0          70321.0
                   2017.0         1.0          NaN          70105.0
                   2017.0         NaN          1.0          70105.0

                              Wähler      Union  ...        FDP      Linke  \
AGS      GEN       year                          ...
01001000 Flensburg 2002.0  74.618193  33.469238  ...   4.154605   1.547274
                   2002.0  74.618193  29.277939  ...   6.980063   1.751131
                   2005.0  73.170076  34.598588  ...   3.267214   4.718175
                   2005.0  73.170076  28.386596  ...   8.562916   6.256887
                   2009.0  67.438292  29.751197  ...   9.129940  10.083078
                   2009.0  67.889787  25.367737  ...  13.690563  10.445682
                   2013.0  66.590350  33.414483  ...   1.723365   6.940440
                   2013.0  66.590350  30.187712  ...   4.401307   8.072266
                   2017.0  70.885101  30.466455  ...   6.884131  10.697469
                   2017.0  70.885101  26.928804  ...  10.208476  11.468185

                               Grüne     Andere  treated_0  treated_10  \
AGS      GEN       year
01001000 Flensburg 2002.0   5.775268   0.395483        0.0         0.0
                   2002.0  11.326293   1.948873        0.0         0.0
                   2005.0   5.569160   0.789764        0.0         0.0
                   2005.0  10.260806   2.112159        0.0         0.0
                   2009.0  11.849816   1.069060        0.0         0.0
                   2009.0  15.159068   4.784245        0.0         0.0
                   2013.0   9.680313   6.590215        0.0         0.0
                   2013.0  11.760309   9.184872        0.0         0.0
                   2017.0  11.989375   8.449712        0.0         0.0
                   2017.0  14.923331  11.186461        0.0         0.0

                           treated_20  treated_30  treated_50  treated_100
AGS      GEN       year
01001000 Flensburg 2002.0         0.0         0.0         0.0          1.0
                   2002.0         0.0         0.0         0.0          1.0
                   2005.0         0.0         0.0         0.0          1.0
                   2005.0         0.0         0.0         0.0          1.0
                   2009.0         0.0         0.0         0.0          1.0
                   2009.0         0.0         0.0         0.0          1.0
                   2013.0         0.0         0.0         0.0          1.0
                   2013.0         0.0         0.0         0.0          1.0
                   2017.0         0.0         0.0         0.0          1.0
                   2017.0         0.0         0.0         0.0          1.0

[10 rows x 21 columns]

Interact treatment dummies with post-treatment indicators

In [7]:
dummies = ['treated_0', 'treated_10', 'treated_20', 'treated_30', 'treated_50', 'treated_100']
for dummy in dummies:
    data.insert(loc=len(data.columns), column=f'{dummy}*post_2005', value=(data[dummy]*data['post_2005']))
    data.insert(loc=len(data.columns), column=f'{dummy}*post_2009', value=(data[dummy]*data['post_2009']))
    data.insert(loc=len(data.columns), column=f'{dummy}*post_2013', value=(data[dummy]*data['post_2013']))
    data.insert(loc=len(data.columns), column=f'{dummy}*post_2017', value=(data[dummy]*data['post_2017']))
data.head(20)

                           post_2005  post_2009  post_2013  post_2017  Land  \
AGS      GEN       year
01001000 Flensburg 2002.0        0.0        0.0        0.0        0.0   1.0
                   2002.0        0.0        0.0        0.0        0.0   1.0
                   2005.0        1.0        0.0        0.0        0.0   1.0
                   2005.0        1.0        0.0        0.0        0.0   1.0
                   2009.0        1.0        1.0        0.0        0.0   1.0
                   2009.0        1.0        1.0        0.0        0.0   1.0
                   2013.0        1.0        1.0        1.0        0.0   1.0
                   2013.0        1.0        1.0        1.0        0.0   1.0
                   2017.0        1.0        1.0        1.0        1.0   1.0
                   2017.0        1.0        1.0        1.0        1.0   1.0
01002000 Kiel      2002.0        0.0        0.0        0.0        0.0   1.0
                   2002.0        0.0        0.0        0.0        0.0   1.0
                   2005.0        1.0        0.0        0.0        0.0   1.0
                   2005.0        1.0        0.0        0.0        0.0   1.0
                   2009.0        1.0        1.0        0.0        0.0   1.0
                   2009.0        1.0        1.0        0.0        0.0   1.0
                   2013.0        1.0        1.0        1.0        0.0   1.0
                   2013.0        1.0        1.0        1.0        0.0   1.0
                   2017.0        1.0        1.0        1.0        1.0   1.0
                   2017.0        1.0        1.0        1.0        1.0   1.0

                           Erststimme  Zweitstimme  Wahlberechtigte  \
AGS      GEN       year
01001000 Flensburg 2002.0         1.0          NaN          65740.0
                   2002.0         NaN          1.0          65740.0
                   2005.0         1.0          NaN          66970.0
                   2005.0         NaN          1.0          66970.0
                   2009.0         1.0          NaN          69075.0
                   2009.0         NaN          1.0          60283.0
                   2013.0         1.0          NaN          70321.0
                   2013.0         NaN          1.0          70321.0
                   2017.0         1.0          NaN          70105.0
                   2017.0         NaN          1.0          70105.0
01002000 Kiel      2002.0         1.0          NaN         176468.0
                   2002.0         NaN          1.0         176468.0
                   2005.0         1.0          NaN         177028.0
                   2005.0         NaN          1.0         177028.0
                   2009.0         1.0          NaN         182726.0
                   2009.0         NaN          1.0         182726.0
                   2013.0         1.0          NaN         187464.0
                   2013.0         NaN          1.0         195159.0
                   2017.0         1.0          NaN         186988.0
                   2017.0         NaN          1.0         186988.0

                              Wähler      Union  ...  treated_30*post_2013  \
AGS      GEN       year                          ...
01001000 Flensburg 2002.0  74.618193  33.469238  ...                   0.0
                   2002.0  74.618193  29.277939  ...                   0.0
                   2005.0  73.170076  34.598588  ...                   0.0
                   2005.0  73.170076  28.386596  ...                   0.0
                   2009.0  67.438292  29.751197  ...                   0.0
                   2009.0  67.889787  25.367737  ...                   0.0
                   2013.0  66.590350  33.414483  ...                   0.0
                   2013.0  66.590350  30.187712  ...                   0.0
                   2017.0  70.885101  30.466455  ...                   0.0
                   2017.0  70.885101  26.928804  ...                   0.0
01002000 Kiel      2002.0  78.064012  29.252022  ...                   0.0
                   2002.0  78.064012  26.565426  ...                   0.0
                   2005.0  77.035836  32.000733  ...                   0.0
                   2005.0  77.035836  27.452979  ...                   0.0
                   2009.0  71.705176  28.057455  ...                   0.0
                   2009.0  71.705176  24.054372  ...                   0.0
                   2013.0  70.442325  31.357626  ...                   0.0
                   2013.0  70.149980  28.889587  ...                   0.0
                   2017.0  74.058763  29.189564  ...                   0.0
                   2017.0  74.058763  25.653339  ...                   0.0

                           treated_30*post_2017  treated_50*post_2005  \
AGS      GEN       year
01001000 Flensburg 2002.0                   0.0                   0.0
                   2002.0                   0.0                   0.0
                   2005.0                   0.0                   0.0
                   2005.0                   0.0                   0.0
                   2009.0                   0.0                   0.0
                   2009.0                   0.0                   0.0
                   2013.0                   0.0                   0.0
                   2013.0                   0.0                   0.0
                   2017.0                   0.0                   0.0
                   2017.0                   0.0                   0.0
01002000 Kiel      2002.0                   0.0                   0.0
                   2002.0                   0.0                   0.0
                   2005.0                   0.0                   0.0
                   2005.0                   0.0                   0.0
                   2009.0                   0.0                   0.0
                   2009.0                   0.0                   0.0
                   2013.0                   0.0                   0.0
                   2013.0                   0.0                   0.0
                   2017.0                   0.0                   0.0
                   2017.0                   0.0                   0.0

                           treated_50*post_2009  treated_50*post_2013  \
AGS      GEN       year
01001000 Flensburg 2002.0                   0.0                   0.0
                   2002.0                   0.0                   0.0
                   2005.0                   0.0                   0.0
                   2005.0                   0.0                   0.0
                   2009.0                   0.0                   0.0
                   2009.0                   0.0                   0.0
                   2013.0                   0.0                   0.0
                   2013.0                   0.0                   0.0
                   2017.0                   0.0                   0.0
                   2017.0                   0.0                   0.0
01002000 Kiel      2002.0                   0.0                   0.0
                   2002.0                   0.0                   0.0
                   2005.0                   0.0                   0.0
                   2005.0                   0.0                   0.0
                   2009.0                   0.0                   0.0
                   2009.0                   0.0                   0.0
                   2013.0                   0.0                   0.0
                   2013.0                   0.0                   0.0
                   2017.0                   0.0                   0.0
                   2017.0                   0.0                   0.0

                           treated_50*post_2017  treated_100*post_2005  \
AGS      GEN       year
01001000 Flensburg 2002.0                   0.0                    0.0
                   2002.0                   0.0                    0.0
                   2005.0                   0.0                    1.0
                   2005.0                   0.0                    1.0
                   2009.0                   0.0                    1.0
                   2009.0                   0.0                    1.0
                   2013.0                   0.0                    1.0
                   2013.0                   0.0                    1.0
                   2017.0                   0.0                    1.0
                   2017.0                   0.0                    1.0
01002000 Kiel      2002.0                   0.0                    0.0
                   2002.0                   0.0                    0.0
                   2005.0                   0.0                    0.0
                   2005.0                   0.0                    0.0
                   2009.0                   0.0                    0.0
                   2009.0                   0.0                    0.0
                   2013.0                   0.0                    0.0
                   2013.0                   0.0                    0.0
                   2017.0                   0.0                    0.0
                   2017.0                   0.0                    0.0

                           treated_100*post_2009  treated_100*post_2013  \
AGS      GEN       year
01001000 Flensburg 2002.0                    0.0                    0.0
                   2002.0                    0.0                    0.0
                   2005.0                    0.0                    0.0
                   2005.0                    0.0                    0.0
                   2009.0                    1.0                    0.0
                   2009.0                    1.0                    0.0
                   2013.0                    1.0                    1.0
                   2013.0                    1.0                    1.0
                   2017.0                    1.0                    1.0
                   2017.0                    1.0                    1.0
01002000 Kiel      2002.0                    0.0                    0.0
                   2002.0                    0.0                    0.0
                   2005.0                    0.0                    0.0
                   2005.0                    0.0                    0.0
                   2009.0                    0.0                    0.0
                   2009.0                    0.0                    0.0
                   2013.0                    0.0                    0.0
                   2013.0                    0.0                    0.0
                   2017.0                    0.0                    0.0
                   2017.0                    0.0                    0.0

                           treated_100*post_2017
AGS      GEN       year
01001000 Flensburg 2002.0                    0.0
                   2002.0                    0.0
                   2005.0                    0.0
                   2005.0                    0.0
                   2009.0                    0.0
                   2009.0                    0.0
                   2013.0                    0.0
                   2013.0                    0.0
                   2017.0                    1.0
                   2017.0                    1.0
01002000 Kiel      2002.0                    0.0
                   2002.0                    0.0
                   2005.0                    0.0
                   2005.0                    0.0
                   2009.0                    0.0
                   2009.0                    0.0
                   2013.0                    0.0
                   2013.0                    0.0
                   2017.0                    0.0
                   2017.0                    0.0

[20 rows x 45 columns]

Drop missing values

In [8]:
data = data.dropna(axis='rows', how='any', subset=['Union',	'SPD', 'FDP', 'Linke', 'Grüne', 'Andere'])

Export dataset

In [9]:
data.to_csv(f'{path}/data/btw_treatment.csv', encoding = 'utf-8-sig')