First, import needed modules

In [181]:
import numpy as np
import pandas as pd
import os

Initalize variables

In [182]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

In [183]:
import chardet
with open(f'{path}/data/elections/btw/zs/BTW98_Zweitstimmen_Wahlbezirke.csv', 'rb') as file:
    print(chardet.detect(file.read()))

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

Import datasets

In [184]:
btw94_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW94_Erststimmen_Gemeinden.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw98_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW98_Erststimmen_Gemeinden.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw02_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW02_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})

btw94_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW94_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw98_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW98_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw02_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW02_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_4672/115399916.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_4672/115399916.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_4672/115399916.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_4672/115399916.py:7: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_4672/115399916.py:12: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_4672/115399916.py:13: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_4672/115399916.py:14: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_4672/115399916.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})

View the data

In [185]:
btw17_es.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Kennziffer Briefwahlzugehörigkeit,Wahlbezirk,Bezirksart,Wahlberechtigte (A),...,Bündnis C,DIE EINHEIT,DIE VIOLETTEN,FAMILIE,DIE FRAUEN,MIETERPARTEI,Neue Liberale,UNABHÄNGIGE,WGr/EB,Ungekürzte Wahlbezirksbezeichnung
0,1,01,0,01,0,000,00,000001,0,1670,...,0,0,0,0,0,0,0,0,7,–
1,1,01,0,01,0,000,00,000002,0,1671,...,0,0,0,0,0,0,0,0,6,–
2,1,01,0,01,0,000,00,000003,0,1603,...,0,0,0,0,0,0,0,0,1,–
3,1,01,0,01,0,000,00,000004,0,1497,...,0,0,0,0,0,0,0,0,5,–
4,1,01,0,01,0,000,00,000005,0,1251,...,0,0,0,0,0,0,0,0,4,–

Add year column to dataframes

In [186]:
dfs = [btw94_es, btw98_es, btw02_es, btw05_es, btw09_es, btw13_es, btw17_es, btw94_zs, btw98_zs, btw02_zs, btw05_zs, btw09_zs, btw13_zs, btw17_zs]
years = [1994, 1998, 2002, 2005, 2009, 2013, 2017, 1994, 1998, 2002, 2005, 2009, 2013, 2017]
for df, year in zip(dfs, years):
    df.insert(loc=0, column='year', value=year)

Since some municipalities share a ballot vote election board, in this case, postal ballots cannot be attributed to a single municipality. 
In the 1994 to 2017 data, these cases were signified with '999' as Gemeindekennziffer. From 2017 on the Gemeindekennziffer is given by 9 + Kennziffer Briefwahlzugehörigkeit.

To drop the 999 Gemeinde in for 1994-2013, first append these dataframes

In [187]:
dfs = [btw94_es, btw98_es, btw02_es, btw05_es, btw09_es, btw13_es]
btw9413_es = pd.concat(dfs, sort=False)
dfs = [btw94_zs, btw98_zs, btw02_zs, btw05_zs, btw09_zs, btw13_zs]
btw9413_zs = pd.concat(dfs, sort=False)
btw9413_zs.shape

(535072, 87)

Then drop all observations with Gemeinde == 999

In [188]:
btw9413_es = btw9413_es[btw9413_es['Gemeinde'] != '999']
btw9413_zs = btw9413_zs[btw9413_zs['Gemeinde'] != '999']
btw9413_zs.shape

(529028, 87)

For 2017, drop all observations where Gemeinde == 9 + Kennziffer Briefwahlzugehörigkeit

In [189]:
btw17_es = btw17_es[btw17_es['Gemeinde'] != '9' + btw17_es['Kennziffer Briefwahlzugehörigkeit']]
btw17_zs = btw17_zs[btw17_zs['Gemeinde'] != '9' + btw17_zs['Kennziffer Briefwahlzugehörigkeit']]

Now contatenate the dfs for 1994-2013 with 2017

In [190]:
dfs = [btw9413_es, btw17_es]
btw_es_raw = pd.concat(dfs, sort=False)
dfs = [btw9413_zs, btw17_zs]
btw_zs_raw = pd.concat(dfs, sort=False)

Create the AGS, it follows the scheme ll r kk ggg (Land, Regierunsbezirk, Kreis, Gemeinde) -> combine these columns

In [191]:
btw_es_raw.insert(loc=0, column='AGS', value=0)
btw_es_raw['AGS'] = btw_es_raw['Land'] + btw_es_raw['Regierungsbezirk'] + btw_es_raw['Kreis'] + btw_es_raw['Gemeinde']
btw_zs_raw.insert(loc=0, column='AGS', value=0)
btw_zs_raw['AGS'] = btw_zs_raw['Land'] + btw_zs_raw['Regierungsbezirk'] + btw_zs_raw['Kreis'] + btw_zs_raw['Gemeinde']
btw_zs_raw.head()

,AGS,year,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Wahlbezirk,Bezirksart,...,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³,Ungekürzte Wahlbezirksbezeichnung
0,01001000,1994,1,01,0,01,0,000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01001000,1994,1,01,0,01,0,000,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01001000,1994,1,01,0,01,0,000,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01001000,1994,1,01,0,01,0,000,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01001000,1994,1,01,0,01,0,000,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Since there is only one polygon with the AGS 11000000 for Berlin, replace AGS values here

In [192]:
btw_es_raw['AGS'] = np.where(btw_es_raw['Land'] == '11', '11000000', btw_es_raw['AGS']) #if condition, = 110..., else AGS
btw_zs_raw['AGS'] = np.where(btw_zs_raw['Land'] == '11', '11000000', btw_zs_raw['AGS'])

Since Kreis Numbers repeat within states, concatenate State Number and Kreis Number to make them unique

In [193]:
len(btw_es_raw['Kreis'].unique())

92

In [194]:
btw_es_raw['Kreis'] = btw_es_raw['Land'] + btw_es_raw['Kreis']
btw_zs_raw['Kreis'] = btw_zs_raw['Land'] + btw_zs_raw['Kreis']

In [195]:
len(btw_es_raw['Kreis'].unique()) # In 2021, there are 294 Kreise in DE

301

In [196]:
len(btw_es_raw['Wahlkreis'].unique())

328

Collapse data along AGS column, sums votes over all constituencies in a municipality

In [197]:
es_cols = list(btw_es_raw.columns)
es_cols_to_keep = list(btw_es_raw.select_dtypes(['object']).columns) + ['Wahlkreis', 'Bezirksart'] # keep these columns
es_cols_to_sum = [i for i in es_cols if i not in es_cols_to_keep] # sum these columns
es_cols_to_sum.remove('year')
zs_cols = list(btw_zs_raw.columns)
zs_cols_to_keep = list(btw_zs_raw.select_dtypes(['object']).columns) + ['Wahlkreis', 'Bezirksart']
zs_cols_to_sum = [i for i in zs_cols if i not in zs_cols_to_keep]
zs_cols_to_sum.remove('year')

In [198]:
btw_es_coll = btw_es_raw.groupby(['AGS', 'year'], as_index=False).agg({**{e:'first' for e in es_cols_to_keep}, **{e:'sum' for e in es_cols_to_sum}})
btw_zs_coll = btw_zs_raw.groupby(['AGS', 'year'], as_index=False).agg({**{e:'first' for e in zs_cols_to_keep}, **{e:'sum' for e in zs_cols_to_sum}})
btw_es_coll.head()

,year,AGS,Land,Regierungsbezirk,Kreis,Gemeinde,Wahlbezirk,Kennziffer Briefwahlzugehörigkeit,Ungekürzte Wahlbezirksbezeichnung,Wahlkreis,...,Die Grauen,du,MG,MENSCHLICHE WELT,Gesundheitsforschung,V-Partei³,Bündnis C,DIE EINHEIT,MIETERPARTEI,Neue Liberale
0,1994,01001000,01,0,0101,000,None,None,None,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1998,01001000,01,0,0101,000,None,None,None,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2002,01001000,01,0,0101,000,1,None,None,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2005,01001000,01,0,0101,000,000001,0.0,None,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2009,01001000,01,0,0101,000,000025,0.0,None,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Inspect the distribution of obs. over years

In [199]:
btw_es_coll['year'].value_counts()

1994    14801
1998    14226
2002    13246
2005    12352
2009    12015
2013    11191
2017    11049
Name: year, dtype: int64

In [200]:
btw_zs_coll['year'].value_counts()

1994    14801
1998    14226
2002    13246
2005    12352
2009    12015
2013    11191
2017    11049
Name: year, dtype: int64

Add indicator for first and second vote

In [201]:
dfs = [btw_es_coll, btw_zs_coll]
eszs = ['first_vote', 'second_vote']
for df, stimme in zip(dfs, eszs):
    df.insert(loc=2, column=stimme, value=1)
btw_zs_coll.head()

,year,AGS,second_vote,Land,Regierungsbezirk,Kreis,Gemeinde,Wahlbezirk,Kennziffer Briefwahlzugehörigkeit,Ungekürzte Wahlbezirksbezeichnung,...,BGE,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³
0,1994,01001000,1,01,0,0101,000,1,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1998,01001000,1,01,0,0101,000,29,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2002,01001000,1,01,0,0101,000,1,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2005,01001000,1,01,0,0101,000,000001,0.0,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2009,01001000,1,01,0,0101,000,000001,0.0,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ES: Sum votes for other, Union and Die Linke parties

In [202]:
# First declare the columns to sum
es_col = list(btw_es_coll.columns)
union = ['CDU', 'CSU']
linke = ['Die Linke', 'DIE LINKE', 'PDS']
invalid = ['Ungültige', 'Ungültig']
valid = ['Gültige', 'Gültig']
other_keep = ['year',
 'AGS',
 'first_vote',
 'Land',
 'Regierungsbezirk',
 'Kreis',
 'Gemeinde',
 'Wahlbezirk',
 'Kennziffer Briefwahlzugehörigkeit',
 'Ungekürzte Wahlbezirksbezeichnung',
 'Wahlkreis',
 'Bezirksart',
 'Verbandsgemeinde',
 'Wahlberechtigte (A)',
 'Wahlberechtigte ohne Sperrvermerk (A1)',
 'Wahlberechtigte mit Sperrvermerk (A2)',
 'Wahlberechtigte nach § 25 Abs. 2 BWO (A3)',
 'Wähler (B)',
 'Wähler mit Wahlschein (B1)', 'SPD', 'GRÜNE', 'FDP']
es_cols_to_keep = union + linke + invalid + valid + other_keep
andere = list(set(es_col) ^ set(es_cols_to_keep))

In [203]:
print(andere)

['Bündnis C', 'DIE PARTEI', 'FP D', 'CM', 'PIRATEN', 'FSU', 'Die Tierschutzpartei', 'RRP', 'FREIE WÄHLER', 'BüSo', 'WGr/EB', 'PASS', 'GRAUE', 'DKP', 'HP', 'PSG', 'BGD', 'DVP', 'ADM', 'Die PARTEI', 'Neue Liberale', 'MG', 'MIETERPARTEI', 'NEIN', 'DEMOKRATEN', 'Pro DM', 'KPD', 'STATT Partei', 'NATURGESETZ', 'BÜSO', 'DIE RECHTE', 'ZENTRUM', 'Gesundheitsforschung', 'VIOLETTEN', 'APPD', 'Die Grauen', 'V-Partei³', 'DMP', 'BfB', 'FORUM', 'AGFG', 'LIGA', 'REP', 'FP Deutschland', 'SGP', 'ÜBRIGE', 'Tierschutzpartei', 'NPD', 'ödp', 'Volksabstimmung', 'SCHILL', 'PDV', 'TIERSCHUTZ', 'LD', 'Bergpartei', 'PBC', 'UNABHÄNGIGE', 'APD', 'BP', 'Freie Union', 'MENSCHLICHE WELT', 'CHANCE 2000', 'Offensive D', 'UAP', 'FRAUEN', 'Nichtwähler', 'DIE VIOLETTEN', 'DIE EINHEIT', 'MLPD', 'Bündnis 21/RRP', 'Deutschland', 'Übrige', 'AUFBRUCH', 'Tierschutzallianz', 'Solidarität', 'FBU', 'DVU', 'DIE FRAUEN', 'BIG', 'HUMANWIRTSCHAFTSPARTEI', 'DEUTSCHLAND', 'RENTNER', 'FAMILIE', 'PRG', 'ÖDP', 'DPD', 'du', 'PARTEI DER VERNUNFT', 'AfD', 'DSU', 'B*', 'pro Deutschland', 'AB 2000']

In [204]:
btw_es_sum = btw_es_coll.copy()
btw_es_sum['Andere'] = btw_es_sum[andere].sum(axis=1) # sum votes for 'Other' Parties
btw_es_sum['Union'] = btw_es_sum[union].sum(axis=1) # sum votes for 'Union' Parties
btw_es_sum['Linke'] = btw_es_sum[linke].sum(axis=1) # sum votes for 'Linke' Parties
btw_es_sum['Ungültig'] = btw_es_sum[invalid].sum(axis=1) # sum invalid votes
btw_es_sum['Gültig'] = btw_es_sum[valid].sum(axis=1) # sum valid votes

Drop not needed columns

In [205]:
columns_to_drop = andere + union + linke + ['Ungültige', 'Gültige', 'Verbandsgemeinde', 'Regierungsbezirk', 'Gemeinde', 'Wahlbezirk', 'Kennziffer Briefwahlzugehörigkeit', 'Ungekürzte Wahlbezirksbezeichnung']
btw_es_sum.drop(columns_to_drop, axis=1, inplace=True)
btw_es_sum.columns

Index(['year', 'AGS', 'first_vote', 'Land', 'Kreis', 'Wahlkreis', 'Bezirksart',
       'Wahlberechtigte (A)', 'Wahlberechtigte ohne Sperrvermerk (A1)',
       'Wahlberechtigte mit Sperrvermerk (A2)',
       'Wahlberechtigte nach § 25 Abs. 2 BWO (A3)', 'Wähler (B)',
       'Wähler mit Wahlschein (B1)', 'Ungültig', 'Gültig', 'SPD', 'FDP',
       'GRÜNE', 'Andere', 'Union', 'Linke'],
      dtype='object')

ZS: Sum votes for other, Union and DIE LINKE parties

In [206]:
# First declare the columns to sum
zs_col = list(btw_zs_coll.columns)
union = ['CDU', 'CSU']
linke = ['Die Linke', 'DIE LINKE', 'PDS']
invalid = ['Ungültige', 'Ungültig']
valid = ['Gültige', 'Gültig']
other_keep = ['year',
 'AGS',
 'second_vote',
 'Land',
 'Regierungsbezirk',
 'Kreis',
 'Gemeinde',
 'Wahlbezirk',
 'Kennziffer Briefwahlzugehörigkeit',
 'Ungekürzte Wahlbezirksbezeichnung',
 'Wahlkreis',
 'Bezirksart',
 'Verbandsgemeinde',
 'Wahlberechtigte (A)',
 'Wahlberechtigte ohne Sperrvermerk (A1)',
 'Wahlberechtigte mit Sperrvermerk (A2)',
 'Wahlberechtigte nach § 25 Abs. 2 BWO (A3)',
 'Wähler (B)',
 'Wähler mit Wahlschein (B1)', 'SPD', 'GRÜNE', 'FDP']
zs_cols_to_keep = union + linke + invalid + valid + other_keep
andere = list(set(zs_col) ^ set(zs_cols_to_keep))

In [207]:
print(andere)

['CM', 'Die Partei', 'DM', 'PIRATEN', 'Die Tierschutzpartei', 'RRP', 'BSA', 'FREIE WÄHLER', 'BüSo', 'PASS', 'GRAUE', 'Violetten', 'DKP', 'HP', 'PSG', 'ADM', 'Die PARTEI', 'Tierschutz', 'MG', 'Pro DM', 'Die Humanisten', 'KPD', 'FWD', 'STATT Partei', 'NATURGESETZ', 'du.', 'DIE RECHTE', 'ZENTRUM', 'Gesundheitsforschung', 'Die Grauen', 'APPD', 'Schill', 'V-Partei³', 'BfB', 'FORUM', 'AGFG', 'LIGA', 'REP', 'SGP', 'ödp', 'Tierschutzpartei', 'NPD', 'Volksabstimmung', 'BGE', 'PDV', 'Partei der Nichtwähler', 'PBC', '50plus', 'APD', 'BP', 'MENSCHLICHE WELT', 'CHANCE 2000', 'Offensive D', 'DIE FRAUEN', 'FRAUEN', 'Nichtwähler', 'DIE VIOLETTEN', 'MLPD', 'AD-DEMOKRATEN', 'Bündnis 21/RRP', 'Deutschland', 'AUFBRUCH', 'Tierschutzallianz', 'DVU', 'BIG', 'RENTNER', 'FAMILIE', 'PRG', 'ÖDP', 'DPD', 'PARTEI DER VERNUNFT', 'AfD', 'B*', 'pro Deutschland', 'AB 2000', 'DiB']

In [208]:
btw_zs_sum = btw_zs_coll.copy()
btw_zs_sum['Andere'] = btw_zs_sum[andere].sum(axis=1) # sum votes for 'Other' Parties
btw_zs_sum['Union'] = btw_zs_sum[union].sum(axis=1) # sum votes for 'Union' Parties
btw_zs_sum['Linke'] = btw_zs_sum[linke].sum(axis=1) # sum votes for 'Linke' Parties
btw_zs_sum['Ungültig'] = btw_zs_sum[invalid].sum(axis=1) # sum invalid votes
btw_zs_sum['Gültig'] = btw_zs_sum[valid].sum(axis=1) # sum valid votes

In [209]:
columns_to_drop = andere + union + linke + ['Ungültige', 'Gültige', 'Verbandsgemeinde', 'Regierungsbezirk', 'Gemeinde', 'Wahlbezirk', 'Kennziffer Briefwahlzugehörigkeit', 'Ungekürzte Wahlbezirksbezeichnung']
btw_zs_sum.drop(columns_to_drop, axis=1, inplace=True)
btw_zs_sum.head()

,year,AGS,second_vote,Land,Kreis,Wahlkreis,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),...,Wähler (B),Wähler mit Wahlschein (B1),Ungültig,Gültig,SPD,FDP,GRÜNE,Andere,Union,Linke
0,1994,01001000,1,01,0101,1,0,68987,61031,7956,...,52379,7535,556.0,51823.0,24172,3404,4651,1059.0,17837,700.0
1,1998,01001000,1,01,0101,1,0,65755,58545,7210,...,50560,6678,698.0,49862.0,25490,3182,3815,1925.0,14538,912.0
2,2002,01001000,1,01,0101,1,0,65740,57788,7949,...,49054,7573,501.0,48553.0,23396,3424,5556,956.0,14362,859.0
3,2005,01001000,1,01,0101,1,0,66970,58379,8591,...,49002,8218,767.0,48235.0,21000,4196,5028,1035.0,13910,3066.0
4,2009,01001000,1,01,0101,1,0,69075,60983,8092,...,46583,7238,1152.0,45431.0,12739,6530,7323,2334.0,11238,5267.0

Concatenate first and second vote datasets

In [210]:
dfs = [btw_es_sum, btw_zs_sum]
btw_eszs = pd.concat(dfs, sort=False)
btw_eszs = btw_eszs.sort_values(['AGS', 'year'])
btw_eszs.head(12)

,year,AGS,first_vote,Land,Kreis,Wahlkreis,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),...,Wähler mit Wahlschein (B1),Ungültig,Gültig,SPD,FDP,GRÜNE,Andere,Union,Linke,second_vote
0,1994,01001000,1.0,01,0101,1,0,68987,61031,7956,...,7535,552.0,51827.0,25927,1013,3509,996.0,20382,0.0,NaN
0,1994,01001000,NaN,01,0101,1,0,68987,61031,7956,...,7535,556.0,51823.0,24172,3404,4651,1059.0,17837,700.0,1.0
1,1998,01001000,1.0,01,0101,1,0,65755,58545,7210,...,6678,673.0,49887.0,27639,861,2000,897.0,17854,636.0,NaN
1,1998,01001000,NaN,01,0101,1,0,65755,58545,7210,...,6678,698.0,49862.0,25490,3182,3815,1925.0,14538,912.0,1.0
2,2002,01001000,1.0,01,0101,1,0,65740,57788,7949,...,7573,503.0,48551.0,26309,2038,2833,194.0,16418,759.0,NaN
2,2002,01001000,NaN,01,0101,1,0,65740,57788,7949,...,7573,501.0,48553.0,23396,3424,5556,956.0,14362,859.0,1.0
3,2005,01001000,1.0,01,0101,1,0,66970,58379,8591,...,8218,758.0,48244.0,24261,1601,2729,387.0,16954,2312.0,NaN
3,2005,01001000,NaN,01,0101,1,0,66970,58379,8591,...,8218,767.0,48235.0,21000,4196,5028,1035.0,13910,3066.0,1.0
4,2009,01001000,1.0,01,0101,1,0,69075,60983,8092,...,7238,1204.0,45379.0,16552,4253,5520,498.0,13859,4697.0,NaN
4,2009,01001000,NaN,01,0101,1,0,69075,60983,8092,...,7238,1152.0,45431.0,12739,6530,7323,2334.0,11238,5267.0,1.0
5,2013,01001000,1.0,01,0101,1,0,70321,60755,9566,...,9084,589.0,46238.0,18915,807,4533,3086.0,15647,3250.0,NaN
5,2013,01001000,NaN,01,0101,1,0,70321,60755,9566,...,9084,562.0,46265.0,16480,2061,5507,4301.0,14136,3780.0,1.0

Add indicator for vote type (polling office, postal, other)

In [211]:
#btw_eszs['vote_type'] = np.where(btw_eszs['Bezirksart'] > 5 , 'other', np.nan) # 6 = Sonderwahlbezirk, 8 = Bezirke für Wahlberechtigte ohne nähere Angabe
#btw_eszs['vote_type'] = np.where(btw_eszs['Bezirksart'] == 5, 'postal', btw_eszs['vote_type'])
#btw_eszs['vote_type'] = np.where(btw_eszs['Bezirksart'] == 0, 'office', btw_eszs['vote_type'])

Replace Land values with corresponding state abbreviation

In [212]:
btw_eszs.Land.unique()

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16'], dtype=object)

In [213]:
states = {'01': 'SH', '02': 'HH', '03': 'NI', '04': 'HB', '05': 'NW', '06': 'HE', '07': 'RP', '08': 'BW', \
         '09': 'BY', '10': 'SL', '11': 'BE', '12': 'BB', '13': 'MV', '14': 'SN', '15': 'ST', '16': 'TH'}
btw_eszs['state_id'] = btw_eszs['Land']
for key, value in states.items():
    btw_eszs['Land'] = np.where(btw_eszs['Land'] == key, value, btw_eszs['Land'])
btw_eszs.Land.unique()

array(['SH', 'HH', 'NI', 'HB', 'NW', 'HE', 'RP', 'BW', 'BY', 'SL', 'BE',
       'BB', 'MV', 'SN', 'ST', 'TH'], dtype=object)

Add post-treatment indicator

In [214]:
btw_posttreat = btw_eszs.copy()
years = [2017, 2013, 2009, 2005, 2002, 1998]
for i, year in enumerate(years):
    if year == 1998:
        break
    btw_posttreat.insert(loc=3, column=f'post_{years[i+1]}', value=0)
    btw_posttreat[f'post_{years[i+1]}'] = np.where(btw_posttreat['year'] >= year, 1, 0)
btw_posttreat.head(10)

,year,AGS,first_vote,post_1998,post_2002,post_2005,post_2009,post_2013,Land,Kreis,...,Ungültig,Gültig,SPD,FDP,GRÜNE,Andere,Union,Linke,second_vote,state_id
0,1994,01001000,1.0,0,0,0,0,0,SH,0101,...,552.0,51827.0,25927,1013,3509,996.0,20382,0.0,NaN,01
0,1994,01001000,NaN,0,0,0,0,0,SH,0101,...,556.0,51823.0,24172,3404,4651,1059.0,17837,700.0,1.0,01
1,1998,01001000,1.0,0,0,0,0,0,SH,0101,...,673.0,49887.0,27639,861,2000,897.0,17854,636.0,NaN,01
1,1998,01001000,NaN,0,0,0,0,0,SH,0101,...,698.0,49862.0,25490,3182,3815,1925.0,14538,912.0,1.0,01
2,2002,01001000,1.0,1,0,0,0,0,SH,0101,...,503.0,48551.0,26309,2038,2833,194.0,16418,759.0,NaN,01
2,2002,01001000,NaN,1,0,0,0,0,SH,0101,...,501.0,48553.0,23396,3424,5556,956.0,14362,859.0,1.0,01
3,2005,01001000,1.0,1,1,0,0,0,SH,0101,...,758.0,48244.0,24261,1601,2729,387.0,16954,2312.0,NaN,01
3,2005,01001000,NaN,1,1,0,0,0,SH,0101,...,767.0,48235.0,21000,4196,5028,1035.0,13910,3066.0,1.0,01
4,2009,01001000,1.0,1,1,1,0,0,SH,0101,...,1204.0,45379.0,16552,4253,5520,498.0,13859,4697.0,NaN,01
4,2009,01001000,NaN,1,1,1,0,0,SH,0101,...,1152.0,45431.0,12739,6530,7323,2334.0,11238,5267.0,1.0,01

Drop not needed columns and rename

In [215]:
btw_posttreat.rename(columns = {'Wahlberechtigte (A)': 'Wahlberechtigte', 'GRÜNE': 'Grüne', 'Wähler (B)': 'Wähler'}, inplace = True)
columns_to_drop = ['Bezirksart',
       'Wahlberechtigte ohne Sperrvermerk (A1)',
       'Wahlberechtigte mit Sperrvermerk (A2)',
       'Wahlberechtigte nach § 25 Abs. 2 BWO (A3)',
       'Wähler mit Wahlschein (B1)']
btw_posttreat.drop(columns_to_drop, axis=1, inplace=True)
btw_posttreat.shape

(177760, 23)

Since vote percentages are calculated based on the 'valid' votes and there are some rows with valid == 0, calculate the vote shares for these (Voters - Invalid)

In [216]:
btw_posttreat.loc[:, 'Gültig'] = np.where(btw_posttreat['Gültig'] == 0, btw_posttreat['Wähler'] - btw_posttreat['Ungültig'], btw_posttreat['Gültig'])

Check summation of party and invalid votes

In [217]:
parties = ['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'Ungültig']
btw_posttreat.loc[:, 'votes'] = btw_posttreat[parties].sum(axis=1)
btw_posttreat.loc[:, 'votes'] = btw_posttreat['votes'].astype(int) #convert to integer
print(btw_posttreat['votes'].equals(btw_posttreat['Wähler'])) # check if votes == Wähler
btw_posttreat.drop(['votes'], axis=1, inplace=True)

True

Check summation of valid and invalid votes

In [218]:
votes = ['Gültig', 'Ungültig']
btw_posttreat['votes'] = btw_posttreat[votes].sum(axis=1)
btw_posttreat['votes'] = btw_posttreat['votes'].astype(int) #convert to integer
print(btw_posttreat['votes'].equals(btw_posttreat['Wähler'])) # check if votes == Wähler
btw_posttreat.drop(['votes', 'Ungültig'], axis=1, inplace=True)

True

Calculate vote shares in percent

In [219]:
parties = ['Union',	'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']
for party in parties:
    btw_posttreat.loc[:, party] = (btw_posttreat[party] / btw_posttreat['Gültig'])*100
btw_posttreat.loc[:, 'Wähler'] = (btw_posttreat['Wähler'] / btw_posttreat['Wahlberechtigte'])*100
btw_posttreat.head(10)

,year,AGS,first_vote,post_1998,post_2002,post_2005,post_2009,post_2013,Land,Kreis,...,Wähler,Gültig,SPD,FDP,Grüne,Andere,Union,Linke,second_vote,state_id
0,1994,01001000,1.0,0,0,0,0,0,SH,0101,...,75.925899,51827.0,50.026048,1.954580,6.770602,1.921778,39.326992,0.000000,NaN,01
0,1994,01001000,NaN,0,0,0,0,0,SH,0101,...,75.925899,51823.0,46.643382,6.568512,8.974780,2.043494,34.419080,1.350752,1.0,01
1,1998,01001000,1.0,0,0,0,0,0,SH,0101,...,76.891491,49887.0,55.403211,1.725901,4.009060,1.798064,35.788883,1.274881,NaN,01
1,1998,01001000,NaN,0,0,0,0,0,SH,0101,...,76.891491,49862.0,51.121094,6.381613,7.651117,3.860655,29.156472,1.829048,1.0,01
2,2002,01001000,1.0,1,0,0,0,0,SH,0101,...,74.618193,48551.0,54.188379,4.197648,5.835101,0.399580,33.815987,1.563305,NaN,01
2,2002,01001000,NaN,1,0,0,0,0,SH,0101,...,74.618193,48553.0,48.186518,7.052087,11.443165,1.968982,29.580047,1.769201,1.0,01
3,2005,01001000,1.0,1,1,0,0,0,SH,0101,...,73.170076,48244.0,50.288119,3.318547,5.656662,0.802172,35.142194,4.792306,NaN,01
3,2005,01001000,NaN,1,1,0,0,0,SH,0101,...,73.170076,48235.0,43.536851,8.699077,10.423966,2.145745,28.837981,6.356380,1.0,01
4,2009,01001000,1.0,1,1,1,0,0,SH,0101,...,67.438292,45379.0,36.475021,9.372177,12.164217,1.097424,30.540558,10.350603,NaN,01
4,2009,01001000,NaN,1,1,1,0,0,SH,0101,...,67.438292,45431.0,28.040325,14.373445,16.118950,5.137461,24.736413,11.593405,1.0,01

Clean dataset

In [220]:
btw = btw_posttreat[['AGS', 'year', 'Land', 'state_id', 'Kreis', 'Wahlkreis', 'post_1998', 'post_2002', 'post_2005', 'post_2009', 'post_2013', 'first_vote', 'second_vote', 'Wähler', 'Gültig', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']]
btw.shape

(177760, 21)

Drop obs. with missing values for election results

In [221]:
btw = btw.dropna(axis='rows', how='any', subset=['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere'])
btw.shape

(177752, 21)

Merge with treatment dataset

In [222]:
treatment = pd.read_csv(f'{path}/data/treatment.csv', converters = {'AGS': str})
btw_treat = pd.merge(btw, treatment, on='AGS', how='outer', indicator=True)
btw_treat.head(10)

,AGS,year,Land,state_id,Kreis,Wahlkreis,post_1998,post_2002,post_2005,post_2009,...,Grüne,Andere,GEN,treatment_05,treatment_09,treatment_13,treatment_30,treatment_60,treatment_100,_merge
0,01001000,1994.0,SH,01,0101,1.0,0.0,0.0,0.0,0.0,...,6.770602,1.921778,Flensburg,None,30,100,2010.0,2010.0,2010.0,both
1,01001000,1994.0,SH,01,0101,1.0,0.0,0.0,0.0,0.0,...,8.974780,2.043494,Flensburg,None,30,100,2010.0,2010.0,2010.0,both
2,01001000,1998.0,SH,01,0101,1.0,0.0,0.0,0.0,0.0,...,4.009060,1.798064,Flensburg,None,30,100,2010.0,2010.0,2010.0,both
3,01001000,1998.0,SH,01,0101,1.0,0.0,0.0,0.0,0.0,...,7.651117,3.860655,Flensburg,None,30,100,2010.0,2010.0,2010.0,both
4,01001000,2002.0,SH,01,0101,1.0,1.0,0.0,0.0,0.0,...,5.835101,0.399580,Flensburg,None,30,100,2010.0,2010.0,2010.0,both
5,01001000,2002.0,SH,01,0101,1.0,1.0,0.0,0.0,0.0,...,11.443165,1.968982,Flensburg,None,30,100,2010.0,2010.0,2010.0,both
6,01001000,2005.0,SH,01,0101,1.0,1.0,1.0,0.0,0.0,...,5.656662,0.802172,Flensburg,None,30,100,2010.0,2010.0,2010.0,both
7,01001000,2005.0,SH,01,0101,1.0,1.0,1.0,0.0,0.0,...,10.423966,2.145745,Flensburg,None,30,100,2010.0,2010.0,2010.0,both
8,01001000,2009.0,SH,01,0101,1.0,1.0,1.0,1.0,0.0,...,12.164217,1.097424,Flensburg,None,30,100,2010.0,2010.0,2010.0,both
9,01001000,2009.0,SH,01,0101,1.0,1.0,1.0,1.0,0.0,...,16.118950,5.137461,Flensburg,None,30,100,2010.0,2010.0,2010.0,both

Inspect merge results

In [223]:
print(btw_treat['_merge'].describe())

count     177972
unique         3
top         both
freq      141136
Name: _merge, dtype: object

Clean data and export

In [224]:
btw_treat = btw_treat[btw_treat['_merge'] == 'both']
btw_treat = btw_treat.drop(columns=['_merge'])
btw_treat = btw_treat.set_index(['AGS', 'GEN', 'year'])
btw_treat.to_csv(f'{path}/data/btw_treat.csv', encoding = 'utf-8-sig')

Merge in control variables

In [225]:
btw_treat = btw_treat.reset_index()
controls = pd.read_csv(f'{path}/data/controls.csv', converters = {'AGS': str})
btw_control = pd.merge(btw_treat, controls, on='AGS', how='outer', indicator=True)
btw_control.head(10)

,AGS,GEN,year,Land,state_id,Kreis,Wahlkreis,post_1998,post_2002,post_2005,...,treatment_60,treatment_100,pop_density,female,foreign,unemployed,avg_income,avg_age,catholic,_merge
0,01001000,Flensburg,1994.0,SH,01,0101,1.0,0.0,0.0,0.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both
1,01001000,Flensburg,1994.0,SH,01,0101,1.0,0.0,0.0,0.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both
2,01001000,Flensburg,1998.0,SH,01,0101,1.0,0.0,0.0,0.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both
3,01001000,Flensburg,1998.0,SH,01,0101,1.0,0.0,0.0,0.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both
4,01001000,Flensburg,2002.0,SH,01,0101,1.0,1.0,0.0,0.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both
5,01001000,Flensburg,2002.0,SH,01,0101,1.0,1.0,0.0,0.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both
6,01001000,Flensburg,2005.0,SH,01,0101,1.0,1.0,1.0,0.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both
7,01001000,Flensburg,2005.0,SH,01,0101,1.0,1.0,1.0,0.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both
8,01001000,Flensburg,2009.0,SH,01,0101,1.0,1.0,1.0,1.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both
9,01001000,Flensburg,2009.0,SH,01,0101,1.0,1.0,1.0,1.0,...,2010.0,2010.0,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459,both

In [226]:
print(btw_control['_merge'].describe())

count     143900
unique         3
top         both
freq      141074
Name: _merge, dtype: object

In [227]:
btw_control = btw_control[btw_control['_merge'] == 'both']
btw_control = btw_control.set_index(['AGS', 'GEN', 'year'])
btw_control = btw_control.drop(columns=['_merge'])

Export dataset

In [228]:
btw_control.to_csv(f'{path}/data/btw_control.csv', encoding = 'utf-8-sig')
btw_control.head()

                          Land state_id Kreis  Wahlkreis  post_1998  \
AGS      GEN       year
01001000 Flensburg 1994.0   SH       01  0101        1.0        0.0
                   1994.0   SH       01  0101        1.0        0.0
                   1998.0   SH       01  0101        1.0        0.0
                   1998.0   SH       01  0101        1.0        0.0
                   2002.0   SH       01  0101        1.0        1.0

                           post_2002  post_2005  post_2009  post_2013  \
AGS      GEN       year
01001000 Flensburg 1994.0        0.0        0.0        0.0        0.0
                   1994.0        0.0        0.0        0.0        0.0
                   1998.0        0.0        0.0        0.0        0.0
                   1998.0        0.0        0.0        0.0        0.0
                   2002.0        0.0        0.0        0.0        0.0

                           first_vote  ...  treatment_30  treatment_60  \
AGS      GEN       year                ...
01001000 Flensburg 1994.0         1.0  ...        2010.0        2010.0
                   1994.0         NaN  ...        2010.0        2010.0
                   1998.0         1.0  ...        2010.0        2010.0
                   1998.0         NaN  ...        2010.0        2010.0
                   2002.0         1.0  ...        2010.0        2010.0

                           treatment_100  pop_density    female   foreign  \
AGS      GEN       year
01001000 Flensburg 1994.0         2010.0  1449.735636  0.507233  0.062353
                   1994.0         2010.0  1449.735636  0.507233  0.062353
                   1998.0         2010.0  1449.735636  0.507233  0.062353
                   1998.0         2010.0  1449.735636  0.507233  0.062353
                   2002.0         2010.0  1449.735636  0.507233  0.062353

                           unemployed  avg_income  avg_age  catholic
AGS      GEN       year
01001000 Flensburg 1994.0    0.062328     27000.0     43.0  0.063459
                   1994.0    0.062328     27000.0     43.0  0.063459
                   1998.0    0.062328     27000.0     43.0  0.063459
                   1998.0    0.062328     27000.0     43.0  0.063459
                   2002.0    0.062328     27000.0     43.0  0.063459

[5 rows x 32 columns]