First, import needed modules

In [750]:
import numpy as np
import pandas as pd
import os

Initalize variables

In [751]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import datasets

In [752]:
import chardet
with open(f'{path}/data/elections/btw/es/btw21_es.csv', 'rb') as file:
    print(chardet.detect(file.read()))

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

In [753]:
btw02_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW02_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})

btw02_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW02_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/1795473645.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/1795473645.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/1795473645.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/1795473645.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/1795473645.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/1795473645.py:9: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/1795473645.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/1795473645.py:11: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str, 'Kennziffer Briefwahlzugehörigkeit': str})

View the data

In [754]:
btw17_es.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Kennziffer Briefwahlzugehörigkeit,Wahlbezirk,Bezirksart,Wahlberechtigte (A),...,Bündnis C,DIE EINHEIT,DIE VIOLETTEN,FAMILIE,DIE FRAUEN,MIETERPARTEI,Neue Liberale,UNABHÄNGIGE,WGr/EB,Ungekürzte Wahlbezirksbezeichnung
0,1,01,0,01,0,000,00,000001,0,1670,...,0,0,0,0,0,0,0,0,7,–
1,1,01,0,01,0,000,00,000002,0,1671,...,0,0,0,0,0,0,0,0,6,–
2,1,01,0,01,0,000,00,000003,0,1603,...,0,0,0,0,0,0,0,0,1,–
3,1,01,0,01,0,000,00,000004,0,1497,...,0,0,0,0,0,0,0,0,5,–
4,1,01,0,01,0,000,00,000005,0,1251,...,0,0,0,0,0,0,0,0,4,–

Add year column to dataframes

In [755]:
dfs = [btw02_es, btw05_es, btw09_es, btw13_es, btw17_es, btw02_zs, btw05_zs, btw09_zs, btw13_zs, btw17_zs]
years = [2002, 2005, 2009, 2013, 2017, 2002, 2005, 2009, 2013, 2017]
for df, year in zip(dfs, years):
    df.insert(loc=0, column='year', value=year)

Since some municipalities share a ballot vote election board, in this case, postal ballots cannot be attributed to a single municipality. 
In the 2002 to 2017 data, these cases were signified with '999' as Gemeindekennziffer. From 2017 on the Gemeindekennziffer is given by 9 + Kennziffer Briefwahlzugehörigkeit.

To drop the 999 Gemeinde in for 2002-2013, first append these dataframes

In [756]:
dfs = [btw02_es, btw05_es, btw09_es, btw13_es]
btw0213_es = pd.concat(dfs, sort=False)
dfs = [btw02_zs, btw05_zs, btw09_zs, btw13_zs]
btw0213_zs = pd.concat(dfs, sort=False)
btw0213_zs.head()

,year,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Wahlbezirk,Bezirksart,Wahlberechtigte (A),...,ÖDP,Bündnis 21/RRP,AfD,BIG,pro Deutschland,DIE RECHTE,FREIE WÄHLER,Partei der Nichtwähler,PARTEI DER VERNUNFT,Die PARTEI
0,2002,1,01,0,01,0,000,1,0,1463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002,1,01,0,01,0,000,2,0,1245,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,1,01,0,01,0,000,3,0,1399,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002,1,01,0,01,0,000,4,0,1031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002,1,01,0,01,0,000,5,0,1023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Then drop all observations with Gemeinde == 999

In [757]:
btw0213_es = btw0213_es[btw0213_es['Gemeinde'] != '999']
btw0213_zs = btw0213_zs[btw0213_zs['Gemeinde'] != '999']

For 2017, drop all observations where Gemeinde == 9 + Kennziffer Briefwahlzugehörigkeit

In [758]:
btw17_es = btw17_es[btw17_es['Gemeinde'] != '9' + btw17_es['Kennziffer Briefwahlzugehörigkeit']]
btw17_zs = btw17_zs[btw17_zs['Gemeinde'] != '9' + btw17_zs['Kennziffer Briefwahlzugehörigkeit']]

Now contatenate the dfs for 2002-13 with 2017

In [759]:
dfs = [btw0213_es, btw17_es]
btw_es = pd.concat(dfs, sort=False)
dfs = [btw0213_zs, btw17_zs]
btw_zs = pd.concat(dfs, sort=False)

Create the AGS, it follows the scheme ll r kk ggg (Land, Regierunsbezirk, Kreis, Gemeinde) -> combine these columns

In [760]:
btw_es.insert(loc=0, column='AGS', value=0)
btw_es['AGS'] = btw_es['Land'] + btw_es['Regierungsbezirk'] + btw_es['Kreis'] + btw_es['Gemeinde']
btw_zs.insert(loc=0, column='AGS', value=0)
btw_zs['AGS'] = btw_zs['Land'] + btw_zs['Regierungsbezirk'] + btw_zs['Kreis'] + btw_zs['Gemeinde']
btw_zs.head()

,AGS,year,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Wahlbezirk,Bezirksart,...,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³,Ungekürzte Wahlbezirksbezeichnung
0,01001000,2002,1,01,0,01,0,000,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01001000,2002,1,01,0,01,0,000,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01001000,2002,1,01,0,01,0,000,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01001000,2002,1,01,0,01,0,000,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01001000,2002,1,01,0,01,0,000,5,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Since there is only one polygon with the AGS 11000000 for Berlin, replace AGS values here

In [761]:
btw_es['AGS'] = np.where(btw_es['Land'] == '11', '11000000', btw_es['AGS']) #if condition, = 110..., else AGS
btw_zs['AGS'] = np.where(btw_zs['Land'] == '11', '11000000', btw_es['AGS'])

Collapse data along AGS column, sums votes over all constituencies in a municipality

In [762]:
btw_es = btw_es.groupby(['AGS', 'year', 'Land', 'Bezirksart'], as_index=False).sum()
btw_zs = btw_zs.groupby(['AGS', 'year', 'Land', 'Bezirksart'], as_index=False).sum()
btw_es.head()

,AGS,year,Land,Bezirksart,Wahlkreis,Verbandsgemeinde,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),Wahlberechtigte nach § 25 Abs. 2 BWO (A3),...,Die Grauen,du,MG,MENSCHLICHE WELT,Gesundheitsforschung,V-Partei³,Bündnis C,DIE EINHEIT,MIETERPARTEI,Neue Liberale
0,01001000,2002,01,0,46,0,65740,57788,7949,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01001000,2002,01,5,7,0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01001000,2005,01,0,46,0,66970,58379,8591,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01001000,2005,01,5,7,0,0,0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01001000,2009,01,0,46,0,69075,60983,8092,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Add indicator for first and second vote

In [763]:
dfs = [btw_es, btw_zs]
eszs = ['first_vote', 'second_vote']
for df, stimme in zip(dfs, eszs):
    df.insert(loc=2, column=stimme, value=1)
btw_zs.head()

,AGS,year,second_vote,Land,Bezirksart,Wahlkreis,Verbandsgemeinde,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),...,BGE,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³
0,01001000,2002,1,01,0,46,0,65740,57788,7949,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01001000,2002,1,01,5,7,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01001000,2005,1,01,0,46,0,66970,58379,8591,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01001000,2005,1,01,5,7,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01001000,2009,1,01,0,47,1455,60283,53341,6942,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

ES: Sum votes for other, Union and Die Linke parties

In [764]:
# list(btw_es.columns)

In [765]:
andere = [ 'REP',
 'GRAUE',
 'TIERSCHUTZ',
 'NPD',
 'ÖDP',
 'PBC',
 'FRAUEN',
 'BP',
 'FAMILIE',
 'CM',
 'BÜSO',
 'HP',
 'VIOLETTEN',
 'AUFBRUCH',
 'ZENTRUM',
 'KPD',
 'PRG',
 'SCHILL',
 'DEUTSCHLAND',
 'DKP',
 'DSU',
 'FP D',
 'ÜBRIGE',
 'Offensive D',
 'Die Tierschutzpartei',
 'DIE FRAUEN',
 'BüSo',
 'Deutschland',
 'AGFG',
 'APPD',
 'MLPD',
 'DIE PARTEI',
 'HUMANWIRTSCHAFTSPARTEI',
 'STATT Partei',
 'UNABHÄNGIGE',
 'Übrige',
 'Volksabstimmung',
 'ADM',
 'DIE VIOLETTEN',
 'ödp',
 'PIRATEN',
 'RRP',
 'Freie Union',
 'Tierschutzpartei',
 'Bündnis 21/RRP',
 'RENTNER',
 'AfD',
 'BIG',
 'pro Deutschland',
 'FREIE WÄHLER',
 'PARTEI DER VERNUNFT',
 'Die PARTEI',
 'Bergpartei',
 'BGD',
 'NEIN',
 'WGr/EB',
 'PDV',
 'SGP',
 'DIE RECHTE',
 'Tierschutzallianz',
 'B*',
 'Die Grauen',
 'du',
 'MG',
 'MENSCHLICHE WELT',
 'Gesundheitsforschung',
 'V-Partei³',
 'Bündnis C',
 'DIE EINHEIT',
 'MIETERPARTEI',
 'Neue Liberale']
btw_es['Andere'] = btw_es[andere].sum(axis=1) # sum votes for 'Other' Parties
union = ['CDU', 'CSU']
btw_es['Union'] = btw_es[union].sum(axis=1) # sum votes for 'Union' Parties
linke = ['Die Linke', 'DIE LINKE', 'PDS']
btw_es['Linke'] = btw_es[linke].sum(axis=1) # sum votes for 'Linke' Parties
invalid = ['Ungültige', 'Ungültig']
btw_es['Ungültig'] = btw_es[invalid].sum(axis=1) # sum invalid votes
valid = ['Gültige', 'Gültig']
btw_es['Gültig'] = btw_es[valid].sum(axis=1) # sum valid votes

Drop not needed columns

In [766]:
columns_to_drop = andere + union + linke + ['Ungültige', 'Gültige', 'Wahlkreis', 'Verbandsgemeinde']
btw_es.drop(columns_to_drop, axis=1, inplace=True)
btw_es.head()

,AGS,year,first_vote,Land,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),Wahlberechtigte nach § 25 Abs. 2 BWO (A3),Wähler (B),Wähler mit Wahlschein (B1),Ungültig,Gültig,SPD,GRÜNE,FDP,Andere,Union,Linke
0,01001000,2002,1,01,0,65740,57788,7949,3.0,41501,20,458.0,41043.0,22806,2309,1673,158.0,13433,664.0
1,01001000,2002,1,01,5,0,0,0,0.0,7553,7553,45.0,7508.0,3503,524,365,36.0,2985,95.0
2,01001000,2005,1,01,0,66970,58379,8591,0.0,40802,18,701.0,40101.0,20715,2217,1323,355.0,13494,1997.0
3,01001000,2005,1,01,5,0,0,0,0.0,8200,8200,57.0,8143.0,3546,512,278,32.0,3460,315.0
4,01001000,2009,1,01,0,69075,60983,8092,0.0,39365,20,1070.0,38295.0,14309,4546,3588,453.0,11162,4237.0

In [767]:
btw_es.columns

Index(['AGS', 'year', 'first_vote', 'Land', 'Bezirksart',
       'Wahlberechtigte (A)', 'Wahlberechtigte ohne Sperrvermerk (A1)',
       'Wahlberechtigte mit Sperrvermerk (A2)',
       'Wahlberechtigte nach § 25 Abs. 2 BWO (A3)', 'Wähler (B)',
       'Wähler mit Wahlschein (B1)', 'Ungültig', 'Gültig', 'SPD', 'GRÜNE',
       'FDP', 'Andere', 'Union', 'Linke'],
      dtype='object')

ZS: Sum votes for other, Union and DIE LINKE parties

In [768]:
# list(btw_zs.columns)

In [769]:
andere = [ 'REP',
 'GRAUE',
 'Tierschutz',
 'NPD',
 'ödp',
 'PBC',
 'FRAUEN',
 'BP',
 'FAMILIE',
 'CM',
 'BüSo',
 'HP',
 'Violetten',
 'AUFBRUCH',
 'ZENTRUM',
 'KPD',
 'PRG',
 'Schill',
 'Offensive D',
 'Die Tierschutzpartei',
 'DIE FRAUEN',
 'Deutschland',
 'AGFG',
 'APPD',
 '50plus',
 'MLPD',
 'Die Partei',
 'PSG',
 'Pro DM',
 'Volksabstimmung',
 'ADM',
 'DKP',
 'DVU',
 'DIE VIOLETTEN',
 'FWD',
 'PIRATEN',
 'RRP',
 'RENTNER',
 'Tierschutzpartei',
 'ÖDP',
 'Bündnis 21/RRP',
 'AfD',
 'BIG',
 'pro Deutschland',
 'DIE RECHTE',
 'FREIE WÄHLER',
 'Partei der Nichtwähler',
 'PARTEI DER VERNUNFT',
 'Die PARTEI',
 'PDV',
 'SGP',
 'AD-DEMOKRATEN',
 'Tierschutzallianz',
 'B*',
 'BGE',
 'DiB',
 'DM',
 'Die Grauen',
 'du.',
 'MG',
 'MENSCHLICHE WELT',
 'Die Humanisten',
 'Gesundheitsforschung',
 'V-Partei³']
btw_zs['Andere'] = btw_zs[andere].sum(axis=1) # sum votes for 'Other' Parties
union = ['CDU', 'CSU']
btw_zs['Union'] = btw_zs[union].sum(axis=1) # sum votes for 'Union' Parties
linke = ['Die Linke', 'DIE LINKE', 'PDS']
btw_zs['Linke'] = btw_zs[linke].sum(axis=1) # sum votes for 'Linke' Parties
invalid = ['Ungültige', 'Ungültig']
btw_zs['Ungültig'] = btw_zs[invalid].sum(axis=1) # sum invalid votes
valid = ['Gültige', 'Gültig']
btw_zs['Gültig'] = btw_zs[valid].sum(axis=1) # sum valid votes

In [770]:
columns_to_drop = andere + union + linke + ['Ungültige', 'Gültige', 'Wahlkreis', 'Verbandsgemeinde']
btw_zs.drop(columns_to_drop, axis=1, inplace=True)
btw_zs.head()

,AGS,year,second_vote,Land,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),Wahlberechtigte nach § 25 Abs. 2 BWO (A3),Wähler (B),Wähler mit Wahlschein (B1),Ungültig,Gültig,SPD,GRÜNE,FDP,Andere,Union,Linke
0,01001000,2002,1,01,0,65740,57788,7949,3.0,41501,20,467.0,41034.0,20295,4684,2766,827.0,11747,715.0
1,01001000,2002,1,01,5,0,0,0,0.0,7553,7553,34.0,7519.0,3101,872,658,129.0,2615,144.0
2,01001000,2005,1,01,0,66970,58379,8591,0.0,40802,18,710.0,40092.0,17865,4286,3531,957.0,10863,2590.0
3,01001000,2005,1,01,5,0,0,0,0.0,8200,8200,57.0,8143.0,3135,742,665,78.0,3047,476.0
4,01001000,2009,1,01,0,60283,53341,6942,0.0,33660,19,944.0,32716.0,9868,5013,4377,1705.0,7996,3757.0

Concatenate first and second vote datasets

In [771]:
dfs = [btw_es, btw_zs]
btw_eszs = pd.concat(dfs, sort=False)
btw_eszs = btw_eszs.sort_values(['AGS', 'year'])
btw_eszs.head(12)

,AGS,year,first_vote,Land,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),Wahlberechtigte nach § 25 Abs. 2 BWO (A3),Wähler (B),Wähler mit Wahlschein (B1),Ungültig,Gültig,SPD,GRÜNE,FDP,Andere,Union,Linke,second_vote
0,01001000,2002,1.0,01,0,65740,57788,7949,3.0,41501,20,458.0,41043.0,22806,2309,1673,158.0,13433,664.0,NaN
1,01001000,2002,1.0,01,5,0,0,0,0.0,7553,7553,45.0,7508.0,3503,524,365,36.0,2985,95.0,NaN
0,01001000,2002,NaN,01,0,65740,57788,7949,3.0,41501,20,467.0,41034.0,20295,4684,2766,827.0,11747,715.0,1.0
1,01001000,2002,NaN,01,5,0,0,0,0.0,7553,7553,34.0,7519.0,3101,872,658,129.0,2615,144.0,1.0
2,01001000,2005,1.0,01,0,66970,58379,8591,0.0,40802,18,701.0,40101.0,20715,2217,1323,355.0,13494,1997.0,NaN
3,01001000,2005,1.0,01,5,0,0,0,0.0,8200,8200,57.0,8143.0,3546,512,278,32.0,3460,315.0,NaN
2,01001000,2005,NaN,01,0,66970,58379,8591,0.0,40802,18,710.0,40092.0,17865,4286,3531,957.0,10863,2590.0,1.0
3,01001000,2005,NaN,01,5,0,0,0,0.0,8200,8200,57.0,8143.0,3135,742,665,78.0,3047,476.0,1.0
4,01001000,2009,1.0,01,0,69075,60983,8092,0.0,39365,20,1070.0,38295.0,14309,4546,3588,453.0,11162,4237.0,NaN
5,01001000,2009,1.0,01,5,0,0,0,0.0,7218,7218,134.0,7084.0,2243,974,665,45.0,2697,460.0,NaN
4,01001000,2009,NaN,01,0,60283,53341,6942,0.0,33660,19,944.0,32716.0,9868,5013,4377,1705.0,7996,3757.0,1.0
5,01001000,2009,NaN,01,5,0,0,0,0.0,7266,7266,114.0,7152.0,1578,1191,1226,253.0,2386,518.0,1.0

Add indicator for vote type (polling office, postal, other)

In [772]:
btw_eszs['Vote type'] = np.where(btw_eszs['Bezirksart'] > 5 , 'other', np.nan) # 6 = Sonderwahlbezirk, 8 = Bezirke für Wahlberechtigte ohne nähere Angabe
btw_eszs['Vote type'] = np.where(btw_eszs['Bezirksart'] == 5, 'postal', btw_eszs['Vote type'])
btw_eszs['Vote type'] = np.where(btw_eszs['Bezirksart'] == 0, 'office', btw_eszs['Vote type'])

Replace Land values with corresponding state abbreviation

In [773]:
states = {'01': 'SH', '02': 'HH', '03': 'NI', '04': 'HB', '05': 'NW', '06': 'HE', '07': 'RP', '08': 'BW', \
         '09': 'BY', '10': 'SL', '11': 'BE', '12': 'BB', '13': 'MV', '14': 'SN', '15': 'ST', '16': 'TH'}
for key, value in states.items():
    btw_eszs['Land'] = np.where(btw_eszs['Land'] == key, value, btw_eszs['Land'])
btw_eszs.Land.unique()

array(['SH', 'HH', 'NI', 'HB', 'NW', 'HE', 'RP', 'BW', 'BY', 'SL', 'BE',
       'BB', 'MV', 'SN', 'ST', 'TH'], dtype=object)

Add post-treatment indicator

In [774]:
btw_posttreat = btw_eszs #defragment df
years = [2017, 2013, 2009, 2005]
for year in years:
    btw_posttreat.insert(loc=3, column=f'post_{year}', value=0)
    btw_posttreat[f'post_{year}'] = np.where(btw_posttreat['year'] >= year, 1, 0)
btw_posttreat.head(10)

,AGS,year,first_vote,post_2005,post_2009,post_2013,post_2017,Land,Bezirksart,Wahlberechtigte (A),...,Ungültig,Gültig,SPD,GRÜNE,FDP,Andere,Union,Linke,second_vote,Vote type
0,01001000,2002,1.0,0,0,0,0,SH,0,65740,...,458.0,41043.0,22806,2309,1673,158.0,13433,664.0,NaN,office
1,01001000,2002,1.0,0,0,0,0,SH,5,0,...,45.0,7508.0,3503,524,365,36.0,2985,95.0,NaN,postal
0,01001000,2002,NaN,0,0,0,0,SH,0,65740,...,467.0,41034.0,20295,4684,2766,827.0,11747,715.0,1.0,office
1,01001000,2002,NaN,0,0,0,0,SH,5,0,...,34.0,7519.0,3101,872,658,129.0,2615,144.0,1.0,postal
2,01001000,2005,1.0,1,0,0,0,SH,0,66970,...,701.0,40101.0,20715,2217,1323,355.0,13494,1997.0,NaN,office
3,01001000,2005,1.0,1,0,0,0,SH,5,0,...,57.0,8143.0,3546,512,278,32.0,3460,315.0,NaN,postal
2,01001000,2005,NaN,1,0,0,0,SH,0,66970,...,710.0,40092.0,17865,4286,3531,957.0,10863,2590.0,1.0,office
3,01001000,2005,NaN,1,0,0,0,SH,5,0,...,57.0,8143.0,3135,742,665,78.0,3047,476.0,1.0,postal
4,01001000,2009,1.0,1,1,0,0,SH,0,69075,...,1070.0,38295.0,14309,4546,3588,453.0,11162,4237.0,NaN,office
5,01001000,2009,1.0,1,1,0,0,SH,5,0,...,134.0,7084.0,2243,974,665,45.0,2697,460.0,NaN,postal

Drop not needed columns and rename

In [775]:
btw_posttreat.rename(columns = {'Wahlberechtigte (A)':'Wahlberechtigte', 'GRÜNE': 'Grüne', 'Wähler (B)': 'Wähler'}, inplace = True)
btw_posttreat = btw_posttreat[['AGS', 'Land', 'year', 'post_2005', 'post_2009', 'post_2013', 'post_2017', 'first_vote', 'second_vote', 'Vote type', 'Wahlberechtigte', 'Wähler', 'Gültig', 'Ungültig', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']]
btw_posttreat.head(10)

,AGS,Land,year,post_2005,post_2009,post_2013,post_2017,first_vote,second_vote,Vote type,Wahlberechtigte,Wähler,Gültig,Ungültig,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,SH,2002,0,0,0,0,1.0,NaN,office,65740,41501,41043.0,458.0,13433,22806,1673,664.0,2309,158.0
1,01001000,SH,2002,0,0,0,0,1.0,NaN,postal,0,7553,7508.0,45.0,2985,3503,365,95.0,524,36.0
0,01001000,SH,2002,0,0,0,0,NaN,1.0,office,65740,41501,41034.0,467.0,11747,20295,2766,715.0,4684,827.0
1,01001000,SH,2002,0,0,0,0,NaN,1.0,postal,0,7553,7519.0,34.0,2615,3101,658,144.0,872,129.0
2,01001000,SH,2005,1,0,0,0,1.0,NaN,office,66970,40802,40101.0,701.0,13494,20715,1323,1997.0,2217,355.0
3,01001000,SH,2005,1,0,0,0,1.0,NaN,postal,0,8200,8143.0,57.0,3460,3546,278,315.0,512,32.0
2,01001000,SH,2005,1,0,0,0,NaN,1.0,office,66970,40802,40092.0,710.0,10863,17865,3531,2590.0,4286,957.0
3,01001000,SH,2005,1,0,0,0,NaN,1.0,postal,0,8200,8143.0,57.0,3047,3135,665,476.0,742,78.0
4,01001000,SH,2009,1,1,0,0,1.0,NaN,office,69075,39365,38295.0,1070.0,11162,14309,3588,4237.0,4546,453.0
5,01001000,SH,2009,1,1,0,0,1.0,NaN,postal,0,7218,7084.0,134.0,2697,2243,665,460.0,974,45.0

Since vote percentages are calculated based on the 'valid' votes and there are some rows with valid == 0, calculate the vote shares for these (Voters - Invalid)

In [776]:
btw_posttreat.loc[:, 'Gültig'] = np.where(btw_posttreat['Gültig'] == 0, btw_posttreat['Wähler'] - btw_posttreat['Ungültig'], btw_posttreat['Gültig'])

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/486520081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btw_posttreat.loc[:, 'Gültig'] = np.where(btw_posttreat['Gültig'] == 0, btw_posttreat['Wähler'] - btw_posttreat['Ungültig'], btw_posttreat['Gültig'])

Check summation of party and invalid votes

In [777]:
parties = ['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'Ungültig']
btw_posttreat.loc[:, 'votes'] = btw_posttreat[parties].sum(axis=1)
btw_posttreat.loc[:, 'votes'] = btw_posttreat['votes'].astype(int) #convert to integer
print(btw_posttreat['votes'].equals(btw_posttreat['Wähler'])) # check if votes == Wähler
btw_posttreat.drop(['votes'], axis=1, inplace=True)

True

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/3029531782.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btw_posttreat.loc[:, 'votes'] = btw_posttreat[parties].sum(axis=1)
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/3029531782.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btw_posttreat.loc[:, 'votes'] = btw_posttreat['votes'].astype(int) #convert to integer
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/3029531782.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btw_posttreat.drop(['votes'], axis=1, inplace=True)

Check summation of valid and invalid votes

In [778]:
votes = ['Gültig', 'Ungültig']
btw_posttreat['votes'] = btw_posttreat[votes].sum(axis=1)
btw_posttreat['votes'] = btw_posttreat['votes'].astype(int) #convert to integer
print(btw_posttreat['votes'].equals(btw_posttreat['Wähler'])) # check if votes == Wähler
btw_posttreat.drop(['votes', 'Ungültig'], axis=1, inplace=True)

True

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/2056866328.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btw_posttreat['votes'] = btw_posttreat[votes].sum(axis=1)
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/2056866328.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btw_posttreat['votes'] = btw_posttreat['votes'].astype(int) #convert to integer
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/2056866328.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btw_posttreat.drop(['votes', 'Ungültig'], axis=1, inplace=True)

Calculate vote shares in percent

In [779]:
parties = ['Union',	'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']
for party in parties:
    btw_posttreat.loc[:, party] = (btw_posttreat[party] / btw_posttreat['Gültig'])*100
btw_posttreat.loc[:, 'Wähler'] = (btw_posttreat['Wähler'] / btw_posttreat['Wahlberechtigte'])*100
btw_posttreat.head(10)

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/2437638836.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btw_posttreat.loc[:, party] = (btw_posttreat[party] / btw_posttreat['Gültig'])*100
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_25470/2437638836.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  btw_posttreat.loc[:, 'Wähler'] = (btw_posttreat['Wähler'] / btw_posttreat['Wahlberechtigte'])*100

,AGS,Land,year,post_2005,post_2009,post_2013,post_2017,first_vote,second_vote,Vote type,Wahlberechtigte,Wähler,Gültig,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,SH,2002,0,0,0,0,1.0,NaN,office,65740,63.128993,41043.0,32.729089,55.566114,4.076213,1.617815,5.625807,0.384962
1,01001000,SH,2002,0,0,0,0,1.0,NaN,postal,0,inf,7508.0,39.757592,46.656899,4.861481,1.265317,6.979222,0.479489
0,01001000,SH,2002,0,0,0,0,NaN,1.0,office,65740,63.128993,41034.0,28.627480,49.458985,6.740752,1.742457,11.414924,2.015402
1,01001000,SH,2002,0,0,0,0,NaN,1.0,postal,0,inf,7519.0,34.778561,41.242186,8.751164,1.915148,11.597287,1.715654
2,01001000,SH,2005,1,0,0,0,1.0,NaN,office,66970,60.925788,40101.0,33.650034,51.657066,3.299170,4.979926,5.528540,0.885265
3,01001000,SH,2005,1,0,0,0,1.0,NaN,postal,0,inf,8143.0,42.490483,43.546604,3.413975,3.868353,6.287609,0.392976
2,01001000,SH,2005,1,0,0,0,NaN,1.0,office,66970,60.925788,40092.0,27.095181,44.560012,8.807243,6.460142,10.690412,2.387010
3,01001000,SH,2005,1,0,0,0,NaN,1.0,postal,0,inf,8143.0,37.418642,38.499325,8.166523,5.845511,9.112121,0.957878
4,01001000,SH,2009,1,1,0,0,1.0,NaN,office,69075,56.988780,38295.0,29.147408,37.365191,9.369369,11.064108,11.871001,1.182922
5,01001000,SH,2009,1,1,0,0,1.0,NaN,postal,0,inf,7084.0,38.071711,31.662902,9.387352,6.493506,13.749294,0.635234

Clean dataset

In [780]:
btw = btw_posttreat[['AGS', 'year', 'Land', 'post_2005', 'post_2009', 'post_2013', 'post_2017', 'first_vote', 'second_vote', 'Vote type', 'Wähler', 'Gültig', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']]
btw.shape

,AGS,year,Land,post_2005,post_2009,post_2013,post_2017,first_vote,second_vote,Vote type,Wähler,Gültig,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,2002,SH,0,0,0,0,1.0,NaN,office,63.128993,41043.0,32.729089,55.566114,4.076213,1.617815,5.625807,0.384962
1,01001000,2002,SH,0,0,0,0,1.0,NaN,postal,inf,7508.0,39.757592,46.656899,4.861481,1.265317,6.979222,0.479489
0,01001000,2002,SH,0,0,0,0,NaN,1.0,office,63.128993,41034.0,28.627480,49.458985,6.740752,1.742457,11.414924,2.015402
1,01001000,2002,SH,0,0,0,0,NaN,1.0,postal,inf,7519.0,34.778561,41.242186,8.751164,1.915148,11.597287,1.715654
2,01001000,2005,SH,1,0,0,0,1.0,NaN,office,60.925788,40101.0,33.650034,51.657066,3.299170,4.979926,5.528540,0.885265

Drop obs. with missing values for election results

In [781]:
btw = btw.dropna(axis='rows', how='any', subset=['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere'])
btw.shape

(167338, 18)

Merge with treatment dataset

In [782]:
treatment = pd.read_csv(f'{path}/data/treatment.csv', converters = {'AGS': str})
btw_treat = pd.merge(btw, treatment, on='AGS', how='outer', indicator=True)
btw_treat.head(10)

,AGS,year,Land,post_2005,post_2009,post_2013,post_2017,first_vote,second_vote,Vote type,...,Andere,GEN,treatment,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100,_merge
0,01001000,2002.0,SH,0.0,0.0,0.0,0.0,1.0,NaN,office,...,0.384962,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both
1,01001000,2002.0,SH,0.0,0.0,0.0,0.0,1.0,NaN,postal,...,0.479489,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both
2,01001000,2002.0,SH,0.0,0.0,0.0,0.0,NaN,1.0,office,...,2.015402,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both
3,01001000,2002.0,SH,0.0,0.0,0.0,0.0,NaN,1.0,postal,...,1.715654,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both
4,01001000,2005.0,SH,1.0,0.0,0.0,0.0,1.0,NaN,office,...,0.885265,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both
5,01001000,2005.0,SH,1.0,0.0,0.0,0.0,1.0,NaN,postal,...,0.392976,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both
6,01001000,2005.0,SH,1.0,0.0,0.0,0.0,NaN,1.0,office,...,2.387010,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both
7,01001000,2005.0,SH,1.0,0.0,0.0,0.0,NaN,1.0,postal,...,0.957878,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both
8,01001000,2009.0,SH,1.0,1.0,0.0,0.0,1.0,NaN,office,...,1.182922,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both
9,01001000,2009.0,SH,1.0,1.0,0.0,0.0,1.0,NaN,postal,...,0.635234,Flensburg,100,0.0,0.0,0.0,0.0,0.0,1.0,both

Inspect merge results

In [783]:
print(btw_treat['_merge'].describe())

count     167340
unique         3
top         both
freq      149669
Name: _merge, dtype: object

Clean data and export

In [784]:
btw_treat = btw_treat[btw_treat['_merge'] == 'both']
btw_treat = btw_treat.drop(columns=['_merge'])
btw_treat = btw_treat.set_index(['AGS', 'GEN', 'year'])
btw_treat.to_csv(f'{path}/data/btw_treat.csv', encoding = 'utf-8-sig')

Merge in control variables

In [785]:
btw_treat = btw_treat.reset_index()
controls = pd.read_csv(f'{path}/data/controls.csv', converters = {'AGS': str})
btw_control = pd.merge(btw_treat, controls, on='AGS', how='outer', indicator=True)
btw_control.head(10)

,AGS,GEN,year,Land,post_2005,post_2009,post_2013,post_2017,first_vote,second_vote,...,avg_age,age 0-17,age 18-24,age 25-44,age 45-64,age 65+,protestant,catholic,religion_other,_merge
0,01001000,Flensburg,2002.0,SH,0.0,0.0,0.0,0.0,1.0,NaN,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both
1,01001000,Flensburg,2002.0,SH,0.0,0.0,0.0,0.0,1.0,NaN,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both
2,01001000,Flensburg,2002.0,SH,0.0,0.0,0.0,0.0,NaN,1.0,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both
3,01001000,Flensburg,2002.0,SH,0.0,0.0,0.0,0.0,NaN,1.0,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both
4,01001000,Flensburg,2005.0,SH,1.0,0.0,0.0,0.0,1.0,NaN,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both
5,01001000,Flensburg,2005.0,SH,1.0,0.0,0.0,0.0,1.0,NaN,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both
6,01001000,Flensburg,2005.0,SH,1.0,0.0,0.0,0.0,NaN,1.0,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both
7,01001000,Flensburg,2005.0,SH,1.0,0.0,0.0,0.0,NaN,1.0,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both
8,01001000,Flensburg,2009.0,SH,1.0,1.0,0.0,0.0,1.0,NaN,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both
9,01001000,Flensburg,2009.0,SH,1.0,1.0,0.0,0.0,1.0,NaN,...,43.0,15.2,11.3,26.3,26.6,20.6,0.496815,0.063459,0.439726,both

In [786]:
print(btw_control['_merge'].describe())

count     152435
unique         3
top         both
freq      149627
Name: _merge, dtype: object

In [787]:
btw_control = btw_control[btw_control['_merge'] == 'both']
btw_control = btw_control.set_index(['AGS', 'GEN', 'year'])
btw_control = btw_control.drop(columns=['_merge'])

Export dataset

In [788]:
btw_control.to_csv(f'{path}/data/btw_control.csv', encoding = 'utf-8-sig')
btw_control.head()

                          Land  post_2005  post_2009  post_2013  post_2017  \
AGS      GEN       year
01001000 Flensburg 2002.0   SH        0.0        0.0        0.0        0.0
                   2002.0   SH        0.0        0.0        0.0        0.0
                   2002.0   SH        0.0        0.0        0.0        0.0
                   2002.0   SH        0.0        0.0        0.0        0.0
                   2005.0   SH        1.0        0.0        0.0        0.0

                           first_vote  second_vote Vote type     Wähler  \
AGS      GEN       year
01001000 Flensburg 2002.0         1.0          NaN    office  63.128993
                   2002.0         1.0          NaN    postal        inf
                   2002.0         NaN          1.0    office  63.128993
                   2002.0         NaN          1.0    postal        inf
                   2005.0         1.0          NaN    office  60.925788

                            Gültig  ...  avg_income  avg_age  age 0-17  \
AGS      GEN       year             ...
01001000 Flensburg 2002.0  41043.0  ...     27000.0     43.0      15.2
                   2002.0   7508.0  ...     27000.0     43.0      15.2
                   2002.0  41034.0  ...     27000.0     43.0      15.2
                   2002.0   7519.0  ...     27000.0     43.0      15.2
                   2005.0  40101.0  ...     27000.0     43.0      15.2

                           age 18-24  age 25-44  age 45-64 age 65+  \
AGS      GEN       year
01001000 Flensburg 2002.0       11.3       26.3       26.6    20.6
                   2002.0       11.3       26.3       26.6    20.6
                   2002.0       11.3       26.3       26.6    20.6
                   2002.0       11.3       26.3       26.6    20.6
                   2005.0       11.3       26.3       26.6    20.6

                           protestant  catholic  religion_other
AGS      GEN       year
01001000 Flensburg 2002.0    0.496815  0.063459        0.439726
                   2002.0    0.496815  0.063459        0.439726
                   2002.0    0.496815  0.063459        0.439726
                   2002.0    0.496815  0.063459        0.439726
                   2005.0    0.496815  0.063459        0.439726

[5 rows x 39 columns]