First, import needed modules

In [1]:
import numpy as np
import pandas as pd
import os

Initalize variables

In [2]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import datasets

In [19]:
controls_raw = pd.read_csv(f'{path}/data/controls/inkar_2021.csv', encoding='UTF-8-SIG')

Rename columns

In [20]:
col_names = ['bereich', 'indikator', 'AGS', 'year', 'wert']
controls_raw.columns = col_names
controls_raw.columns

Index(['bereich', 'indikator', 'AGS', 'year', 'wert'], dtype='object')

Fix the AGS

In [21]:
controls_raw['AGS'] = controls_raw['AGS'].astype(str)
controls_raw['AGS'] = np.where(controls_raw['AGS'].str.len() < 8, '0' + controls_raw['AGS'], controls_raw['AGS'])

Convert Wert to numeric

In [22]:
controls_raw['value'] = controls_raw['wert'].str.replace(',','.').astype(float)
controls_raw.dtypes

bereich       object
indikator     object
AGS           object
year           int64
wert          object
value        float64
dtype: object

In [25]:
list(controls_raw['indikator'].unique())

['Langzeitarbeitslose',
 'Beschäftigtenquote',
 'Erholungsfläche je Einwohner',
 'Siedlungs- und Verkehrsfläche',
 'Bevölkerung (mit Korrektur VZ 1987/Zensus 2011)',
 'Bevölkerung gesamt',
 'Bevölkerung männlich',
 'Bevölkerung weiblich',
 'Einkommensteuer',
 'Frauenanteil',
 'Geborene',
 'Gesamtwanderungssaldo',
 'Gestorbene',
 'Gewerbesteuer',
 'Natürlicher Saldo',
 'Steuereinnahmen',
 'Steuerkraft',
 'Umsatzsteuer',
 'Bodenfläche gesamt',
 'Einwohnerdichte',
 'Neubauwohnungen in Ein- und Zweifamilienhäusern je Einwohner',
 'Neubauwohnungen in Mehrfamilienhäusern',
 'Auspendler',
 'Einpendler',
 'Pendlersaldo',
 'sozialversicherungspflichtig Beschäftigte am Arbeitsort',
 'sozialversicherungspflichtig Beschäftigte am Wohnort',
 'Anteil jüngere Arbeitslose',
 'Anteil männliche jüngere Arbeitslose',
 'Anteil männliche ältere Arbeitslose',
 'Anteil weibliche jüngere Arbeitslose',
 'Anteil weibliche ältere Arbeitslose',
 'Anteil ältere Arbeitslose',
 'Arbeitslose',
 'Arbeitslose Frauen',
 'Arbeitslose Männer',
 'Männliche Langzeitarbeitslose',
 'Weibliche Langzeitarbeitslose',
 'ausländische Arbeitslose',
 'ausländische männliche Arbeitslose',
 'ausländische weibliche Arbeitslose',
 'Einwohner-Arbeitsplatz-Dichte',
 'Abhängigenquote Alte',
 'Abhängigenquote Junge',
 'Beschäftigtenquote Frauen',
 'Beschäftigtenquote Männer',
 'Durchschnittsalter der Bevölkerung',
 'Einwohner 65 Jahre und älter',
 'Einwohner 75 Jahre und älter',
 'Einwohner unter 3 Jahren',
 'Einwohner unter 6 Jahre',
 'Einwohner von 18 bis unter 25 Jahren',
 'Einwohner von 25 bis unter 30 Jahren',
 'Einwohner von 3 bis unter 6 Jahren',
 'Einwohner von 30 bis unter 50 Jahren',
 'Einwohner von 50 bis unter 65 Jahren',
 'Einwohner von 6 bis unter 18 Jahren',
 'Einwohner von 65 bis unter 75 Jahren',
 'Erwerbsfähige Bevölkerung (15 bis unter 65 Jahre)',
 'Frauenanteil 20 bis unter 40 Jahre',
 'Jüngere Arbeitslose',
 'Männliche jüngere Arbeitslose',
 'Männliche ältere Arbeitslose',
 'Verhältnis der Beschäftigungsquote von Frauen zu Männern',
 'Verhältnis junge zu alte Erwerbsfähige',
 'Weibliche Einwohner 65 Jahre und älter',
 'Weibliche Einwohner 75 Jahre und älter',
 'Weibliche Einwohner von 18 bis unter 25 Jahren',
 'Weibliche Einwohner von 25 bis unter 30 Jahren',
 'Weibliche Einwohner von 65 bis unter 75 Jahren',
 'Weibliche jüngere Arbeitslose',
 'Weibliche ältere Arbeitslose',
 'Ältere Arbeitslose',
 'Baugenehmigungen für Wohnungen',
 'Baugenehmigungen für Wohnungen in Ein- und Zweifamilienhäusern',
 'Baugenehmigungen für Wohnungen in Mehrfamilienhäusern',
 'Neubauwohnungen je Einwohner',
 'Neue Ein- und Zweifamilienhäuser',
 'Verunglückte im Straßenverkehr',
 '5- und mehr Raum-Wohnungen',
 'Ein- und Zweifamilienhäuser',
 'Ein- und Zweiraumwohnungen',
 'Fertiggestellte Wohnungen im Bestand',
 'Mehrfamilienhäuser',
 'Pendler mit Arbeitsweg 150 km und mehr',
 'Pendler mit Arbeitsweg 300 km und mehr',
 'Pendler mit Arbeitsweg 50 km und mehr',
 'Neubauwohnungen in Ein- und Zweifamilienhäusern',
 'Wohnungsnahe Grundversorgung Hausarzt',
 'Erholungsfläche',
 'Freifläche',
 'Freifläche je Einwohner',
 'Landwirtschaftsfläche',
 'Naturnähere Fläche je Einwohner',
 'Regionales Bevölkerungspotenzial',
 'Siedlungs- und Verkehrsfläche je Einwohner',
 'Siedlungsdichte in km²',
 'Waldfläche',
 'Wasserfläche',
 'Wohnungen in Ein- und Zweifamilienhäusern',
 'Wohnungen in Mehrfamilienhäusern',
 'naturnähere Fläche',
 'Flächenneuinanspruchnahme',
 'Nahversorgung Apotheken Anteil der Bev. 1km Radius',
 'Nahversorgung Apotheken Durchschnittsdistanz',
 'Nahversorgung Supermärkte Anteil der Bev. 1km Radius',
 'Nahversorgung Supermärkte Durchschnittsdistanz',
 'Wohnungsnahe Grundversorgung Apotheke',
 'Wohnungsnahe Grundversorgung Supermarkt']

Pivot df

In [23]:
controls_pivot = pd.pivot(controls_raw, index=['AGS', 'year'], columns='indikator', values='value')
controls_pivot = controls_pivot.reset_index()

In [62]:
controls_assoc['year'].value_counts()

1995    4618
2008    4618
2018    4618
2017    4618
2016    4618
2015    4618
2014    4618
2013    4618
2012    4618
2011    4618
2010    4618
2009    4618
2007    4618
1996    4618
2006    4618
2005    4618
2004    4618
2003    4618
2002    4618
2001    4618
2000    4618
1999    4618
1998    4618
1997    4618
2019    4618
Name: year, dtype: int64

Rename columns and compute statistics

In [52]:
controls_mun['students'] = controls_mun['Studierende'] + controls_mun['Studierende an FH']

In [53]:
col_names = ['AGS', 'name', 'year', 'Bevölkerung', 'Bodenfläche gesamt', 'pop_density', 'Studierende', 'Studierende an FH', 'students']
controls_mun.columns = col_names
controls_mun.columns

Index(['AGS', 'name', 'year', 'Bevölkerung', 'Bodenfläche gesamt',
       'pop_density', 'Studierende', 'Studierende an FH', 'students'],
      dtype='object')

In [ ]:
controls['pop_density'] = controls['Bevölkerung'] / controls['Area']
controls['male'] = controls['männlich'] / controls['Bevölkerung']
controls['female'] = controls['weiblich'] / controls['Bevölkerung']
controls['foreign'] = controls['Ausländer/-innen'] / controls['Bevölkerung']
controls['employed'] = controls['Beschäftigte'] / controls['Bevölkerung']
controls['unemployed'] = controls['Arbeitslose'] / controls['Bevölkerung']
controls['protestant'] = controls['Evangelisch'] / controls['Bevölkerung']
controls['catholic'] = controls['Katholisch'] / controls['Bevölkerung']
controls['religion_other'] = controls['Religion Sonstige/Keine'] / controls['Bevölkerung']
controls = controls[['AGS', 'pop_density', 'female', 'foreign', 'unemployed', 'avg_income', 'avg_age', 'catholic']]
controls.head()

,AGS,pop_density,female,foreign,unemployed,avg_income,avg_age,catholic
0,01000000,177.227657,0.514134,0.041805,0.035730,32200.0,44.5,0.059842
1,01001000,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459
2,01002000,1987.206068,0.518602,0.070281,0.053999,27500.0,41.8,0.073661
3,01003000,981.770225,0.525299,0.062562,0.052348,27600.0,44.9,0.084606
4,01004000,1078.444786,0.511838,0.060337,0.056648,26200.0,44.4,0.064972

Export dataset

In [ ]:
controls = controls.set_index('AGS')
controls.to_csv(f'{path}/data/controls.csv', encoding = 'utf-8-sig')
controls.head()

,pop_density,female,foreign,unemployed,avg_income,avg_age,catholic
AGS,,,,,,,
01000000,177.227657,0.514134,0.041805,0.035730,32200.0,44.5,0.059842
01001000,1449.735636,0.507233,0.062353,0.062328,27000.0,43.0,0.063459
01002000,1987.206068,0.518602,0.070281,0.053999,27500.0,41.8,0.073661
01003000,981.770225,0.525299,0.062562,0.052348,27600.0,44.9,0.084606
01004000,1078.444786,0.511838,0.060337,0.056648,26200.0,44.4,0.064972