First, import needed modules

In [337]:
import numpy as np
import pandas as pd
import os

Initalize variables

In [338]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import datasets

In [339]:
btw02_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW02_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})

btw02_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW02_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_96137/2269252993.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_96137/2269252993.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_96137/2269252993.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_96137/2269252993.py:5: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_96137/2269252993.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_96137/2269252993.py:9: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_96137/2269252993.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_96137/2269252993.py:11: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})

View the data

In [340]:
btw09_zs.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Kennziffer Briefwahlzugehörigkeit,Wahlbezirk,Bezirksart,Wahlberechtigte (A),...,ADM,CM,DKP,DVU,DIE VIOLETTEN,FWD,ödp,PIRATEN,RRP,RENTNER
0,1,01,0,01,0,000,0,000001,0,1416,...,0,0,0,1,0,0,0,23,0,10
1,1,01,0,01,0,000,0,000002,0,1406,...,0,0,0,1,0,0,0,16,0,14
2,1,01,0,01,0,000,0,000003,0,1321,...,0,0,0,0,0,0,0,15,0,12
3,1,01,0,01,0,000,0,000004,0,1405,...,0,0,0,0,0,0,0,19,0,18
4,1,01,0,01,0,000,0,000005,0,1227,...,0,0,0,0,0,0,0,24,0,9

Add year column to dataframes

In [341]:
dfs = [btw02_es, btw05_es, btw09_es, btw13_es, btw17_es, btw02_zs, btw05_zs, btw09_zs, btw13_zs, btw17_zs]
years = [2002, 2005, 2009, 2013, 2017, 2002, 2005, 2009, 2013, 2017]
for df, year in zip(dfs, years):
    df.insert(loc=len(df.columns), column='year', value=year)

In [342]:
btw17_es.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Kennziffer Briefwahlzugehörigkeit,Wahlbezirk,Bezirksart,Wahlberechtigte (A),...,DIE EINHEIT,DIE VIOLETTEN,FAMILIE,DIE FRAUEN,MIETERPARTEI,Neue Liberale,UNABHÄNGIGE,WGr/EB,Ungekürzte Wahlbezirksbezeichnung,year
0,1,01,0,01,0,000,0,000001,0,1670,...,0,0,0,0,0,0,0,7,–,2017
1,1,01,0,01,0,000,0,000002,0,1671,...,0,0,0,0,0,0,0,6,–,2017
2,1,01,0,01,0,000,0,000003,0,1603,...,0,0,0,0,0,0,0,1,–,2017
3,1,01,0,01,0,000,0,000004,0,1497,...,0,0,0,0,0,0,0,5,–,2017
4,1,01,0,01,0,000,0,000005,0,1251,...,0,0,0,0,0,0,0,4,–,2017

Append dataframes

In [343]:
dfs = [btw02_es, btw05_es, btw09_es, btw13_es, btw17_es]
btw_es = pd.concat(dfs, sort=False)
dfs = [btw02_zs, btw05_zs, btw09_zs, btw13_zs, btw17_zs]
btw_zs = pd.concat(dfs, sort=False)
btw_zs.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Wahlbezirk,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),...,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³,Ungekürzte Wahlbezirksbezeichnung
0,1,01,0,01,0,000,1,0,1463,1272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,01,0,01,0,000,2,0,1245,1148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,01,0,01,0,000,3,0,1399,1298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,01,0,01,0,000,4,0,1031,936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,01,0,01,0,000,5,0,1023,952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Create the AGS, it follows the scheme ll r kk ggg (Land, Regierunsbezirk, Kreis, Gemeinde) -> combine these columns

In [344]:
btw_es['AGS'] = btw_es['Land'] + btw_es['Regierungsbezirk'] + btw_es['Kreis'] + btw_es['Gemeinde']
btw_zs['AGS'] = btw_zs['Land'] + btw_zs['Regierungsbezirk'] + btw_zs['Kreis'] + btw_zs['Gemeinde']
btw_zs.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Wahlbezirk,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),...,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³,Ungekürzte Wahlbezirksbezeichnung,AGS
0,1,01,0,01,0,000,1,0,1463,1272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000
1,1,01,0,01,0,000,2,0,1245,1148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000
2,1,01,0,01,0,000,3,0,1399,1298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000
3,1,01,0,01,0,000,4,0,1031,936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000
4,1,01,0,01,0,000,5,0,1023,952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000

Collapse data along AGS column, sums votes over all constituencies in a municipality

In [345]:
btw_es = btw_es.groupby(['AGS', 'year','Land'], as_index=False).sum()
btw_zs = btw_zs.groupby(['AGS', 'year','Land'], as_index=False).sum()
btw_zs.head()

,AGS,year,Land,Wahlkreis,Verbandsgemeinde,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),Wahlberechtigte nach § 25 Abs. 2 BWO (A3),...,BGE,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³
0,01001000,2002,01,53,0,35,65740,57788,7949,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,01001000,2005,01,53,0,35,66970,58379,8591,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01001000,2009,01,58,0,60,69075,60983,8092,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,01001000,2013,01,56,0,60,70321,60755,9566,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01001000,2017,01,56,0,60,70105,57929,12176,0.0,...,422.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Add indicator for Erst- und Zweitstimme

In [346]:
dfs = [btw_es, btw_zs]
eszs = ['Erststimme', 'Zweitstimme']
for df, stimme in zip(dfs, eszs):
    df.insert(loc=len(df.columns), column=stimme, value=1)

In [347]:
btw_zs.head()

,AGS,year,Land,Wahlkreis,Verbandsgemeinde,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),Wahlberechtigte nach § 25 Abs. 2 BWO (A3),...,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³,Zweitstimme
0,01001000,2002,01,53,0,35,65740,57788,7949,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,01001000,2005,01,53,0,35,66970,58379,8591,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,01001000,2009,01,58,0,60,69075,60983,8092,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,01001000,2013,01,56,0,60,70321,60755,9566,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,01001000,2017,01,56,0,60,70105,57929,12176,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

ES: Sum votes for other, Union and Die Linke parties

In [ ]:
#list(btw_es.columns)

In [348]:
andere = ['AfD', 
 'REP',
 'GRAUE',
 'TIERSCHUTZ',
 'NPD',
 'ÖDP',
 'PBC',
 'FRAUEN',
 'BP',
 'FAMILIE',
 'CM',
 'BÜSO',
 'HP',
 'VIOLETTEN',
 'AUFBRUCH',
 'ZENTRUM',
 'KPD',
 'PRG',
 'SCHILL',
 'DEUTSCHLAND',
 'DKP',
 'DSU',
 'FP D',
 'ÜBRIGE',
 'Die Linke',
 'Offensive D',
 'Die Tierschutzpartei',
 'DIE FRAUEN',
 'BüSo',
 'Deutschland',
 'AGFG',
 'APPD',
 'MLPD',
 'DIE PARTEI',
 'HUMANWIRTSCHAFTSPARTEI',
 'STATT Partei',
 'UNABHÄNGIGE',
 'Übrige',
 'DIE LINKE',
 'Volksabstimmung',
 'ADM',
 'DIE VIOLETTEN',
 'ödp',
 'PIRATEN',
 'RRP',
 'Freie Union',
 'Tierschutzpartei',
 'Bündnis 21/RRP',
 'RENTNER',
 'BIG',
 'pro Deutschland',
 'FREIE WÄHLER',
 'PARTEI DER VERNUNFT',
 'Die PARTEI',
 'Bergpartei',
 'BGD',
 'NEIN',
 'WGr/EB',
 'PDV',
 'SGP',
 'DIE RECHTE',
 'Tierschutzallianz',
 'B*',
 'Die Grauen',
 'du',
 'MG',
 'MENSCHLICHE WELT',
 'Gesundheitsforschung',
 'V-Partei³',
 'Bündnis C',
 'DIE EINHEIT',
 'MIETERPARTEI',
 'Neue Liberale']
btw_es['Andere'] = btw_es[andere].sum(axis=1) # sum votes for 'Other' Parties
union = ['CDU', 'CSU']
btw_es['Union'] = btw_es[union].sum(axis=1) # sum votes for 'Union' Parties
linke = ['Die Linke', 'DIE LINKE', 'PDS']
btw_es['Linke'] = btw_es[linke].sum(axis=1) # sum votes for 'Linke' Parties

ZS: Sum votes for other, Union and DIE LINKE parties

In [ ]:
#list(btw_zs.columns)

In [349]:
andere = ['AfD',
 'REP',
 'GRAUE',
 'Tierschutz',
 'NPD',
 'ödp',
 'PBC',
 'FRAUEN',
 'BP',
 'FAMILIE',
 'CM',
 'BüSo',
 'HP',
 'Violetten',
 'AUFBRUCH',
 'ZENTRUM',
 'KPD',
 'PRG',
 'Schill',
 'Offensive D',
 'Die Tierschutzpartei',
 'DIE FRAUEN',
 'Deutschland',
 'AGFG',
 'APPD',
 '50plus',
 'MLPD',
 'Die Partei',
 'PSG',
 'Pro DM',
 'Volksabstimmung',
 'ADM',
 'DKP',
 'DVU',
 'DIE VIOLETTEN',
 'FWD',
 'PIRATEN',
 'RRP',
 'RENTNER',
 'Tierschutzpartei',
 'ÖDP',
 'Bündnis 21/RRP',
 'BIG',
 'pro Deutschland',
 'DIE RECHTE',
 'FREIE WÄHLER',
 'Partei der Nichtwähler',
 'PARTEI DER VERNUNFT',
 'Die PARTEI',
 'PDV',
 'SGP',
 'AD-DEMOKRATEN',
 'Tierschutzallianz',
 'B*',
 'BGE',
 'DiB',
 'DM',
 'Die Grauen',
 'du.',
 'MG',
 'MENSCHLICHE WELT',
 'Die Humanisten',
 'Gesundheitsforschung',
 'V-Partei³']
btw_zs['Andere'] = btw_zs[andere].sum(axis=1) # sum votes for 'Other' Parties
union = ['CDU', 'CSU']
btw_zs['Union'] = btw_zs[union].sum(axis=1) # sum votes for 'Union' Parties
linke = ['Die Linke', 'DIE LINKE', 'PDS']
btw_zs['Linke'] = btw_zs[linke].sum(axis=1) # sum votes for 'Linke' Parties

Concatenate Erst- and Zweitstimme datasets

In [350]:
dfs = [btw_es, btw_zs]
btw = pd.concat(dfs, sort=False)
btw = btw.sort_values(['AGS', 'year'])
btw.head(10)

,AGS,year,Land,Wahlkreis,Verbandsgemeinde,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),Wahlberechtigte mit Sperrvermerk (A2),Wahlberechtigte nach § 25 Abs. 2 BWO (A3),...,DVU,FWD,Partei der Nichtwähler,AD-DEMOKRATEN,BGE,DiB,DM,du.,Die Humanisten,Zweitstimme
0,01001000,2002,01,53,0,35,65740,57788,7949,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,01001000,2002,01,53,0,35,65740,57788,7949,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,01001000,2005,01,53,0,35,66970,58379,8591,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01001000,2005,01,53,0,35,66970,58379,8591,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,01001000,2009,01,58,0,60,69075,60983,8092,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01001000,2009,01,58,0,60,69075,60983,8092,0.0,...,44.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,01001000,2013,01,56,0,60,70321,60755,9566,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01001000,2013,01,56,0,60,70321,60755,9566,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,01001000,2017,01,56,0,60,70105,57929,12176,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01001000,2017,01,56,0,60,70105,57929,12176,0.0,...,0.0,0.0,0.0,0.0,422.0,0.0,0.0,0.0,0.0,1.0

Add post-treatment indicator

In [351]:
years = [2017, 2013]
for year in years:
    btw.insert(loc=3, column=f'post_{year}', value=0)
    btw[f'post_{year}'] = np.where(btw['year'] >= year, 1, 0)
btw.head(10)

,AGS,year,Land,post_2013,post_2017,Wahlkreis,Verbandsgemeinde,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),...,DVU,FWD,Partei der Nichtwähler,AD-DEMOKRATEN,BGE,DiB,DM,du.,Die Humanisten,Zweitstimme
0,01001000,2002,01,0,0,53,0,35,65740,57788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,01001000,2002,01,0,0,53,0,35,65740,57788,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,01001000,2005,01,0,0,53,0,35,66970,58379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01001000,2005,01,0,0,53,0,35,66970,58379,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,01001000,2009,01,0,0,58,0,60,69075,60983,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01001000,2009,01,0,0,58,0,60,69075,60983,...,44.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,01001000,2013,01,1,0,56,0,60,70321,60755,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01001000,2013,01,1,0,56,0,60,70321,60755,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,01001000,2017,01,1,1,56,0,60,70105,57929,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01001000,2017,01,1,1,56,0,60,70105,57929,...,0.0,0.0,0.0,0.0,422.0,0.0,0.0,0.0,0.0,1.0

Set index

In [ ]:
#btw = btw.set_index(['AGS', 'year'])
btw.head(10)

Drop not needed columns and rename

In [352]:
btw = btw[['AGS', 'year', 'post_2013', 'post_2017', 'Land', 'Erststimme', 'Zweitstimme', 'Wahlberechtigte (A)', 'Wähler (B)', 'Union', 'SPD', 'FDP', 'Linke', 'GRÜNE', 'Andere']]
btw.rename(columns = {'Wahlberechtigte (A)':'Wahlberechtigte', 'Wähler (B)': 'Wähler', 'GRÜNE': 'Grüne'}, inplace = True)
btw.head(10)

,AGS,year,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wahlberechtigte,Wähler,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,2002,0,0,01,1.0,NaN,65740,49054,16418,26309,2038,759.0,2833,194.0
0,01001000,2002,0,0,01,NaN,1.0,65740,49054,14362,23396,3424,859.0,5556,956.0
1,01001000,2005,0,0,01,1.0,NaN,66970,49002,16954,24261,1601,2312.0,2729,2699.0
1,01001000,2005,0,0,01,NaN,1.0,66970,49002,13910,21000,4196,3066.0,5028,1035.0
2,01001000,2009,0,0,01,1.0,NaN,69075,46583,13859,16552,4253,4697.0,5520,5195.0
2,01001000,2009,0,0,01,NaN,1.0,69075,46583,11238,12739,6530,5267.0,7323,2334.0
3,01001000,2013,1,0,01,1.0,NaN,70321,46827,15647,18915,807,3250.0,4533,6336.0
3,01001000,2013,1,0,01,NaN,1.0,70321,46827,14136,16480,2061,3780.0,5507,4301.0
4,01001000,2017,1,1,01,1.0,NaN,70105,49694,15140,15175,3421,5316.0,5958,9515.0
4,01001000,2017,1,1,01,NaN,1.0,70105,49694,13382,12142,5073,5699.0,7416,5559.0

Calculate vote shares in percent

In [353]:
parties = ['Union',	'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']
for party in parties:
    btw.loc[:, party] = (btw[party] / btw['Wähler'])*100
btw.loc[:, 'Wähler'] = (btw['Wähler'] / btw['Wahlberechtigte'])*100
btw.head(10)

,AGS,year,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wahlberechtigte,Wähler,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,2002,0,0,01,1.0,NaN,65740,74.618193,33.469238,53.632731,4.154605,1.547274,5.775268,0.395483
0,01001000,2002,0,0,01,NaN,1.0,65740,74.618193,29.277939,47.694378,6.980063,1.751131,11.326293,1.948873
1,01001000,2005,0,0,01,1.0,NaN,66970,73.170076,34.598588,49.510224,3.267214,4.718175,5.569160,5.507938
1,01001000,2005,0,0,01,NaN,1.0,66970,73.170076,28.386596,42.855394,8.562916,6.256887,10.260806,2.112159
2,01001000,2009,0,0,01,1.0,NaN,69075,67.438292,29.751197,35.532276,9.129940,10.083078,11.849816,11.152137
2,01001000,2009,0,0,01,NaN,1.0,69075,67.438292,24.124681,27.346886,14.017989,11.306700,15.720327,5.010412
3,01001000,2013,1,0,01,1.0,NaN,70321,66.590350,33.414483,40.393363,1.723365,6.940440,9.680313,13.530655
3,01001000,2013,1,0,01,NaN,1.0,70321,66.590350,30.187712,35.193371,4.401307,8.072266,11.760309,9.184872
4,01001000,2017,1,1,01,1.0,NaN,70105,70.885101,30.466455,30.536886,6.884131,10.697469,11.989375,19.147181
4,01001000,2017,1,1,01,NaN,1.0,70105,70.885101,26.928804,24.433533,10.208476,11.468185,14.923331,11.186461

Merge with treatment dataset

In [354]:
treatment = pd.read_csv(f'{path}/data/treatment.csv', converters = {'AGS': str})
#data = btw.join(treatment.set_index(['AGS']))
data = pd.merge(btw, treatment, on='AGS', how='left', indicator=True)
data.head(10)

,AGS,year,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wahlberechtigte,Wähler,Union,...,Grüne,Andere,GEN,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100,_merge
0,01001000,2002,0,0,01,1.0,NaN,65740,74.618193,33.469238,...,5.775268,0.395483,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
1,01001000,2002,0,0,01,NaN,1.0,65740,74.618193,29.277939,...,11.326293,1.948873,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
2,01001000,2005,0,0,01,1.0,NaN,66970,73.170076,34.598588,...,5.569160,5.507938,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
3,01001000,2005,0,0,01,NaN,1.0,66970,73.170076,28.386596,...,10.260806,2.112159,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
4,01001000,2009,0,0,01,1.0,NaN,69075,67.438292,29.751197,...,11.849816,11.152137,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
5,01001000,2009,0,0,01,NaN,1.0,69075,67.438292,24.124681,...,15.720327,5.010412,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
6,01001000,2013,1,0,01,1.0,NaN,70321,66.590350,33.414483,...,9.680313,13.530655,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
7,01001000,2013,1,0,01,NaN,1.0,70321,66.590350,30.187712,...,11.760309,9.184872,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
8,01001000,2017,1,1,01,1.0,NaN,70105,70.885101,30.466455,...,11.989375,19.147181,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
9,01001000,2017,1,1,01,NaN,1.0,70105,70.885101,26.928804,...,14.923331,11.186461,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both

Inspect merge results

In [ ]:
print(data['_merge'].describe())
#not_merged = data[data['_merge'] == 'both']
#not_merged['merge'] = True
not_merged = data[data['_merge'] != 'both']
not_merged['merge'] = False
not_merged = not_merged.reindex(columns = ['AGS'])
not_merged = not_merged.groupby(['AGS'], as_index=True).first()
btw_es['AGS'] = btw_es['Land'] + btw_es['Regierungsbezirk'] + btw_es['Kreis'] + btw_es['Gemeinde']
not_merged['Land'] = not_merged['AGS'].str.slice(start=3, stop=10)

not_merged.to_csv(f'{path}/data/not_merged.csv')

Clean data

In [ ]:
data = data.set_index(['AGS', 'year'])
data = data.drop(columns=['_merge'])
data = data.reindex(columns=['post_2013', 'post_2017', 'GEN', 'Land', 'Wahlberechtigte', 'Wähler', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'Erststimme', 'Zweitstimme', 'treated_0', 'treated_10', 'treated_20', 'treated_30', 'treated_50', 'treated_100'])
#data = data.sort_values(by=['AGS', 'year'])
data.head(10)

Interact treatment dummies with post-treatment indicators

In [ ]:
dummies = ['treated_0', 'treated_10', 'treated_20', 'treated_30', 'treated_50', 'treated_100']
for dummy in dummies:
    data.insert(loc=len(data.columns), column=f'{dummy}*post_2013', value=(data[dummy]*data['post_2013']))
    data.insert(loc=len(data.columns), column=f'{dummy}*post_2017', value=(data[dummy]*data['post_2017']))
data.head(10)

Drop missing values

In [ ]:
data = data.dropna(axis='rows', how='any', subset=['GEN', 'Union',	'SPD', 'FDP', 'Linke', 'Grüne', 'Andere'])

Export dataset

In [ ]:
data.to_csv(f'{path}/data/btw_treatment.csv', encoding = 'utf-8-sig')