First, import needed modules

In [140]:
import numpy as np
import pandas as pd
import os

Initalize variables

In [141]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import datasets

In [142]:
btw02_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW02_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})

btw02_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW02_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG', sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_82100/2269252993.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW05_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_82100/2269252993.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW09_Erststimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_82100/2269252993.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_es = pd.read_csv(f'{path}/data/elections/btw/es/BTW13_Erststimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_82100/2269252993.py:5: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_es = pd.read_csv(f'{path}/data/elections/btw/es/btw17_wbz_erststimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_82100/2269252993.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw05_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW05_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_82100/2269252993.py:9: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw09_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW09_Zweitstimmen_Wbz.csv', sep=';', encoding = 'UTF-8-SIG',skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_82100/2269252993.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw13_zs = pd.read_csv(f'{path}/data/elections/btw/zs/BTW13_Zweitstimmen_Wahlbezirke.csv', encoding = 'UTF-8-SIG',sep=';', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})
/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_82100/2269252993.py:11: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  btw17_zs = pd.read_csv(f'{path}/data/elections/btw/zs/btw17_wbz_zweitstimmen.csv', sep=';', encoding = 'Windows-1252', skiprows=4, converters = {'Land': str, 'Regierungsbezirk': str, 'Kreis': str, 'Gemeinde': str})

View the data

In [143]:
btw09_zs.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Kennziffer Briefwahlzugehörigkeit,Wahlbezirk,Bezirksart,Wahlberechtigte (A),...,ADM,CM,DKP,DVU,DIE VIOLETTEN,FWD,ödp,PIRATEN,RRP,RENTNER
0,1,01,0,01,0,000,0,000001,0,1416,...,0,0,0,1,0,0,0,23,0,10
1,1,01,0,01,0,000,0,000002,0,1406,...,0,0,0,1,0,0,0,16,0,14
2,1,01,0,01,0,000,0,000003,0,1321,...,0,0,0,0,0,0,0,15,0,12
3,1,01,0,01,0,000,0,000004,0,1405,...,0,0,0,0,0,0,0,19,0,18
4,1,01,0,01,0,000,0,000005,0,1227,...,0,0,0,0,0,0,0,24,0,9

Add year column to dataframes

In [144]:
dfs = [btw02_es, btw05_es, btw09_es, btw13_es, btw17_es, btw02_zs, btw05_zs, btw09_zs, btw13_zs, btw17_zs]
years = [2002, 2005, 2009, 2013, 2017, 2002, 2005, 2009, 2013, 2017]
for df, year in zip(dfs, years):
    df.insert(loc=len(df.columns), column='year', value=year)

In [145]:
btw05_zs.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Kennziffer Briefwahlzugehörigkeit,Wahlbezirk,Bezirksart,Wahlberechtigte (A),...,ZENTRUM,Deutschland,AGFG,APPD,50plus,MLPD,Die Partei,PSG,Pro DM,year
0,1,01,0,01,0,000,0,000001,0,1367,...,0,0,0,0,0,0,0,0,0,2005
1,1,01,0,01,0,000,0,000002,0,1393,...,0,0,0,0,0,2,0,0,0,2005
2,1,01,0,01,0,000,0,000003,0,1264,...,0,0,0,0,0,1,0,0,0,2005
3,1,01,0,01,0,000,0,000004,0,1195,...,0,0,0,0,0,0,0,0,0,2005
4,1,01,0,01,0,000,0,000005,0,1155,...,0,0,0,0,0,2,0,0,0,2005

Append dataframes

In [146]:
dfs = [btw02_es, btw05_es, btw09_es, btw13_es, btw17_es]
btw_es = pd.concat(dfs, sort=False)
dfs = [btw02_zs, btw05_zs, btw09_zs, btw13_zs, btw17_zs]
btw_zs = pd.concat(dfs, sort=False)
btw_zs.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Wahlbezirk,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),...,DiB,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³,Ungekürzte Wahlbezirksbezeichnung
0,1,01,0,01,0,000,1,0,1463,1272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,01,0,01,0,000,2,0,1245,1148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,01,0,01,0,000,3,0,1399,1298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,01,0,01,0,000,4,0,1031,936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,01,0,01,0,000,5,0,1023,952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Create the AGS, it follows the scheme ll r kk ggg (Land, Regierunsbezirk, Kreis, Gemeinde) -> combine these columns

In [147]:
btw_es['AGS'] = btw_es['Land'] + btw_es['Regierungsbezirk'] + btw_es['Kreis'] + btw_es['Gemeinde']
btw_zs['AGS'] = btw_zs['Land'] + btw_zs['Regierungsbezirk'] + btw_zs['Kreis'] + btw_zs['Gemeinde']
btw_zs.head()

,Wahlkreis,Land,Regierungsbezirk,Kreis,Verbandsgemeinde,Gemeinde,Wahlbezirk,Bezirksart,Wahlberechtigte (A),Wahlberechtigte ohne Sperrvermerk (A1),...,DM,Die Grauen,du.,MG,MENSCHLICHE WELT,Die Humanisten,Gesundheitsforschung,V-Partei³,Ungekürzte Wahlbezirksbezeichnung,AGS
0,1,01,0,01,0,000,1,0,1463,1272,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000
1,1,01,0,01,0,000,2,0,1245,1148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000
2,1,01,0,01,0,000,3,0,1399,1298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000
3,1,01,0,01,0,000,4,0,1031,936,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000
4,1,01,0,01,0,000,5,0,1023,952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001000

Clean dataset

In [148]:
# collapse data along AGS column, sums votes over all constituencies in a municipality
btw_es = btw_es.groupby(['AGS', 'year','Land'], as_index=False).sum()
btw_es = btw_es.set_index(['AGS', 'year'])
btw_zs = btw_zs.groupby(['AGS', 'year','Land'], as_index=False).sum()
btw_zs = btw_zs.set_index(['AGS', 'year'])
btw_zs.head()

              Land  Wahlkreis  Verbandsgemeinde  Bezirksart  \
AGS      year
01001000 2002   01         53                 0          35
         2005   01         53                 0          35
         2009   01         58                 0          60
         2013   01         56                 0          60
         2017   01         56                 0          60

               Wahlberechtigte (A)  Wahlberechtigte ohne Sperrvermerk (A1)  \
AGS      year
01001000 2002                65740                                   57788
         2005                66970                                   58379
         2009                69075                                   60983
         2013                70321                                   60755
         2017                70105                                   57929

               Wahlberechtigte mit Sperrvermerk (A2)  \
AGS      year
01001000 2002                                   7949
         2005                                   8591
         2009                                   8092
         2013                                   9566
         2017                                  12176

               Wahlberechtigte nach § 25 Abs. 2 BWO (A3)  Wähler (B)  \
AGS      year
01001000 2002                                        3.0       49054
         2005                                        0.0       49002
         2009                                        0.0       46583
         2013                                        0.0       46827
         2017                                        0.0       49694

               Wähler mit Wahlschein (B1)  ...    BGE  DiB   DM  Die Grauen  \
AGS      year                              ...
01001000 2002                        7573  ...    0.0  0.0  0.0         0.0
         2005                        8218  ...    0.0  0.0  0.0         0.0
         2009                        7238  ...    0.0  0.0  0.0         0.0
         2013                        9084  ...    0.0  0.0  0.0         0.0
         2017                       11528  ...  422.0  0.0  0.0         0.0

               du.   MG  MENSCHLICHE WELT  Die Humanisten  \
AGS      year
01001000 2002  0.0  0.0               0.0             0.0
         2005  0.0  0.0               0.0             0.0
         2009  0.0  0.0               0.0             0.0
         2013  0.0  0.0               0.0             0.0
         2017  0.0  0.0               0.0             0.0

               Gesundheitsforschung  V-Partei³
AGS      year
01001000 2002                   0.0        0.0
         2005                   0.0        0.0
         2009                   0.0        0.0
         2013                   0.0        0.0
         2017                   0.0        0.0

[5 rows x 86 columns]

Add indicator for Erst- und Zweitstimme

In [149]:
dfs = [btw_es, btw_zs]
eszs = ['Erststimme', 'Zweitstimme']
for df, stimme in zip(dfs, eszs):
    df.insert(loc=len(df.columns), column=stimme, value=1)

In [150]:
btw_zs.head()

              Land  Wahlkreis  Verbandsgemeinde  Bezirksart  \
AGS      year
01001000 2002   01         53                 0          35
         2005   01         53                 0          35
         2009   01         58                 0          60
         2013   01         56                 0          60
         2017   01         56                 0          60

               Wahlberechtigte (A)  Wahlberechtigte ohne Sperrvermerk (A1)  \
AGS      year
01001000 2002                65740                                   57788
         2005                66970                                   58379
         2009                69075                                   60983
         2013                70321                                   60755
         2017                70105                                   57929

               Wahlberechtigte mit Sperrvermerk (A2)  \
AGS      year
01001000 2002                                   7949
         2005                                   8591
         2009                                   8092
         2013                                   9566
         2017                                  12176

               Wahlberechtigte nach § 25 Abs. 2 BWO (A3)  Wähler (B)  \
AGS      year
01001000 2002                                        3.0       49054
         2005                                        0.0       49002
         2009                                        0.0       46583
         2013                                        0.0       46827
         2017                                        0.0       49694

               Wähler mit Wahlschein (B1)  ...  DiB   DM  Die Grauen  du.  \
AGS      year                              ...
01001000 2002                        7573  ...  0.0  0.0         0.0  0.0
         2005                        8218  ...  0.0  0.0         0.0  0.0
         2009                        7238  ...  0.0  0.0         0.0  0.0
         2013                        9084  ...  0.0  0.0         0.0  0.0
         2017                       11528  ...  0.0  0.0         0.0  0.0

                MG  MENSCHLICHE WELT  Die Humanisten  Gesundheitsforschung  \
AGS      year
01001000 2002  0.0               0.0             0.0                   0.0
         2005  0.0               0.0             0.0                   0.0
         2009  0.0               0.0             0.0                   0.0
         2013  0.0               0.0             0.0                   0.0
         2017  0.0               0.0             0.0                   0.0

               V-Partei³  Zweitstimme
AGS      year
01001000 2002        0.0            1
         2005        0.0            1
         2009        0.0            1
         2013        0.0            1
         2017        0.0            1

[5 rows x 87 columns]

ES: Sum votes for other, Union and Die Linke parties

In [151]:
#list(btw_es.columns)

In [152]:
andere = ['AfD', 
 'REP',
 'GRAUE',
 'TIERSCHUTZ',
 'NPD',
 'ÖDP',
 'PBC',
 'FRAUEN',
 'BP',
 'FAMILIE',
 'CM',
 'BÜSO',
 'HP',
 'VIOLETTEN',
 'AUFBRUCH',
 'ZENTRUM',
 'KPD',
 'PRG',
 'SCHILL',
 'DEUTSCHLAND',
 'DKP',
 'DSU',
 'FP D',
 'ÜBRIGE',
 'Die Linke',
 'Offensive D',
 'Die Tierschutzpartei',
 'DIE FRAUEN',
 'BüSo',
 'Deutschland',
 'AGFG',
 'APPD',
 'MLPD',
 'DIE PARTEI',
 'HUMANWIRTSCHAFTSPARTEI',
 'STATT Partei',
 'UNABHÄNGIGE',
 'Übrige',
 'DIE LINKE',
 'Volksabstimmung',
 'ADM',
 'DIE VIOLETTEN',
 'ödp',
 'PIRATEN',
 'RRP',
 'Freie Union',
 'Tierschutzpartei',
 'Bündnis 21/RRP',
 'RENTNER',
 'BIG',
 'pro Deutschland',
 'FREIE WÄHLER',
 'PARTEI DER VERNUNFT',
 'Die PARTEI',
 'Bergpartei',
 'BGD',
 'NEIN',
 'WGr/EB',
 'PDV',
 'SGP',
 'DIE RECHTE',
 'Tierschutzallianz',
 'B*',
 'Die Grauen',
 'du',
 'MG',
 'MENSCHLICHE WELT',
 'Gesundheitsforschung',
 'V-Partei³',
 'Bündnis C',
 'DIE EINHEIT',
 'MIETERPARTEI',
 'Neue Liberale']
btw_es['Andere'] = btw_es[andere].sum(axis=1) # sum votes for 'Other' Parties
union = ['CDU', 'CSU']
btw_es['Union'] = btw_es[union].sum(axis=1) # sum votes for 'Union' Parties
linke = ['Die Linke', 'DIE LINKE', 'PDS']
btw_es['Linke'] = btw_es[linke].sum(axis=1) # sum votes for 'Linke' Parties

ZS: Sum votes for other, Union and DIE LINKE parties

In [153]:
#list(btw_zs.columns)

In [154]:
andere = ['AfD',
 'REP',
 'GRAUE',
 'Tierschutz',
 'NPD',
 'ödp',
 'PBC',
 'FRAUEN',
 'BP',
 'FAMILIE',
 'CM',
 'BüSo',
 'HP',
 'Violetten',
 'AUFBRUCH',
 'ZENTRUM',
 'KPD',
 'PRG',
 'Schill',
 'Offensive D',
 'Die Tierschutzpartei',
 'DIE FRAUEN',
 'Deutschland',
 'AGFG',
 'APPD',
 '50plus',
 'MLPD',
 'Die Partei',
 'PSG',
 'Pro DM',
 'Volksabstimmung',
 'ADM',
 'DKP',
 'DVU',
 'DIE VIOLETTEN',
 'FWD',
 'PIRATEN',
 'RRP',
 'RENTNER',
 'Tierschutzpartei',
 'ÖDP',
 'Bündnis 21/RRP',
 'BIG',
 'pro Deutschland',
 'DIE RECHTE',
 'FREIE WÄHLER',
 'Partei der Nichtwähler',
 'PARTEI DER VERNUNFT',
 'Die PARTEI',
 'PDV',
 'SGP',
 'AD-DEMOKRATEN',
 'Tierschutzallianz',
 'B*',
 'BGE',
 'DiB',
 'DM',
 'Die Grauen',
 'du.',
 'MG',
 'MENSCHLICHE WELT',
 'Die Humanisten',
 'Gesundheitsforschung',
 'V-Partei³']
btw_zs['Andere'] = btw_zs[andere].sum(axis=1) # sum votes for 'Other' Parties
union = ['CDU', 'CSU']
btw_zs['Union'] = btw_zs[union].sum(axis=1) # sum votes for 'Union' Parties
linke = ['Die Linke', 'DIE LINKE', 'PDS']
btw_zs['Linke'] = btw_zs[linke].sum(axis=1) # sum votes for 'Linke' Parties

Drop not needed columns

In [155]:
btw_es = btw_es[['Land', 'Erststimme', 'Wahlberechtigte (A)', 'Wähler (B)', 'Union', 'SPD', 'FDP', 'Linke', 'GRÜNE', 'Andere']]
btw_zs = btw_zs[['Land', 'Zweitstimme', 'Wahlberechtigte (A)', 'Wähler (B)', 'Union', 'SPD', 'FDP', 'Linke', 'GRÜNE', 'Andere']]
btw_zs.head()

              Land  Zweitstimme  Wahlberechtigte (A)  Wähler (B)  Union  \
AGS      year
01001000 2002   01            1                65740       49054  14362
         2005   01            1                66970       49002  13910
         2009   01            1                69075       46583  11238
         2013   01            1                70321       46827  14136
         2017   01            1                70105       49694  13382

                 SPD   FDP   Linke  GRÜNE  Andere
AGS      year
01001000 2002  23396  3424   859.0   5556   956.0
         2005  21000  4196  3066.0   5028  1035.0
         2009  12739  6530  5267.0   7323  2334.0
         2013  16480  2061  3780.0   5507  4301.0
         2017  12142  5073  5699.0   7416  5559.0

Concatenate Erst- and Zweitstimme datasets

In [156]:
dfs = [btw_es, btw_zs]
btw = pd.concat(dfs, sort=False)
btw.head()

              Land  Erststimme  Wahlberechtigte (A)  Wähler (B)  Union    SPD  \
AGS      year
01001000 2002   01         1.0                65740       49054  16418  26309
         2005   01         1.0                66970       49002  16954  24261
         2009   01         1.0                69075       46583  13859  16552
         2013   01         1.0                70321       46827  15647  18915
         2017   01         1.0                70105       49694  15140  15175

                FDP   Linke  GRÜNE  Andere  Zweitstimme
AGS      year
01001000 2002  2038   759.0   2833   194.0          NaN
         2005  1601  2312.0   2729  2699.0          NaN
         2009  4253  4697.0   5520  5195.0          NaN
         2013   807  3250.0   4533  6336.0          NaN
         2017  3421  5316.0   5958  9515.0          NaN

Merge with treatment dataset

In [157]:
treatment = pd.read_csv(f'{path}/data/treatment.csv', converters = {'AGS': str})
data = btw.join(treatment.set_index(['AGS']))
data.rename(columns = {'Wahlberechtigte (A)':'Wahlberechtigte', 'Wähler (B)': 'Wähler', 'GRÜNE': 'Grüne'}, inplace = True)
data = data.reindex(columns=['GEN', 'Land', 'Wahlberechtigte', 'Wähler', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'Erststimme', 'Zweitstimme', 'treated_0', 'treated_10', 'treated_20', 'treated_30', 'treated_50', 'treated_100'])
data = data.sort_values(by=['AGS', 'year'])
data.to_csv(f'{path}/data/btw_treatment.csv', encoding = 'utf-8-sig')
data.head(10)

                     GEN Land  Wahlberechtigte  Wähler  Union    SPD   FDP  \
AGS      year
01001000 2002  Flensburg   01            65740   49054  16418  26309  2038
         2002  Flensburg   01            65740   49054  14362  23396  3424
         2005  Flensburg   01            66970   49002  16954  24261  1601
         2005  Flensburg   01            66970   49002  13910  21000  4196
         2009  Flensburg   01            69075   46583  13859  16552  4253
         2009  Flensburg   01            69075   46583  11238  12739  6530
         2013  Flensburg   01            70321   46827  15647  18915   807
         2013  Flensburg   01            70321   46827  14136  16480  2061
         2017  Flensburg   01            70105   49694  15140  15175  3421
         2017  Flensburg   01            70105   49694  13382  12142  5073

                Linke  Grüne  Andere  Erststimme  Zweitstimme  treated_0  \
AGS      year
01001000 2002   759.0   2833   194.0         1.0          NaN        0.0
         2002   859.0   5556   956.0         NaN          1.0        0.0
         2005  2312.0   2729  2699.0         1.0          NaN        0.0
         2005  3066.0   5028  1035.0         NaN          1.0        0.0
         2009  4697.0   5520  5195.0         1.0          NaN        0.0
         2009  5267.0   7323  2334.0         NaN          1.0        0.0
         2013  3250.0   4533  6336.0         1.0          NaN        0.0
         2013  3780.0   5507  4301.0         NaN          1.0        0.0
         2017  5316.0   5958  9515.0         1.0          NaN        0.0
         2017  5699.0   7416  5559.0         NaN          1.0        0.0

               treated_10  treated_20  treated_30  treated_50  treated_100
AGS      year
01001000 2002         0.0         0.0         0.0         0.0          0.0
         2002         0.0         0.0         0.0         0.0          0.0
         2005         0.0         0.0         0.0         0.0          0.0
         2005         0.0         0.0         0.0         0.0          0.0
         2009         0.0         0.0         0.0         0.0          0.0
         2009         0.0         0.0         0.0         0.0          0.0
         2013         0.0         0.0         0.0         0.0          0.0
         2013         0.0         0.0         0.0         0.0          0.0
         2017         0.0         0.0         0.0         0.0          0.0
         2017         0.0         0.0         0.0         0.0          0.0