First, import needed modules

In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import os

Initalize variables

In [52]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import datasets

In [53]:
data = pd.read_csv(f'{path}/data/btw_treatment.csv', encoding = 'UTF-8-SIG', sep=',')
#data = data.set_index(['AGS', 'year'])
data.head(10)

,AGS,year,post,GEN,Land,Wahlberechtigte,WÃ¤hler,Union,SPD,FDP,...,treated_20,treated_30,treated_50,treated_100,treated_0*post,treated_10*post,treated_20*post,treated_30*post,treated_50*post,treated_100*post
0,1001000,2002,0,Flensburg,1,65740,74.618193,33.469238,53.632731,4.154605,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001000,2002,0,Flensburg,1,65740,74.618193,29.277939,47.694378,6.980063,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001000,2005,0,Flensburg,1,66970,73.170076,34.598588,49.510224,3.267214,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1001000,2005,0,Flensburg,1,66970,73.170076,28.386596,42.855394,8.562916,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001000,2009,0,Flensburg,1,69075,67.438292,29.751197,35.532276,9.129940,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1001000,2009,0,Flensburg,1,69075,67.438292,24.124681,27.346886,14.017989,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1001000,2013,1,Flensburg,1,70321,66.590350,33.414483,40.393363,1.723365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1001000,2013,1,Flensburg,1,70321,66.590350,30.187712,35.193371,4.401307,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1001000,2017,1,Flensburg,1,70105,70.885101,30.466455,30.536886,6.884131,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1001000,2017,1,Flensburg,1,70105,70.885101,26.928804,24.433533,10.208476,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Split data in Erst- and Zweitstimme

In [54]:
erst = data[data['Erststimme'] == 1]
zweit = data[data['Zweitstimme'] == 1]
erst.head(10)

,AGS,year,post,GEN,Land,Wahlberechtigte,WÃ¤hler,Union,SPD,FDP,...,treated_20,treated_30,treated_50,treated_100,treated_0*post,treated_10*post,treated_20*post,treated_30*post,treated_50*post,treated_100*post
0,1001000,2002,0,Flensburg,1,65740,74.618193,33.469238,53.632731,4.154605,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001000,2005,0,Flensburg,1,66970,73.170076,34.598588,49.510224,3.267214,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001000,2009,0,Flensburg,1,69075,67.438292,29.751197,35.532276,9.129940,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1001000,2013,1,Flensburg,1,70321,66.590350,33.414483,40.393363,1.723365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1001000,2017,1,Flensburg,1,70105,70.885101,30.466455,30.536886,6.884131,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1002000,2002,0,Kiel,1,176468,78.064012,29.252022,54.049130,5.874069,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1002000,2005,0,Kiel,1,177028,77.035836,32.000733,50.952887,2.965353,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1002000,2009,0,Kiel,1,182726,71.705176,28.057455,37.973196,8.278636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1002000,2013,1,Kiel,1,187464,70.442325,31.357626,43.219441,2.046890,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1002000,2017,1,Kiel,1,186988,74.058763,29.189564,31.092352,7.273200,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Calculate average vote shares in all years by treated 50

In [55]:
erst = erst[erst['year'] < 2017]
erst = erst[erst['year'] > 2005]
erst.head()

,AGS,year,post,GEN,Land,Wahlberechtigte,WÃ¤hler,Union,SPD,FDP,...,treated_20,treated_30,treated_50,treated_100,treated_0*post,treated_10*post,treated_20*post,treated_30*post,treated_50*post,treated_100*post
4,1001000,2009,0,Flensburg,1,69075,67.438292,29.751197,35.532276,9.129940,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1001000,2013,1,Flensburg,1,70321,66.590350,33.414483,40.393363,1.723365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1002000,2009,0,Kiel,1,182726,71.705176,28.057455,37.973196,8.278636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1002000,2013,1,Kiel,1,187464,70.442325,31.357626,43.219441,2.046890,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1003000,2009,0,LÃ¼beck,1,165928,68.304325,28.786970,36.086504,10.596809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
# DiD: y = b0 + b1*D + d0*T + d1*(D*T)
y = erst[['Union']].to_numpy()
x = erst[['treated_50', 'post', 'treated_50*post']].to_numpy()
model = LinearRegression().fit(x, y)
print(f"coefficients: {model.coef_}")

coefficients: [[0.36653608 7.10399675 0.11740346]]

In [71]:
y = erst[['SPD']].to_numpy()
x = erst[['treated_50', 'post', 'treated_50*post']].to_numpy()
x = sm.add_constant(x)
model = sm.OLS(y, x)
results = model.fit()
print(results.summary(xname=["const", "treated_50", "post", "treated_50*post"]))

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     46.82
Date:                Fri, 20 May 2022   Prob (F-statistic):           3.78e-30
Time:                        14:32:31   Log-Likelihood:                -79870.
No. Observations:               21448   AIC:                         1.597e+05
Df Residuals:                   21444   BIC:                         1.598e+05
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              23.6991      0.139    170.971      0.000      23.427      23.971
treated_50          0.9049      0.198      4.579      0.000       0.518       1.292
post                0.5852      0.190      3.087      0.002       0.214       0.957
treated_50*post     0.7535      0.274      2.746      0.006       0.216       1.291
==============================================================================
Omnibus:                      726.338   Durbin-Watson:                   0.437
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              763.270
Skew:                           0.442   Prob(JB):                    1.81e-166
Kurtosis:                       2.731   Cond. No.                         6.85
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.