First, import needed modules

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

Initalize variables

In [2]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import datasets

In [32]:
data = pd.read_csv(f'{path}/data/btw_treatment.csv', encoding = 'UTF-8-SIG', sep=',')
#data = data.set_index(['AGS', 'year'])
data.head(10)

,AGS,year,GEN,Wahlberechtigte,Wähler,Union,SPD,FDP,Linke,Grüne,AfD,Andere,Erststimme,Zweitstimme,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100
0,1001000,2002,Flensburg,65740,49054,16418,26309,2038,759.0,2833,0.0,194.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,1001000,2002,Flensburg,65740,49054,14362,23396,3424,859.0,5556,0.0,956.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001000,2005,Flensburg,66970,49002,16954,24261,1601,2312.0,2729,0.0,2699.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,1001000,2005,Flensburg,66970,49002,13910,21000,4196,3066.0,5028,0.0,1035.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001000,2009,Flensburg,69075,46583,13859,16552,4253,4697.0,5520,0.0,5195.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
5,1001000,2009,Flensburg,69075,46583,11238,12739,6530,5267.0,7323,0.0,2334.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1001000,2013,Flensburg,70321,46827,15647,18915,807,3250.0,4533,1459.0,4877.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
7,1001000,2013,Flensburg,70321,46827,14136,16480,2061,3780.0,5507,1855.0,2446.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1001000,2017,Flensburg,70105,49694,15140,15175,3421,5316.0,5958,3441.0,6074.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
9,1001000,2017,Flensburg,70105,49694,13382,12142,5073,5699.0,7416,3702.0,1857.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0

Calculate vote shares in percent

In [33]:
parties = ['Union',	'SPD', 'FDP', 'Linke', 'Grüne', 'AfD', 'Andere']
for party in parties:
    data[party] = data[party] / data['Wähler']
data['Wähler'] = data['Wähler'] / data['Wahlberechtigte']
data.head()

,AGS,year,GEN,Wahlberechtigte,Wähler,Union,SPD,FDP,Linke,Grüne,AfD,Andere,Erststimme,Zweitstimme,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100
0,1001000,2002,Flensburg,65740,0.746182,0.334692,0.536327,0.041546,0.015473,0.057753,0.0,0.003955,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,1001000,2002,Flensburg,65740,0.746182,0.292779,0.476944,0.069801,0.017511,0.113263,0.0,0.019489,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001000,2005,Flensburg,66970,0.731701,0.345986,0.495102,0.032672,0.047182,0.055692,0.0,0.055079,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,1001000,2005,Flensburg,66970,0.731701,0.283866,0.428554,0.085629,0.062569,0.102608,0.0,0.021122,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001000,2009,Flensburg,69075,0.674383,0.297512,0.355323,0.091299,0.100831,0.118498,0.0,0.111521,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0

View summary statistics

In [34]:
data.describe()

,AGS,year,Wahlberechtigte,Wähler,Union,SPD,FDP,Linke,Grüne,AfD,Andere,Erststimme,Zweitstimme,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100
count,1.225920e+05,122592.000000,1.225920e+05,1.225920e+05,122586.000000,122586.000000,122586.000000,122586.000000,122586.000000,122586.000000,122586.000000,61296.0,61296.0,103398.000000,103398.000000,103398.000000,103398.000000,103398.000000,103398.000000
mean,8.831771e+06,2008.922328,5.042865e+03,inf,0.418532,0.270223,0.074432,0.088981,0.057100,0.031184,0.079089,1.0,1.0,0.056171,0.146966,0.239618,0.326409,0.480087,0.737693
std,4.364083e+06,5.409901,2.354959e+04,NaN,0.121050,0.116843,0.045224,0.086051,0.035665,0.062069,0.081441,0.0,0.0,0.230253,0.354074,0.426852,0.468901,0.499606,0.439891
min,1.001000e+06,2002.000000,0.000000e+00,0.000000e+00,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.131062e+06,2005.000000,4.390000e+02,6.440097e-01,0.330784,0.176034,0.041885,0.029586,0.030864,0.000000,0.030928,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,8.327054e+06,2009.000000,1.162000e+03,7.140222e-01,0.405000,0.257635,0.066298,0.053571,0.050275,0.000000,0.054795,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.305102e+07,2013.000000,3.619000e+03,7.782582e-01,0.493377,0.351929,0.098266,0.136464,0.076549,0.040258,0.090237,1.0,1.0,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,1.607800e+07,2017.000000,1.296656e+06,inf,1.000000,0.815789,0.617647,0.564356,0.563628,0.523810,0.620690,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Split data in Erst- and Zweitstimme

In [35]:
erst = data[data['Erststimme'] == 1]
zweit = data[data['Zweitstimme'] == 1]
erst.head(10)

,AGS,year,GEN,Wahlberechtigte,Wähler,Union,SPD,FDP,Linke,Grüne,AfD,Andere,Erststimme,Zweitstimme,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100
0,1001000,2002,Flensburg,65740,0.746182,0.334692,0.536327,0.041546,0.015473,0.057753,0.000000,0.003955,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,1001000,2005,Flensburg,66970,0.731701,0.345986,0.495102,0.032672,0.047182,0.055692,0.000000,0.055079,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,1001000,2009,Flensburg,69075,0.674383,0.297512,0.355323,0.091299,0.100831,0.118498,0.000000,0.111521,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
6,1001000,2013,Flensburg,70321,0.665903,0.334145,0.403934,0.017234,0.069404,0.096803,0.031157,0.104149,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
8,1001000,2017,Flensburg,70105,0.708851,0.304665,0.305369,0.068841,0.106975,0.119894,0.069244,0.122228,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
10,1002000,2002,Kiel,176468,0.780640,0.292520,0.540491,0.058741,0.020783,0.067183,0.000000,0.007862,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
12,1002000,2005,Kiel,177028,0.770358,0.320007,0.509529,0.029654,0.042141,0.062717,0.000000,0.062658,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
14,1002000,2009,Kiel,182726,0.717052,0.280575,0.379732,0.082786,0.085442,0.131541,0.000000,0.101165,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
16,1002000,2013,Kiel,187464,0.704423,0.313576,0.432194,0.020469,0.054675,0.101958,0.027383,0.092879,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
18,1002000,2017,Kiel,186988,0.740588,0.291896,0.310924,0.072732,0.075902,0.145074,0.061221,0.107661,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0

Calculate average vote shares in all years by treated 50

In [37]:
erst_avg = erst[['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'AfD', 'Andere', 'treated_50', 'year']].groupby(['treated_50', 'year'], as_index = False).mean()
zweit_avg = zweit[['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'AfD', 'Andere', 'treated_50', 'year']].groupby(['treated_50', 'year'], as_index = False).mean()
erst_avg.head(10)

,treated_50,year,Union,SPD,FDP,Linke,Grüne,AfD,Andere
0,0.0,2002,0.480954,0.366429,0.052947,0.028160,0.042958,0.000000,0.011142
1,0.0,2005,0.468013,0.333236,0.046695,0.061643,0.041021,0.000000,0.091021
2,0.0,2009,0.426849,0.236991,0.098451,0.105513,0.073754,0.000000,0.141980
3,0.0,2013,0.497889,0.242843,0.021144,0.088708,0.050910,0.014937,0.155217
4,0.0,2017,0.410965,0.209253,0.061074,0.078049,0.058722,0.129097,0.117145
5,1.0,2002,0.460085,0.380323,0.062797,0.025903,0.045073,0.000000,0.007217
6,1.0,2005,0.453439,0.345980,0.051063,0.057253,0.042499,0.000000,0.085456
7,1.0,2009,0.430515,0.246040,0.102774,0.097875,0.072849,0.000000,0.126363
8,1.0,2013,0.502729,0.259427,0.024212,0.071600,0.052892,0.012935,0.129221
9,1.0,2017,0.420129,0.223728,0.066912,0.066291,0.056107,0.122114,0.096116