In [99]:
import numpy as np
import pandas as pd
import os
import geopandas as gpd
import matplotlib.pyplot as plt

In [100]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

In [112]:
municipalities = gpd.read_file(f'{path}/data/geodata/VG250_GEM.shp')
states = gpd.read_file(f'{path}/data/geodata/VG250_LAN.shp')
powerlines = gpd.read_file(f'{path}/data/geodata/powerlines.shp')
municipalities.describe()

           ADE            GF      BSG           IBZ           EWZ
count  11511.0  11511.000000  11511.0  11511.000000  1.151100e+04
mean       6.0      3.977065      1.0     63.262792  7.016546e+03
std        0.0      0.212949      0.0      1.168514  4.602541e+04
min        6.0      2.000000      1.0     60.000000  0.000000e+00
25%        6.0      4.000000      1.0     62.000000  5.730000e+02
50%        6.0      4.000000      1.0     64.000000  1.587000e+03
75%        6.0      4.000000      1.0     64.000000  5.005000e+03
max        6.0      4.000000      1.0     65.000000  3.421829e+06

In [117]:
merged = pd.read_csv(f'{path}/data/merged.csv', converters = {'AGS': str})
merged.head()

        AGS
0  01001000
1  01002000
2  01003000
3  01004000
4  01051001

In [120]:
merged_mun = municipalities.merge(merged, on='AGS', how='inner', indicator=True)
merged_mun = merged_mun[merged_mun['_merge'] == 'both']
merged_mun.describe()

           ADE            GF      BSG           IBZ           EWZ
count  11290.0  11290.000000  11290.0  11290.000000  1.129000e+04
mean       6.0      3.976616      1.0     63.229407  6.850807e+03
std        0.0      0.214999      0.0      1.154004  3.355405e+04
min        6.0      2.000000      1.0     60.000000  0.000000e+00
25%        6.0      4.000000      1.0     62.000000  6.080000e+02
50%        6.0      4.000000      1.0     64.000000  1.655000e+03
75%        6.0      4.000000      1.0     64.000000  5.120750e+03
max        6.0      4.000000      1.0     65.000000  1.746342e+06

In [121]:
fig, ax = plt.subplots(figsize=(10, 8), dpi=300)
ax.set_aspect('equal')
ax.set_axis_off()
merged_mun.plot(ax=ax, color='lightblue', zorder=1)
states.boundary.plot(ax=ax, color='black', lw = 0.1, zorder=2)
powerlines.plot(ax=ax, color='red', lw=2, zorder=3)
plt.title('Not merged municipalities', fontsize=14)
plt.savefig(f'{path}/figures/not_merged.png')
plt.close()