First, import needed modules

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

Initalize variables

In [21]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import datasets

In [22]:
ltw = pd.read_csv(f'{path}/data/ltw_treat.csv', encoding = 'UTF-8-SIG', sep=',', converters={'AGS': str})
ltw.head(10)

,AGS,GEN,year,Land,post_2010,post_2014,Union,SPD,Grüne,FDP,Linke,Andere,treatment,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100
0,03101000,Braunschweig,2008.0,NI,0.0,0.0,36.861503,31.245464,11.023763,8.087549,9.549529,3.232192,100,0.0,0.0,0.0,0.0,0.0,1.0
1,03101000,Braunschweig,2013.0,NI,1.0,0.0,29.666789,33.671272,18.608499,8.250600,4.246117,5.556723,100,0.0,0.0,0.0,0.0,0.0,1.0
2,03101000,Braunschweig,2017.0,NI,1.0,1.0,26.342641,37.604703,11.862375,7.904115,6.741527,9.544639,100,0.0,0.0,0.0,0.0,0.0,1.0
3,03102000,Salzgitter,2008.0,NI,0.0,0.0,37.476063,39.268958,4.291938,5.740138,8.828035,4.394868,100,0.0,0.0,0.0,0.0,0.0,1.0
4,03102000,Salzgitter,2013.0,NI,1.0,0.0,30.880127,44.075623,9.252751,6.053921,4.135136,5.602442,100,0.0,0.0,0.0,0.0,0.0,1.0
5,03102000,Salzgitter,2017.0,NI,1.0,1.0,24.445995,45.203436,4.266019,5.319891,4.862732,15.901927,100,0.0,0.0,0.0,0.0,0.0,1.0
6,03103000,Wolfsburg,2008.0,NI,0.0,0.0,43.121141,31.515784,6.509262,6.691886,7.863727,4.298200,None,0.0,0.0,0.0,0.0,0.0,0.0
7,03103000,Wolfsburg,2013.0,NI,1.0,0.0,37.629895,35.812910,10.901908,7.342017,3.210075,5.103196,None,0.0,0.0,0.0,0.0,0.0,0.0
8,03103000,Wolfsburg,2017.0,NI,1.0,1.0,29.942107,43.211115,5.754535,6.092242,4.525280,10.474720,None,0.0,0.0,0.0,0.0,0.0,0.0
9,03151001,Adenbüttel,2008.0,NI,0.0,0.0,47.568209,30.960854,6.287070,7.117438,4.863582,3.202847,100,0.0,0.0,0.0,0.0,0.0,1.0

View summary statistics

In [23]:
columns = ['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'treated_0', 'treated_10', 'treated_20', 'treated_30', 'treated_50', 'treated_100']
ltw.describe().to_csv(f'{path}/tables/ltw/ltw_descriptives.csv', sep=';', encoding='utf-8-sig', decimal=',', columns=columns, float_format='%.2f')
ltw[columns].describe()

,Union,SPD,FDP,Linke,Grüne,Andere,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100
count,13736.000000,13736.000000,13736.000000,13736.000000,13736.000000,13736.000000,13736.000000,13736.000000,13736.000000,13736.000000,13736.000000,13736.000000
mean,41.830596,19.786230,6.331049,6.856827,8.470474,16.775649,0.065812,0.151063,0.222991,0.289895,0.414167,0.674432
std,10.998720,11.493536,3.866301,8.578625,4.984097,10.548675,0.247963,0.358123,0.416267,0.453730,0.492596,0.468604
min,5.797101,0.000000,0.000000,0.202429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34.131409,10.292736,3.391062,2.151824,4.761905,7.758417,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,41.241238,17.318072,5.694441,3.488646,7.431409,15.626596,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,48.828452,28.293803,8.255045,5.681818,11.111111,24.031008,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,85.300668,58.673469,55.555556,45.535714,38.003901,71.186441,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
ltw['year'].value_counts().to_csv(f'{path}/tables/ltw/ltw_obsyears.csv', sep=';', encoding='utf-8-sig', decimal=',', float_format='%.2f')

Calculate average vote shares in all years by treated 50

In [25]:
ltw_avg = ltw[['Land', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'treatment', 'year']].groupby(['Land', 'treatment', 'year'], as_index = False).mean()
ltw_avg.head()

,Land,treatment,year,Union,SPD,FDP,Linke,Grüne,Andere
0,BY,0,2008.0,50.359178,16.895797,5.707974,4.814797,6.461095,15.877068
1,BY,0,2013.0,52.297720,18.883129,2.453463,2.348766,6.424600,17.688458
2,BY,0,2018.0,45.204023,9.192101,3.594468,2.958791,12.935773,26.227649
3,BY,10,2008.0,49.313949,16.976711,5.797405,4.496601,6.599927,16.934507
4,BY,10,2013.0,51.125679,18.321063,2.344863,2.106408,6.659938,19.557094

For each state, plot the average vote shares over years for treated and untreated municipalities

In [26]:
states = {'BY': 'Bavaria', 'HE': 'Hesse', 'NW': 'North-Rhine Westphalia', 'NI': 'Lower Saxony', 'TH': 'Thuringia'}
treatments = ['None', '0', '10', '20', '30', '50', '100']
blacks = ['#000000', '#191919', '#323232', '#4c4c4c', '#666666', '#7f7f7f', '#999999']
reds = ['#cc0000', '#d11919', '#d63232', '#db4c4c', '#e06666', '#e57f7f', '#ea9999']
yellows = ['#ffff00', '#ffff19', '#ffff32', '#ffff4c', '#ffff66', '#ffff7f', '#ffff99']
purples = ['#800080', '#8c198c', '#993299', '#a64ca6', '#b266b2', '#bf7fbf', '#cc99cc']
greens = ['#008000', '#198c19', '#329932', '#4ca64c', '#66b266', '#7fbf7f', '#99cc99']
greys = ['#808080', '#8c8c8c', '#999999', '#a6a6a6', '#b2b2b2', '#bfbfbf', '#cccccc']
markers = ['o', 's', 'v', 'D', '^', 'x', '.']

for abb, state in states.items():
    # keep only obs. corresponding to state
    state_data = ltw_avg[ltw_avg['Land'] == abb]
    # get years in a list
    years = state_data.year.unique().astype(int).tolist()
    # initialize figure 
    fig, axes = plt.subplots(nrows=3, ncols=2, figsize=(10, 10), dpi=300)
    # set x labels
    plt.setp(axes, xticks=years)
    # set legend font size
    plt.rc('legend',fontsize=6)
    # title for entire figure
    fig.suptitle(f'Average Vote Shares \n {state} State Parliament', fontsize=20)

    for i, treatment in enumerate(treatments):
        plot_data = state_data[state_data['treatment'] == treatment]
        # edit subplots
        axes[0, 0].set_title('Union', fontsize=12)
        axes[0, 0].set_ylabel('% Votes', fontsize=10)
        axes[0, 0].plot(plot_data['year'], plot_data['Union'], color=blacks[i], marker = markers[i], label=treatment, lw=0.8, markersize=4)
        axes[0, 0].legend(loc='lower left')
        axes[0, 0].axvline(x=2014, color='red', linestyle='--')

        axes[0, 1].set_title('SPD', fontsize=12)
        axes[0, 1].set_ylabel('% Votes', fontsize=10)
        axes[0, 1].plot(plot_data['year'], plot_data['SPD'], color=reds[i], marker = markers[i], label=treatment, lw=0.8, markersize=4)
        axes[0, 1].legend(loc='lower left')
        axes[0, 1].axvline(x=2014, color='red', linestyle='--')

        axes[1, 0].set_title('FDP', fontsize=12)
        axes[1, 0].set_ylabel('% Votes', fontsize=10)
        axes[1, 0].plot(plot_data['year'], plot_data['FDP'], color=yellows[i], marker = markers[i], label=treatment, lw=0.8, markersize=4)
        axes[1, 0].legend(loc='upper left')
        axes[1, 0].axvline(x=2014, color='red', linestyle='--')

        axes[1, 1].set_title('Linke', fontsize=12)
        axes[1, 1].set_ylabel('% Votes', fontsize=10)
        axes[1, 1].plot(plot_data['year'], plot_data['Linke'], color=purples[i], marker = markers[i], label=treatment, lw=0.8, markersize=4)
        axes[1, 1].legend(loc='upper left')
        axes[1, 1].axvline(x=2014, color='red', linestyle='--')

        axes[2, 0].set_title('Grüne', fontsize=12)
        axes[2, 0].set_ylabel('% Votes', fontsize=10)
        axes[2, 0].plot(plot_data['year'], plot_data['Grüne'], color=greens[i], marker = markers[i], label=treatment, lw=0.8, markersize=4)
        axes[2, 0].legend(loc='upper left')
        axes[2, 0].axvline(x=2014, color='red', linestyle='--')

        axes[2, 1].set_title('Andere', fontsize=12)
        axes[2, 1].set_ylabel('% Votes', fontsize=10)
        axes[2, 1].plot(plot_data['year'], plot_data['Andere'], color=greys[i], marker = markers[i], label=treatment, lw=0.8, markersize=4)
        axes[2, 1].legend(loc='upper left')
        axes[2, 1].axvline(x=2014, color='red', linestyle='--')

    # Save figure
    fig.savefig(f'{path}/figures/ltw/ltw_{abb}_vote_shares.png')
    plt.close()

Plot a map with the partys who received the largest first vote share in each year for each municipality

In [27]:
# Load shapefiles
import geopandas as gpd
municipalities = gpd.read_file(f'{path}/data/geodata/municipalities.shp')
states = gpd.read_file(f'{path}/data/geodata/VG250_LAN.shp')
powerlines = gpd.read_file(f'{path}/data/geodata/new_powerlines.shp')
powerlines = powerlines.set_geometry('geometry')

Replace State IDs with Abbreviations

In [28]:
abb = {'01': 'SH', '02': 'HH', '03': 'NI', '04': 'HB', '05': 'NW', '06': 'HE', '07': 'RP', '08': 'BW', \
         '09': 'BY', '10': 'SL', '11': 'BE', '12': 'BB', '13': 'MV', '14': 'SN', '15': 'ST', '16': 'TH'}
for key, value in abb.items():
    municipalities['SN_L'] = np.where(municipalities['SN_L'] == key, value, municipalities['SN_L'])
    states['SN_L'] = np.where(states['SN_L'] == key, value, states['SN_L'])

In [29]:
municipalities['SN_L'].unique()

array(['BW', 'NW', 'BY', 'NI', 'SN', 'RP', 'MV', 'BB', 'TH', 'SL', 'ST',
       'HE', 'SH', 'HB', 'HH', 'BE'], dtype=object)

In [30]:
states['SN_L'].unique()

array(['SH', 'NI', 'HH', 'MV', 'BW', 'BY', 'HB', 'BE', 'ST', 'RP', 'TH',
       'HE', 'SL', 'NW', 'BB', 'SN'], dtype=object)

In [31]:
ltw['Land'].unique()

array(['NI', 'NW', 'HE', 'BY', 'TH'], dtype=object)

In [32]:
# Prepare df with election winners
ltw_win = ltw[['AGS', 'Land', 'year', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']]
ltw_win['winner'] = ltw_win[['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']].idxmax(axis = 1)
ltw_win = ltw_win[['AGS', 'Land', 'year', 'winner']]
ltw_win['winner'].describe()

/var/folders/wm/mtrphj0s0msgrmyshf3hgk740000gn/T/ipykernel_70458/1152327886.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ltw_win['winner'] = ltw_win[['Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere']].idxmax(axis = 1)

count     13736
unique        6
top       Union
freq      10839
Name: winner, dtype: object

Add colors

In [33]:
# add color column to df
colors = {'Union': '#000000', 'SPD': '#cc0000', 'FDP': '#ffff00', 'Grüne': '#008000', 'Linke': '#800080', 'Andere': '#808080'}
ltw_win['color'] = 0
for party, color in colors.items():
    ltw_win['color'] = np.where(ltw_win['winner'] == party, color, ltw_win['color'])

In [34]:
# Merge win and municipalities
ltw_win_plot = pd.merge(ltw_win, municipalities, on='AGS')
ltw_win_plot = ltw_win_plot.set_geometry('geometry')

In [35]:
from geopandas.tools import overlay
abb = {'BY': 'Bavaria', 'HE': 'Hesse', 'NW': 'North-Rhine Westphalia', 'NI': 'Lower Saxony', 'TH': 'Thuringia'}

for abb, state in abb.items():
    # keep only obs. corresponding to state
    state_winners = ltw_win_plot[ltw_win_plot['Land'] == abb]
    municipalities_plot = municipalities[municipalities['SN_L'] == abb]
    states_plot = states[states['SN_L'] == abb]
    # keep only parts of powerlines that intersect state
    powerlines_state = powerlines.overlay(states_plot, how='intersection')
    # get years in a list
    years = state_winners.year.unique().astype(int).tolist()
    # initialize figure 
    fig, ax = plt.subplots(nrows=3, figsize=(10, 10), dpi=300)
    # title for entire figure
    fig.suptitle(f'{state} State Parliament Election Winners', fontsize=20)
    for i, year in enumerate(years):
        plot_data = state_winners[state_winners['year'] == year]
        ax[i].set_aspect('equal')
        ax[i].set_axis_off()
        ax[i].set_title(f'{year}')
        municipalities_plot.plot(ax=ax[i], color='lightblue', edgecolor='blue', lw=0.01, zorder=1)
        states_plot.boundary.plot(ax=ax[i], color='darkblue', lw = 0.1, zorder=2)
        plot_data.plot(ax=ax[i], color=plot_data['color'], lw=0.01, zorder=1)
        powerlines_state.plot(ax=ax[i], color='purple', lw=2, zorder=2)
    plt.savefig(f'{path}/figures/ltw/ltw_{abb}_winners.png')
    plt.close()