First, import needed modules

In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

Initalize variables

In [43]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import datasets

In [44]:
data = pd.read_csv(f'{path}/data/ltw.csv', encoding = 'UTF-8-SIG', sep=',')
#data = data.set_index(['AGS', 'year'])
data.head(10)

,AGS,GEN,year,Land,post_2010,post_2014,Union,SPD,Grüne,FDP,...,avg_income,avg_age,age 0-17,age 18-24,age 25-44,age 45-64,age 65+,protestant,catholic,religion_other
0,3101000,Braunschweig,2008.0,NI,0.0,0.0,36.861503,31.245464,11.023763,8.087549,...,31800.0,43.6,14.6,9.2,28.6,26.7,20.9,0.395453,0.140082,0.464465
1,3101000,Braunschweig,2013.0,NI,1.0,0.0,29.666789,33.671272,18.608499,8.250600,...,31800.0,43.6,14.6,9.2,28.6,26.7,20.9,0.395453,0.140082,0.464465
2,3101000,Braunschweig,2017.0,NI,1.0,1.0,26.342641,37.604703,11.862375,7.904115,...,31800.0,43.6,14.6,9.2,28.6,26.7,20.9,0.395453,0.140082,0.464465
3,3102000,Salzgitter,2008.0,NI,0.0,0.0,37.476063,39.268958,4.291938,5.740138,...,26200.0,45.5,16.4,7.8,21.9,30.1,23.8,0.404833,0.176531,0.418636
4,3102000,Salzgitter,2013.0,NI,1.0,0.0,30.880127,44.075623,9.252751,6.053921,...,26200.0,45.5,16.4,7.8,21.9,30.1,23.8,0.404833,0.176531,0.418636
5,3102000,Salzgitter,2017.0,NI,1.0,1.0,24.445995,45.203436,4.266019,5.319891,...,26200.0,45.5,16.4,7.8,21.9,30.1,23.8,0.404833,0.176531,0.418636
6,3103000,Wolfsburg,2008.0,NI,0.0,0.0,43.121141,31.515784,6.509262,6.691886,...,31000.0,44.6,15.3,8.1,26.2,27.8,22.7,0.402120,0.172331,0.425548
7,3103000,Wolfsburg,2013.0,NI,1.0,0.0,37.629895,35.812910,10.901908,7.342017,...,31000.0,44.6,15.3,8.1,26.2,27.8,22.7,0.402120,0.172331,0.425548
8,3103000,Wolfsburg,2017.0,NI,1.0,1.0,29.942107,43.211115,5.754535,6.092242,...,31000.0,44.6,15.3,8.1,26.2,27.8,22.7,0.402120,0.172331,0.425548
9,3151001,Adenbüttel,2008.0,NI,0.0,0.0,47.568209,30.960854,6.287070,7.117438,...,42300.0,40.7,22.2,7.4,23.2,32.2,14.9,0.587834,0.096646,0.315520

View summary statistics

In [45]:
columns = ['AGS', 'year', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'treated_0', 'treated_10', 'treated_20', 'treated_30', 'treated_50', 'treated_100']
data.describe().to_csv(f'{path}/tables/ltw/ltw_descriptives.csv', sep=';', encoding='utf-8-sig', decimal=',', columns=columns, float_format='%.2f')
data.describe()

,AGS,year,post_2010,post_2014,Union,SPD,Grüne,FDP,Linke,Andere,...,avg_income,avg_age,age 0-17,age 18-24,age 25-44,age 45-64,age 65+,protestant,catholic,religion_other
count,1.373000e+04,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,13730.000000,...,13715.000000,13722.000000,13722.000000,13719.000000,13722.000000,13722.000000,13722.000000,13687.000000,13687.000000,13687.000000
mean,8.642552e+06,2013.027749,0.659068,0.377130,41.831258,19.779630,8.472463,6.330580,6.857527,16.779390,...,31317.914692,44.052485,17.179325,7.520971,23.562622,31.747981,19.990118,0.332087,0.398688,0.269224
std,4.055690e+06,3.876644,0.474040,0.484686,11.000669,11.491222,4.984088,3.866734,8.580106,10.549009,...,6548.631908,2.307780,2.482644,1.545162,2.234820,2.686994,3.482183,0.244008,0.322049,0.183206
min,3.101000e+06,2008.000000,0.000000,0.000000,5.797101,0.000000,0.000000,0.000000,0.202429,0.000000,...,15400.000000,33.800000,5.800000,0.500000,11.100000,21.200000,4.000000,0.000000,0.000000,0.000000
25%,5.558013e+06,2009.000000,0.000000,0.000000,34.130754,10.291080,4.761905,3.389831,2.152034,7.760594,...,27500.000000,42.500000,15.800000,6.800000,22.200000,30.100000,17.600000,0.109426,0.072957,0.134661
50%,9.271125e+06,2013.000000,1.000000,0.000000,41.245968,17.309479,7.434524,5.692517,3.488646,15.630401,...,30600.000000,43.900000,17.300000,7.700000,23.500000,31.400000,19.700000,0.255465,0.338224,0.217735
75%,9.678176e+06,2017.000000,1.000000,1.000000,48.837961,28.285260,11.111111,8.254934,5.676469,24.031360,...,33900.000000,45.400000,18.800000,8.400000,24.900000,33.000000,22.000000,0.563069,0.721111,0.341052
max,1.607706e+07,2019.000000,1.000000,1.000000,85.300668,58.673469,38.003901,55.555556,45.535714,71.186441,...,118500.000000,55.500000,26.500000,26.600000,34.900000,49.500000,42.700000,0.905697,1.000000,0.945913

In [46]:
data['year'].value_counts().to_csv(f'{path}/tables/ltw/ltw_obsyears.csv', sep=';', encoding='utf-8-sig', decimal=',', float_format='%.2f')

Calculate average vote shares in all years by treated 50

In [47]:
ltw_avg = data[['Land', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'treatment', 'year']].groupby(['Land', 'treatment', 'year'], as_index = False).mean()
ltw_avg.head()

,Land,treatment,year,Union,SPD,FDP,Linke,Grüne,Andere
0,BY,0,2008.0,50.359178,16.895797,5.707974,4.814797,6.461095,15.877068
1,BY,0,2013.0,52.297720,18.883129,2.453463,2.348766,6.424600,17.688458
2,BY,0,2018.0,45.204023,9.192101,3.594468,2.958791,12.935773,26.227649
3,BY,10,2008.0,49.313949,16.976711,5.797405,4.496601,6.599927,16.934507
4,BY,10,2013.0,51.125679,18.321063,2.344863,2.106408,6.659938,19.557094

For each state, plot the average vote shares over years for treated and untreated municipalities

In [48]:
states = ['BY', 'HE', 'NW', 'NI', 'TH']
treatments = ['None', '0', '10', '20', '30', '50', '100']
blacks = ['#000000', '#191919', '#323232', '#4c4c4c', '#666666', '#7f7f7f', '#999999']
reds = ['#cc0000', '#d11919', '#d63232', '#db4c4c', '#e06666', '#e57f7f', '#ea9999']
yellows = ['#ffff00', '#ffff19', '#ffff32', '#ffff4c', '#ffff66', '#ffff7f', '#ffff99']
purples = ['#800080', '#8c198c', '#993299', '#a64ca6', '#b266b2', '#bf7fbf', '#cc99cc']
greens = ['#008000', '#198c19', '#329932', '#4ca64c', '#66b266', '#7fbf7f', '#99cc99']
greys = ['#808080', '#8c8c8c', '#999999', '#a6a6a6', '#b2b2b2', '#bfbfbf', '#cccccc']
markers = ['o', 's', 'v', 'D', '^', 'x', '.']

for state in states:
    # keep only obs. corresponding to state
    state_data = ltw_avg[ltw_avg['Land'] == state]
    # get years in a list
    years = state_data.year.unique().astype(int).tolist()
    # initialize figure 
    fig, axes = plt.subplots(nrows=3, ncols=2, figsize=(10, 10), dpi=300)
    #set x labels
    plt.setp(axes, xticks=years)
    # title for entire figure
    fig.suptitle(f'Average Vote Shares \n {state} State Parliament', fontsize=20)

    for i, treatment in enumerate(treatments):
        plot_data = state_data[state_data['treatment'] == treatment]
        # edit subplots
        axes[0, 0].set_title('Union', fontsize=12)
        axes[0, 0].set_ylabel('% Votes', fontsize=10)
        axes[0, 0].plot(plot_data['year'], plot_data['Union'], color=blacks[i], marker = markers[i], label=treatment)
        axes[0, 0].legend(loc='lower left')
        axes[0, 0].axvline(x=2014, color='red', linestyle='--')

        axes[0, 1].set_title('SPD', fontsize=12)
        axes[0, 1].set_ylabel('% Votes', fontsize=10)
        axes[0, 1].plot(plot_data['year'], plot_data['SPD'], color=reds[i], marker = markers[i], label=treatment)
        axes[0, 1].legend(loc='lower left')
        axes[0, 1].axvline(x=2014, color='red', linestyle='--')

        axes[1, 0].set_title('FDP', fontsize=12)
        axes[1, 0].set_ylabel('% Votes', fontsize=10)
        axes[1, 0].plot(plot_data['year'], plot_data['FDP'], color=yellows[i], marker = markers[i], label=treatment)
        axes[1, 0].legend(loc='upper left')
        axes[1, 0].axvline(x=2014, color='red', linestyle='--')

        axes[1, 1].set_title('Linke', fontsize=12)
        axes[1, 1].set_ylabel('% Votes', fontsize=10)
        axes[1, 1].plot(plot_data['year'], plot_data['Linke'], color=purples[i], marker = markers[i], label=treatment)
        axes[1, 1].legend(loc='upper left')
        axes[1, 1].axvline(x=2014, color='red', linestyle='--')

        axes[2, 0].set_title('Grüne', fontsize=12)
        axes[2, 0].set_ylabel('% Votes', fontsize=10)
        axes[2, 0].plot(plot_data['year'], plot_data['Grüne'], color=greens[i], marker = markers[i], label=treatment)
        axes[2, 0].legend(loc='upper left')
        axes[2, 0].axvline(x=2014, color='red', linestyle='--')

        axes[2, 1].set_title('Andere', fontsize=12)
        axes[2, 1].set_ylabel('% Votes', fontsize=10)
        axes[2, 1].plot(plot_data['year'], plot_data['Andere'], color=greys[i], marker = markers[i], label=treatment)
        axes[2, 1].legend(loc='upper left')
        axes[2, 1].axvline(x=2014, color='red', linestyle='--')

    # Save figure
    fig.savefig(f'{path}/figures/ltw/ltw_{state}_vote_shares.png')
    plt.close()