First, import needed modules

In [13]:
import numpy as np
import pandas as pd
import os

Initalize variables

In [14]:
path = os.getcwd()
print(path)

/Users/jan/Dropbox/UP_EPQM/2222/MA/powerlinemonsters

Import dataset

In [15]:
btw = pd.read_csv(f'{path}/data/btw.csv', converters={'AGS': str})
btw.head()

,AGS,year,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wahlberechtigte,Wähler,Union,SPD,FDP,Linke,Grüne,Andere
0,01001000,2002,0,0,1,1.0,NaN,65740,74.618193,33.469238,53.632731,4.154605,1.547274,5.775268,0.395483
1,01001000,2002,0,0,1,NaN,1.0,65740,74.618193,29.277939,47.694378,6.980063,1.751131,11.326293,1.948873
2,01001000,2005,0,0,1,1.0,NaN,66970,73.170076,34.598588,49.510224,3.267214,4.718175,5.569160,0.789764
3,01001000,2005,0,0,1,NaN,1.0,66970,73.170076,28.386596,42.855394,8.562916,6.256887,10.260806,2.112159
4,01001000,2009,0,0,1,1.0,NaN,69075,67.438292,29.751197,35.532276,9.129940,10.083078,11.849816,1.069060

Merge with treatment dataset

In [16]:
treatment = pd.read_csv(f'{path}/data/treatment.csv', converters = {'AGS': str})
#data = btw.join(treatment.set_index(['AGS']))
data = pd.merge(btw, treatment, on='AGS', how='left', indicator=True)
data.head(10)

,AGS,year,post_2013,post_2017,Land,Erststimme,Zweitstimme,Wahlberechtigte,Wähler,Union,...,Grüne,Andere,GEN,treated_0,treated_10,treated_20,treated_30,treated_50,treated_100,_merge
0,01001000,2002,0,0,1,1.0,NaN,65740,74.618193,33.469238,...,5.775268,0.395483,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
1,01001000,2002,0,0,1,NaN,1.0,65740,74.618193,29.277939,...,11.326293,1.948873,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
2,01001000,2005,0,0,1,1.0,NaN,66970,73.170076,34.598588,...,5.569160,0.789764,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
3,01001000,2005,0,0,1,NaN,1.0,66970,73.170076,28.386596,...,10.260806,2.112159,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
4,01001000,2009,0,0,1,1.0,NaN,69075,67.438292,29.751197,...,11.849816,1.069060,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
5,01001000,2009,0,0,1,NaN,1.0,69075,67.438292,24.124681,...,15.720327,5.010412,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
6,01001000,2013,1,0,1,1.0,NaN,70321,66.590350,33.414483,...,9.680313,6.590215,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
7,01001000,2013,1,0,1,NaN,1.0,70321,66.590350,30.187712,...,11.760309,9.184872,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
8,01001000,2017,1,1,1,1.0,NaN,70105,70.885101,30.466455,...,11.989375,8.449712,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both
9,01001000,2017,1,1,1,NaN,1.0,70105,70.885101,26.928804,...,14.923331,11.186461,Flensburg,0.0,0.0,0.0,0.0,0.0,1.0,both

Inspect merge results

In [17]:
print(data['_merge'].describe())

count     122592
unique         2
top         both
freq      103398
Name: _merge, dtype: object

In [18]:
merged = data[data['_merge'] == 'both'] # create df of only the merged municipalities
merged = merged.reindex(columns = ['AGS']) # drop all columns but the AGS
merged = merged.groupby(['AGS'], as_index=True).first() # collapse to keep only one AGS
merged.to_csv(f'{path}/data/merged.csv')
merged.head()

Empty DataFrame
Columns: []
Index: [01001000, 01002000, 01003000, 01004000, 01051001]

Clean data

In [19]:
data = data.set_index(['AGS', 'year'])
data = data.drop(columns=['_merge'])
data = data.reindex(columns=['post_2013', 'post_2017', 'GEN', 'Land', 'Wahlberechtigte', 'Wähler', 'Union', 'SPD', 'FDP', 'Linke', 'Grüne', 'Andere', 'Erststimme', 'Zweitstimme', 'treated_0', 'treated_10', 'treated_20', 'treated_30', 'treated_50', 'treated_100'])
#data = data.sort_values(by=['AGS', 'year'])
data.head(10)

               post_2013  post_2017        GEN  Land  Wahlberechtigte  \
AGS      year
01001000 2002          0          0  Flensburg     1            65740
         2002          0          0  Flensburg     1            65740
         2005          0          0  Flensburg     1            66970
         2005          0          0  Flensburg     1            66970
         2009          0          0  Flensburg     1            69075
         2009          0          0  Flensburg     1            69075
         2013          1          0  Flensburg     1            70321
         2013          1          0  Flensburg     1            70321
         2017          1          1  Flensburg     1            70105
         2017          1          1  Flensburg     1            70105

                  Wähler      Union        SPD        FDP      Linke  \
AGS      year
01001000 2002  74.618193  33.469238  53.632731   4.154605   1.547274
         2002  74.618193  29.277939  47.694378   6.980063   1.751131
         2005  73.170076  34.598588  49.510224   3.267214   4.718175
         2005  73.170076  28.386596  42.855394   8.562916   6.256887
         2009  67.438292  29.751197  35.532276   9.129940  10.083078
         2009  67.438292  24.124681  27.346886  14.017989  11.306700
         2013  66.590350  33.414483  40.393363   1.723365   6.940440
         2013  66.590350  30.187712  35.193371   4.401307   8.072266
         2017  70.885101  30.466455  30.536886   6.884131  10.697469
         2017  70.885101  26.928804  24.433533  10.208476  11.468185

                   Grüne     Andere  Erststimme  Zweitstimme  treated_0  \
AGS      year
01001000 2002   5.775268   0.395483         1.0          NaN        0.0
         2002  11.326293   1.948873         NaN          1.0        0.0
         2005   5.569160   0.789764         1.0          NaN        0.0
         2005  10.260806   2.112159         NaN          1.0        0.0
         2009  11.849816   1.069060         1.0          NaN        0.0
         2009  15.720327   5.010412         NaN          1.0        0.0
         2013   9.680313   6.590215         1.0          NaN        0.0
         2013  11.760309   9.184872         NaN          1.0        0.0
         2017  11.989375   8.449712         1.0          NaN        0.0
         2017  14.923331  11.186461         NaN          1.0        0.0

               treated_10  treated_20  treated_30  treated_50  treated_100
AGS      year
01001000 2002         0.0         0.0         0.0         0.0          1.0
         2002         0.0         0.0         0.0         0.0          1.0
         2005         0.0         0.0         0.0         0.0          1.0
         2005         0.0         0.0         0.0         0.0          1.0
         2009         0.0         0.0         0.0         0.0          1.0
         2009         0.0         0.0         0.0         0.0          1.0
         2013         0.0         0.0         0.0         0.0          1.0
         2013         0.0         0.0         0.0         0.0          1.0
         2017         0.0         0.0         0.0         0.0          1.0
         2017         0.0         0.0         0.0         0.0          1.0

Interact treatment dummies with post-treatment indicators

In [20]:
dummies = ['treated_0', 'treated_10', 'treated_20', 'treated_30', 'treated_50', 'treated_100']
for dummy in dummies:
    data.insert(loc=len(data.columns), column=f'{dummy}*post_2013', value=(data[dummy]*data['post_2013']))
    data.insert(loc=len(data.columns), column=f'{dummy}*post_2017', value=(data[dummy]*data['post_2017']))
data.head(10)

               post_2013  post_2017        GEN  Land  Wahlberechtigte  \
AGS      year
01001000 2002          0          0  Flensburg     1            65740
         2002          0          0  Flensburg     1            65740
         2005          0          0  Flensburg     1            66970
         2005          0          0  Flensburg     1            66970
         2009          0          0  Flensburg     1            69075
         2009          0          0  Flensburg     1            69075
         2013          1          0  Flensburg     1            70321
         2013          1          0  Flensburg     1            70321
         2017          1          1  Flensburg     1            70105
         2017          1          1  Flensburg     1            70105

                  Wähler      Union        SPD        FDP      Linke  ...  \
AGS      year                                                         ...
01001000 2002  74.618193  33.469238  53.632731   4.154605   1.547274  ...
         2002  74.618193  29.277939  47.694378   6.980063   1.751131  ...
         2005  73.170076  34.598588  49.510224   3.267214   4.718175  ...
         2005  73.170076  28.386596  42.855394   8.562916   6.256887  ...
         2009  67.438292  29.751197  35.532276   9.129940  10.083078  ...
         2009  67.438292  24.124681  27.346886  14.017989  11.306700  ...
         2013  66.590350  33.414483  40.393363   1.723365   6.940440  ...
         2013  66.590350  30.187712  35.193371   4.401307   8.072266  ...
         2017  70.885101  30.466455  30.536886   6.884131  10.697469  ...
         2017  70.885101  26.928804  24.433533  10.208476  11.468185  ...

               treated_10*post_2013  treated_10*post_2017  \
AGS      year
01001000 2002                   0.0                   0.0
         2002                   0.0                   0.0
         2005                   0.0                   0.0
         2005                   0.0                   0.0
         2009                   0.0                   0.0
         2009                   0.0                   0.0
         2013                   0.0                   0.0
         2013                   0.0                   0.0
         2017                   0.0                   0.0
         2017                   0.0                   0.0

               treated_20*post_2013  treated_20*post_2017  \
AGS      year
01001000 2002                   0.0                   0.0
         2002                   0.0                   0.0
         2005                   0.0                   0.0
         2005                   0.0                   0.0
         2009                   0.0                   0.0
         2009                   0.0                   0.0
         2013                   0.0                   0.0
         2013                   0.0                   0.0
         2017                   0.0                   0.0
         2017                   0.0                   0.0

               treated_30*post_2013  treated_30*post_2017  \
AGS      year
01001000 2002                   0.0                   0.0
         2002                   0.0                   0.0
         2005                   0.0                   0.0
         2005                   0.0                   0.0
         2009                   0.0                   0.0
         2009                   0.0                   0.0
         2013                   0.0                   0.0
         2013                   0.0                   0.0
         2017                   0.0                   0.0
         2017                   0.0                   0.0

               treated_50*post_2013  treated_50*post_2017  \
AGS      year
01001000 2002                   0.0                   0.0
         2002                   0.0                   0.0
         2005                   0.0                   0.0
         2005                   0.0                   0.0
         2009                   0.0                   0.0
         2009                   0.0                   0.0
         2013                   0.0                   0.0
         2013                   0.0                   0.0
         2017                   0.0                   0.0
         2017                   0.0                   0.0

               treated_100*post_2013  treated_100*post_2017
AGS      year
01001000 2002                    0.0                    0.0
         2002                    0.0                    0.0
         2005                    0.0                    0.0
         2005                    0.0                    0.0
         2009                    0.0                    0.0
         2009                    0.0                    0.0
         2013                    1.0                    0.0
         2013                    1.0                    0.0
         2017                    1.0                    1.0
         2017                    1.0                    1.0

[10 rows x 32 columns]

Drop missing values

In [21]:
data = data.dropna(axis='rows', how='any', subset=['GEN', 'Union',	'SPD', 'FDP', 'Linke', 'Grüne', 'Andere'])

Export dataset

In [22]:
data.to_csv(f'{path}/data/btw_treatment.csv', encoding = 'utf-8-sig')